<div id="new_address" class="modal hide fade new_wrap" tabindex="-1" role="dialog" aria-labelledby="addAddressLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="addAddressLabel">新增地址</h3>
  </div>
  <div class="modal-body">
    <%=render :partial => "delivery_addresses/form",
      :locals => {
        :url => person_delivery_addresses_path(current_user),
        :address => address
      } %>      
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary save-button">保存</button>
  </div>
</div>