<div class="row-fluid">
	<div class="span3 ">
		<h4 class="text-right">请选经营择行业:</h4>
	</div>
	<select class="span2">
		<option>
			请选择
		</option>
		<option>
			奶 粉
		</option>
	</select>
	<div class="control-group">
		<div class="controls">
			<%= link_to '下一步', next_wizard_path, :class => 'btn btn-primary' %>
		</div>
	</div>
</div>
