<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2 product-catefory">
			<ul>
				<li>category</li>
				<li>...</li>
			</ul>
		</div>
		<div class="span3 product-catefory">
			<ul>
				<li>样乃</li>
				<li>。。。</li>
			</ul>
		</div>
		<div class="span1">
			<input type="button" value="=>">
		</div>
		<div class="span5 product-catefory">
			<table class="table">
				<tr>
					<th>产品名</th>
					<th>价格</th>
					<th>库存</th>
				</tr>
				<tr>
					<td>牛奶分</td>
					<td>24元</td>
					<td>100</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<%= link_to '下一步', next_wizard_path, :class => 'btn btn-primary' %>
		</div>
	</div>
</div>