<div class="container" style="padding-left:150px;">
	<div class="row">
		<div class="span3 ">
			<h4 class="text-right">请选经营择行业:</h4>
		</div>
		<select class="span2" style="margin-left:20px;">
			<option>
				请选择
			</option>
			<option>
				奶 粉
			</option>
		</select>
	</div>
	<div class="row">
		<div class="span3 ">
			<h4 class="text-right">请上传企业头像:</h4>
		</div>
		<div class="span3">
			<input type="upload" class="btn"  value="点击上传">
		</div>
	</div>
</div>
<!-- <div class="pull-right">
		<img src="/assets/next.png" style="height:80px;width:100px;">
</div> -->
<div class="control-group">
    <div class="controls">
      	  <%= link_to '下一步', next_wizard_path, :class => 'btn btn-primary' %>
    </div>
  </div>
