<div class="row-fluid">
	<div class='offset1 span10'>
		<div class='dialog'>
			<div class="span2 dom">
				<%= render "category_sidebar" %>
			</div> 
			<div class="span3">
				<select multiple="multiple" name="product" style="height:400px;">
				</select>
			</div>
			<div class="span1" style="margin-left:-30px;padding-top:30px;">
				<input type="button" value="=>" name="get_select">
			</div>
			<div class="span4">
				<table class="table">
					<tr>
						<th>产品名</th>
						<th>价格</th>
						<th>库存</th>
					</tr>
				</table>
			</div>
			<div class="form-actions">
				<%= link_to '下一步', next_wizard_path, :class => 'btn btn-primary' %>
				<%= link_to '上一步', previous_wizard_path, :class => 'btn btn-primary' %>
			</div>
		</div>
	</div>
</div>


