<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<ul>
				<li>category</li>
				<li>...</li>
			</ul>
		</div>
		<div class="span3">
			<ul>
				<li>样乃</li>
				<li>。。。</li>
			</ul>
		</div>
		<div class="span7">
			<table>
				<tr>
					<td>产品名</td>
					<td>价格</td>
					<td>库存</td>
				</tr>
			</table>
		</div>
	</div>
</div>