<div class="row-fluid">
  <div class='offset1 span10'>
    <div class='dialog'>
      <div class="page-header">
        <h2 class="page-title">请选择你经营的商品</h2>
      </div>
      <%= render "add_products", :shop => current_user.try(:shop) %>
    <div class='row-fluid'>
      <%= form_for @user_checking, :url => wizard_path, :method => :put, class: "form-horizontal" do |f| %>
        <div class="form-actions">
          <div class="pull-left">
            <%= link_to '上一步', previous_wizard_path, :class => 'btn btn-primary' %>
          </div>
          <div class="pull-right">
            <%= f.submit "完成", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>