<div class='span3 user_info buyer_user' id="{{ id }}">
	<div>
		<a href="#">
			<img src="{{ ower_photos.icon }}" class="user_icon"/>
		</a>
	</div>
	<div  class="pull-right title"> 
		<div class="name"><a herf="#">{{ shop_name }} </a></div>
		<div class="tel"><i class="icon-phone-sign"></i> {{ phone }}</div>
	</div>
</div>
