<div class="row-fluid">
	<div class="offset2 span8">
		<div class='dialog'>
			<div class="page-header">
				<h2 class="page-title">
					选择行业
					<small>选择好您从事的行业，可以让我们更精确的为您提供服务</small>
				</h2>
			</div>
			<%= simple_form_for @user_checking,
				url: '/completing_people/pick_industry',
				html: { method: :put, class: "form-horizontal" } do |f| %>
				<div class="row-fluid">
					<%= f.input :industry_type, collection: ['奶 粉'], selected: "奶 粉", label: "经营行业" %>
				<div>
				<div class="row-fluid">
					<% if Rails.env.development? %>
						<div class="pull-left">
							<%= link_to '上一步(测试)', previous_wizard_path, :class => 'btn btn-primary' %>
						</div>
					<% end %>
					<div class="pull-right">
						<%= f.submit "下一步", class: "btn btn-primary" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>