<div class="attachable">
  <img  class="img-rounded attachable-preview" />
  <input type="hidden" />
  <div class="attachment-upload"></div>
  <div class="nav-panle">
  <a href="javascript:void(0)" class="delete-img">删除</a>
  </div>
  <div class="progress-panle">
    <div class="progress progress-mini progress-success">
      <div class="bar" style="width: 0%"></div>
    </div>
  </div>
</div>