<div class="region offset1">
    <div class="region_name">请输入区域名
        <input type="text" name="region_name" class="region_name_input">
    </div>
    <div class="advertisement">请输入广告词
        <textarea class="ad"></textarea>
    </div>
	<%= render "address" %>
	<%= render "upload_photo" %>
	<div class='region_create'>
        <button class="btn">添加</button>
    </div>
</div>

<script type="text/javascript">
  $(function(){
    new RegionView({
        el : $(".region")
    })
  })
</script>