<div id="form_editor">
	<%= simple_form_for @template, :url => admins_template(@template), :remote => true do |f| %>
		<%= f.input :name %>
		<%= f.input :data, as: :text %>
		<%= f.button :submit, :save %>
	<% end %>
</div>
