<li>
	<div class="overview">
		<%= image_tag transaction.seller.photos.header %>
	</div>
	<div class="info">
		<h1><%=link_to transaction.seller.name, person_transaction_path(people.login, transaction) %></h1>
	</div>
	<div class="clearfix"></div>
</li>