<!-- 等待收货确认 -->
<div class="container-fluid">
	<div class="row">
		<div class="span4">
		</div>
		<div class="span8">

			<img src="http://maps.googleapis.com/maps/api/staticmap?center=-15.800513,-47.91378&zoom=11&size=200x200&sensor=false">
		</div>
	</div>
</div>
<div class="">&nbsp;</div>
