<!-- 等待发货 -->
<div class="container-fluid">
  <div class='row-fluid'>
    <div class='span10'><h1>等待对方发货中...</h1></div>
    <div class='span2' style='text-align:right;'>
      <a href='javascript:void(0)' class='returned-event'>
        申请退货
      </a>
    </div>
  </div>
</div>
<%= render "refund_display", :transaction => transaction, :people => people %>