<% active_section :completed %>
<div class='row-fluid'>
  <div class='span12'>
  <% @transactions.each do |transaction| %>
    <%= render partial: 'transaction',
     object:  transaction,
     locals: {
       state:  transaction.state,
       people: @people
     } %>
  <% end %>
  </div>
</div>