<% active_section :completed %>
<div class='row-fluid'>
  <div class='span12'>
  <% @transactions.each do |transaction| %>
    <%= render partial: 'transaction',
     object:  transaction,
     locals: {
       state:  transaction.state,
       people: @people
     } %>
  <% end %>
  </div>
</div>
<script type='text/javascript' >
  $(document).ready(function(){
    $(".transaction").each(function(i, elem){
      var card = new TransactionCard({
        el: elem,
        realtime: {
          url: '<%= faye_server_uri %>',
          token: '<%= token %>' }
        });
    });
  })
</script>