<div class="dialog order_dialog modal hidden" tabindex="-1" role="dialog" aria-labelledby="orderLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <div class='btn-group page'>
      <input type='button' class='btn btn-small' value='上一个' />
      <input type='button' class='btn btn-small' value='下一个' />
    </div>
    <h3 class='title'>
      编号 <%=@transaction.number %>订单
    </h3>
  </div>
  <div class="modal-body">
    <%= render partial: 'transaction',
        object:  @transaction,
        locals: {
          state:  @transaction.state,
          people: @people
      } %>
  </div>
<!--   <div class="modal-footer toolbar">
  </div> -->
</div>