<% active_section :transaction %>
<div class="sidebar_panel">
  <div class="right-sidebar">
    <% if @transactions.size > 0 %>
    <div class="widget">
      <h2>已下订单</h2>
      <ul class="cards">
      <% @transactions.each do |transaction| %>
          <%= render :partial => 'trans_card', :locals => { :transaction => transaction, :state => transaction.state, :people => @people } %>
      <% end %>
      </ul>
     </div>
     <% end %>
  </div>
  <div class="main-sidebar container-fluid">
    <div class="page-header">
      <h1>已下单 <small>你挑选的宝贝都在这里吗?</small></h1>
    </div>
    <ul class="item-summary">

    </ul>
    <% if @transactions.size > 0 %>
      <% @transactions.each do |transaction| %>
      <!--   <tr>
          <td><%#= transaction.created_at %></td>
          <td><%#= link_to 'Show', person_transaction_path(@people.login, transaction) %></td>
          <td><%#= link_to 'Edit', edit_person_transaction_path(@people.login, transaction) %></td>
          <td><%#= link_to 'Destroy', person_transaction_path(@people.login, transaction), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr> -->
        <%#= render :partial => 'item_trans', :locals => {
                   :transaction => transaction,
                   :state => transaction.state,
                   :people => @people } %>

        <%= render partial: 'transaction',
                   object:  transaction,
                   locals: {
                     state:  transaction.state,
                     people: @people
                   } %>
      <% end %>
      <%= paginate @transactions %>

    <% else %>
      <h1>太好了你的交易清单是空的, 进入市场去购物吧</h1>
    <% end %>
  </div>
</div>


<!-- <table class='table'>
  <tr>
    <th>日期</th>
    <th></th>
    <th></th>
    <th></th>
  </tr> -->

<!-- </table> -->

<!-- <br />

<%#= link_to 'New Transaction', new_person_transaction_path(@people.login) %>
 -->

