<% active_section :transaction %>

<div class='transaction-list'>
  <div class='row-fluid'>
    <h4 class="page-title">
      担保交易订单
      <small>交易的清单</small>
    </h4>
  </div>
  <div class='row-fluid wrap_list'>
    <div class='span12 left-column'>
      <div class='people-groups'>
      </div>

      <div class='threeD-viewport'>
        <div class='orders card_list'>
          <% if @transactions.count > 0 %>
            <% @transactions.each do |row| %>
              <%= render_base_template "order_mini_row", :row => row %>
            <% end %>
          <% else %>
            <div class='widget'>
              没有未完成的订单！
            </div>
          <% end %>
        </div>
      </div>

      <div class='boxes'>
        <div class='upbox'></div>
        <div class='currentbox'></div>
        <div class='downbox'></div>
      </div>
      <%= paginate @transactions %>
    </div>
    <div class='order-detail'></div>
  </div>
</div>
<script type='text/javascript'>
  $(function(){

    window.orders = new OrderTransactions({
      el: $(".transaction-list"),
      remote_url: "<%= person_transactions_path(@people) %>"
    })
  })
</script>