<% active_section :transaction %>
<div class="sidebar_panel">
  <div class="right-sidebar">
    <% if @transactions.size > 0 %>
    <div class="widget">
      <h2>已下订单</h2>
      <ul class="cards">
      <% @transactions.each do |transaction| %>
          <%= render :partial => 'trans_card', :locals => { :transaction => transaction, :state => transaction.state, :people => @people } %>
      <% end %>
      </ul>
     </div>
     <% end %>
  </div>
  <div class="main-sidebar container-fluid">
    <div class="page-header">
      <h1>已下单 <small>你挑选的宝贝都在这里吗?</small></h1>
    </div>
    <ul class="item-summary">

    </ul>
    <% if @transactions.size > 0 %>
      <% @transactions.each do |transaction| %>
        <%= render partial: 'transaction',
                   object:  transaction,
                   locals: {
                     state:  transaction.state,
                     people: @people
                   } %>
      <% end %>
      <%= paginate @transactions %>

    <% else %>
      <h1>太好了你的交易清单是空的, 进入市场去购物吧</h1>
    <% end %>
  </div>
</div>



