<p id="notice"><%= notice %></p>
<% active_section :transaction %>
<div class="sidebar_panel">
  <div class="main-sidebar container-fluid">
    <%= render partial: 'transaction',
               object:  @transaction,
               locals: {
                 state:  @transaction.state,
                 people: @people
               } %>

  </div>
</div>
