<div class="dialog order_dialog modal hide" tabindex="-1" role="dialog" aria-labelledby="orderLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <div class='btn-group page'>
      <button type='button' class='btn btn-small previous'/>
        <i class='icon-arrow-up'></i>
        上一个
      </button>
      <button type='button' class='btn btn-small next'>
        <i class='icon-arrow-down'></i>
        下一个
      </button>
    </div>
    <h3 class='title'>
    </h3>
  </div>
  <div class="modal-body">
  </div>
<!--   <div class="modal-footer toolbar">
  </div> -->
</div>
