<div id="order_dialog" class="order_dialog modal hide fade" tabindex="-1" role="dialog" aria-labelledby="orderLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class='title'></h3>
  </div>
  <div class="modal-body">
    <p>正在加载...</p>
  </div>
<!--   <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary save_activity">确认</button>
  </div> -->
</div>