<% if pay_msg.present? %>
  <% if pay_msg == "success" && transaction.state_name == :waiting_delivery  %>
    <div class="alert alert-success">
      支付成功, 等待对方发货!
    </div>
  <% elsif pay_msg == "error" && transaction.state_name == :waiting_paid  %>
    <div class="alert alert-danger">
      支付失败
    </div>
  <% end %>
<% end %>