<div class="progress progress-mini progress-striped active">
</div>
<script type="text/javascript">
  new StateProgress({
    el: $(".transaction-<%=transaction.id %>-<%= transaction.state %> .state-progress>.progress"),
    complete_states: <%=transaction.clear_uniq_states.to_json.html_safe %>,
    localName: <%=t("order_states.buyer").to_json.html_safe %>
  })
</script>