<!-- 竞价 -->
<%= simple_form_for @activity, :html => { class: 'form-horizontal' } do %>

  <div class="control-group">
    <label class="control-label" for="inputProduct">产品</label>
    <div class="controls">
		<div class="input-append">
		  <input class="span2" name="inputProduct" placeholder="Product" type="text">
		  <div class="btn-group">
		    <button class="btn dropdown-toggle" data-toggle="dropdown">
		      选择
		      <span class="caret"></span>
		    </button>
<!-- 		    <ul class="dropdown-menu">
		      ...
		    </ul>
 -->		  </div>
		</div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPrice">图片</label>
    <div class="controls">
      <img data-src="holder.js/140x140" class="img-rounded" alt="140x140" style="width: 140px; height: 140px;" src="">
      <img data-src="holder.js/140x140" class="img-rounded" alt="140x140" style="width: 140px; height: 140px;" src="">
      <img data-src="holder.js/140x140" class="img-rounded" alt="140x140" style="width: 140px; height: 140px;" src="">
    </div>
  </div>

<div class="controls-row" style="margin-left:-30px;">
    <div class="control-group span3">
      <label class="control-label" for="inputNumber">人数</label>
      <div class="controls">
        <input class="span2" name="inputNumber" placeholder="人数" type="text">
      </div>
    </div>


    <div class="control-group span3" style="margin-left:-10px;">
      <label class="control-label"  for="inputPrice">价格</label>
      <div class="controls">
        <input class="span2" name="inputPrice" placeholder="价格" type="text">
      </div>
    </div>
</div>

  <div class="control-group addLine1">
    <div class="pull-right" style="padding-right:100px;">
      <button class="btn add1"  type="button"><i class="icon-plus"></i>Add</li></button>
    </div>
  </div>

<script type="text/javascript">
  require(['jquery'],function($){
    var insert = $(".bettwen1");
    $(".add1").bind("click",function(){
      $(".addLine1").prepend(insert);
    });      
  });
</script>

  <div class="control-group span3" style="margin-left:-5px;">
    <label class="control-label" for="inputStartTime">起始时间</label>
    <div class="controls">
    <input class="span2" name="inputStartTime" placeholder="活动起始时间" type="text">
    </div>
  </div>

  <div class="control-group span3" style="margin-left:-5px;" >
    <label class="control-label"  for="inputEndTime">结束时间</label>
    <div class="controls">
    <input class="span2" name="inputEndTime" placeholder="活动结束时间" type="text">
    </div>
  </div> 


<% end %>