<div class="shop_product" category-product-id="{{id}}" style="display: inline-block">
  <div class='out-box'>
    <div class='in-box'>
      {{#product}}
        <img src="{{photo_avatar}}" class='preview a-{{id}}' />
      {{/product}}
      <div class='summary'>
        <h4 class="title">
          {{name}}
        </h4>
        <div class='info'>
          {{#shop}}
          <img src="{{icon_url}}" class='img-polaroid' />
          <p class='name'><a href='/shops/{{name}}'>{{name}}</a></p>
          {{/shop}}
        </div>
      </div>
    </div>
  </div>
</div>