<!-- <div class='row-fluid'>
	<div class='span8'>
		<%#= render :partial => "search_product", :collection => @products %>
		<%#= paginate  @products %>
	</div>
</div>
 -->
<div id="main" class="content">
	<!-- <section class="widget">
			<div class="body">
					<h3 class='page-title'>
			</h3>
			</div>
	 </section> -->
	<div id="activities">
			<!-- m列，按下标公式1n, 2n +1, 3n + 2.... mn + 3分类竖向排列 -->
		<% (0...@products.size).group_by { |i| i % 5 }.each do |_, indexs| -%>
			<div class="column">
				<% indexs.each do |index| %>
					<%= render_activity @products[index] %>
				<% end %>
			 </div>
		<% end %>
	</div>
		<script type="text/javascript">
			new ActivitiesView({el: '#activities'})
		</script>
</div>
<%= paginate  @products %>
