<div id="main" class="content">
  <%= render :partial => "search/options", :locals => {:category => @category } %>
  <%=render :partial => "activities/template" %>
</div>

<script type="text/javascript">
  $(function(){
    var load_view = new LoadActivities({
      el: $('.activities_panel')
    })
  })
</script>