<div id="main" class="content">
  <%= render :partial => "search/options", :locals => {:category => @category } %>
  <%=render :partial => "activities/template" %>
</div>

<script type="text/javascript">
  $(function(){
    var load_view = new LoadActivities({
      el: $('.activities_panel'),
      params: {
        search_options: {
          category_id: <%=@category.id %>
        }
      }
    })

    filter_options.params.change = function(options){
      load_view.is_over = false
      load_view.reset_fetch({
        category_id: <%=@category.id %>,
        properties: options
      })
    }

  })
</script>