<div class='attachable'>   
    <img src='<%= this.model.get('url') %>' class='img-rounded attachable-preview' />
    <input type='hidden' value="<%=this.model.id %>"/>
    <div class="attachment-upload" style='display:none'></div>

    <div class='focus-panle' style='display:none' >
        <a href='javascript:void(0)' class='delete-img'>删除</a>
        <a href='javascript:void(0)' class='default-index-img'>设为主图</a>
    </div>
</div>
