.jquery-simpledatepicker-datepicker {
  width: 16em;
  position: absolute;
  z-index: 999999;
  border: 1px solid #c9d0d6 !important;
  border-radius: 3px;
  background-color: white;
  font-family: sans-serif;
}
.jquery-simpledatepicker-datepicker * {
  float: left;
  width: 14%;
  text-align: center;
  text-decoration: none !important;
}
.jquery-simpledatepicker-datepicker span {
  border-color: #5e6469 !important;
  font-size: 0.8em;
  text-decoration: none;
}
.jquery-simpledatepicker-preday,
.jquery-simpledatepicker-postday {
  color: #aaa !important;
}
.jquery-simpledatepicker-datepicker a {
  text-decoration: none;
  cursor: pointer;
}
.jquery-simpledatepicker-datepicker a:hover {
  text-decoration: none;
  background-color: #eee !important;
}
.jquery-simpledatepicker-datepickertoday {
  background-color: #ccc !important;
}
.jquery-simpledatepicker-datetxt {
  width: 70%;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}
.jquery-simpledatepicker-CalendarBut {
  width: 21px; height: 23px;
  background-image: url(/assets/Calendar.gif); 
  color: transparent;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
}
.jquery-simpledatepicker-CalendarCloseBut, .jquery-simpledatepicker-CalendarTodayBut {
  width: 50%;
  text-align: center; 
  font-size: 0.8em;
}
