.threeD {

  // padding-top: 60px;

  @include perspective( 1000px );

  .orders {
    @include transform-style(preserve-3d);
  }

}


.order_item.threeD {

  -moz-transform-origin: 0px 100%;
  -webkit-transform-origin: 0px 100%;
  transform-origin: 0px 100%;
  @include transform(translate3d(0px,0px, -100px) rotateX(-45deg));
  @include transition(0.3s);
  @include transform-style(preserve-3d);
  opacity: 0.7;
  // position: absolute;
  // width: 100%;
  // margin-top: -100px;

  &:hover {
    // @include transparent(rgb(51,51,51), 0.2);
    background-color: $white;
    color: $gray;
    opacity: 1;
    .order_item_row.widget {
      @include transparent(rgb(51,51,51), 0.6);
    }
    margin-bottom: 100px;
    @include transform(translate3d(0px,0px, -20px) rotateX(-45deg));        
  }
}

.order_item.active {
  @include transform(translate3d(0px,0px, 0px) rotateX(0deg));
  opacity: 1;
  margin-top: 0px;

  &:hover {
    @include transparent(rgb(51,51,51), 0.2);
    background-color: transparent;
    color: $white;
    opacity: 1;
    .order_item_row.widget {
      // @include transparent(rgb(51,51,51), 0.6);
    }
    margin-bottom: 100px;
    @include transform(translate3d(0px,0px, 0px) rotateX(0deg));        
  }      
}
