<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <p>
      <%= @user.login %>邀请你加入<%=@shop.name %>商店<br/>
    </p>
    <p>
      <a href="<%=@url %>">详细</a>
    </p>
    <p>谢谢!</p>
  </body>
</html>