<!DOCTYPE HTML>
<html>
<body>
	<div class="container-fluid">
		<div class="page-header">
			<div class="offset1 span10">
				<div class='dialog'>
					<h2>尊敬的<%= @user_name %>先生/女士：</h2>
					<p>您在本网站的注册信息已经通过验证，欢迎您随时登陆万流市场。</p>
					<p>登陆链接：<a href='http://localhost:3000'>http://localhost:3000</a></p>
				</div>
				<div>
					<!-- <p>关于用户验证：为什么注册用户要通过验证？</p>
					<p>答</p>
					<p>如果您有任何其他疑问，欢迎拨打客服电话0731-2567888，0731-2567899。客服在线服务时间为：正常工作日的上午8:30点至下午21点；星期六、星期天的上午9:30点至下午21点</p> -->
					<p>本邮件由系统发出，请勿回复。</p>
				</div>
				<div>
					<p>万流市场运营团队</p>
					<p><% time_now = Time.now %><%= time_now.year %>年<%= time_now.month %>月<%= time_now.day %>日</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>