<!DOCTYPE HTML>
<html>
<body>
	<div class="container-fluid">
		<div class="page-header">
			<div class="offset1 span10">
				<div class='dialog'>
					<h2>尊敬的<%= @user_name %>先生/女士：</h2>
					<p>很遗憾的通知您，您的验证申请没有通过审核，原因如下：</p>
					<p style="background-color: rgba(63, 184, 175, 0.91); min-height: 100px;">
						<%= @rejected_reason.html_safe %>
					</p>
					<p>请您返回
						<a href=<%= @url %>>验证界面</a>
						，完善您的资料，我们将尽快进行再次审核。
					</p>
				</div>
				<div>
					<p>关于用户验证：</p>
					<p>①为什么注册用户要通过验证？</p>
					<p>答：其中create和create!就等於new完就save和save!，有無驚嘆號的差別在於validate資料驗證不正確的動作，無驚嘆號版本會回傳布林值(true或false)，有驚嘆號版本則是驗證錯誤會丟出例外。何時使用驚嘆號版本呢?save和create通常用在會處理回傳布林值(true/false)的情況下(例如在 controller 裡面根據成功失敗決定 render 或 redirect)，否則在預期應該會儲存成功的情況下，請用 save!或create! 來處理，這樣一旦碰到儲存失敗的情形，才好追蹤 bug。</p>
					<p>②怎样的申请才能通过验证？</p>
					<p>答：其中create和create!就等於new完就save和save!，有無驚嘆號的差別在於validate資料驗證不正確的動作，無驚嘆號版本會回傳布林值(true或false)，有驚嘆號版本則是驗證錯誤會丟出例外。何時使用驚嘆號版本呢?save和create通常用在會處理回傳布林值(true/false)的情況下(例如在 controller 裡面根據成功失敗決定 render 或 redirect)，否則在預期應該會儲存成功的情況下，請用 save!或create! 來處理，這樣一旦碰到儲存失敗的情形，才好追蹤 bug。</p>
					<p>如果您有任何其他疑问，欢迎拨打客服电话0731-2567888，0731-2567899。客服在线服务时间为：正常工作日的上午8:30点至下午21点；星期六、星期天的上午9:30点至下午21点</p>
					<p>本邮件由系统发出，请勿回复。</p>
				</div>
				<div>
					<p>万流市场运营团队</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>