<div class="reply_form">
	<img class='head-icon img-polaroid' src="<%= author.icon %>">
	<div class='message'>
		<!-- <input name="message" placeholder="发表评论"></input> -->
		<textarea name='message' placeholder="发表评论..."></textarea>
	</div>
	<button class="submit-comment btn btn-danger ">评论</button>
</div>