<div>
    <%=simple_form_for @comment,
    :remote => true, :url => person_comments_path  do | f | %>
        <div>
            <textarea name='content'>
            </textarea>
        </div>
        <div>
            <%=f.submit "评论" %>
        </div>
    <% end %>
</div>