<div class="comment">
  <span class="more">更多评论...</span>
  <%= simple_form_for @comment,
  :remote => true, :url => product_person_comments_path  do | f | %>
    <div>
      <textarea name='comment[content]'></textarea>
      <input type='hidden' value="<%= activity.id %>" name='comment[targeable_id]' />
    </div>
    <div>
      <%= f.button :submit, "评论" %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  new at_who({el: $(".comment")});
</script>


