<div class='row-fluid user_info'>
	<div class='span8 widget'>
		<%= render  :partial => "people/base/user_info",
		:locals => { :url => "/user_checkings/update_user_auth" } %>
		<input type="button" class="modify pull-right btn"  value="修改">
		<%= render :partial => "people/user_login_info" %>
		<br />
		<br />
	</div>
</div>

<script type="text/javascript">
	$(".user_info .modify").bind("click",function(){
		$(".user_info .user_auth").submit();
	})
</script>