<% active_section :person_info %>
<div class='row-fluid user_info'>
  <div class='span8 widget'>
    <div class="paddings">
      <%= render  :partial => "people/base/user_info",
    :locals => { :url => "/people/#{ @people.login }/update_user_auth" } %>
      <input type="button" class="modify pull-right btn btn-primary" value="修改" style="margin-right: 10%;">
    </div>
    <div class="paddings">
      <%= render :partial => "people/user_login_info" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $(".user_info .modify").bind("click",function(){
      $(".user_info .user_auth").submit();
    });
  });
</script>