<div class="container-fluid">
	<% content_for(:active_circle){ "all" } %>
	<div class='row-fluid community-content'>
	  <div class='span8 topics'>
	    <%=render template: "people/send_message",
	    locals: {circles: @circles}  %>
	  </div>
	</div>
</div>