<div class='shop_info span4'>
  <div class="content">
    <div class="actions">
    </div>    
    <a href="/shops/{{ name }}">
      <img src="{{ photos.header }}" class="avatar header"/>
    </a>    
    <div class="realname">
    </div>
    <div class="name">
      {{ name }}
    </div>

    <div class="telephone">
      {{phone}}
    </div>

    <div class="industry">
      <!-- <i class="icon-star"></i> -->
      {{ industry_type }}行业&nbsp;卖家
    </div>    
  </div>
</div>