<div class='shop_info span4'>
  <div class="content">
    <span class="label label-important pull-right">卖家</span>
    <div class="actions">
      <a href="javascript:void(0)" data-value-id="{{ shop.id }}" class="btn btn-success follow">+关注</a>
    </div>    
    <a href="/shops/{{ name }}">
      <img src="{{ photos.header }}" class="avatar header"/>
    </a>    
    <div class="realname">
      <p>{{ower_name }}</p>
    </div>
    <div class="name">
      {{ login }}
    </div>

    <div class="telephone">
      {{phone}}
    </div>

    <div class="industry">
      <!-- <i class="icon-star"></i> -->
      {{ industry_type }}行业
    </div>    
  </div>
</div>