<div id="main" class="content">
  <section class="widget">
    <div class="body">
      <h3 class='page-title'>商店<%=@shop.name%></h3>
    </div>
  </section>
  <div id="shop_products">
    <% (0...@shop_products.size).group_by { |i| i % 5 }.each do |_, indexs| -%>
      <div class="column">
        <% indexs.each do |index| %>
          <%= render "shop_products/preview", shop_product: @shop_products[index] %>
        <% end %>
      </div>
    <% end %>
  </div>
  <script type="text/javascript">
    new ShopProductsView({el: '#shop_products'})
  </script> 
</div>
