  <style>
    /* Prevents slides from flashing */
    .slides {
      display:none;
    }
  </style>
<div class='container-fluid'>
    <div class='row-fluid'>
        <form class="form-search span12">
          <div class="input-append span12">
            <input type="text" class="span11 search-query">
            <button type="submit" class="btn">搜索</button>
          </div>
        </form>
    </div>
    <div class="row-fluid">
        <ul class="nav nav-tabs nav-stacked span3">
          <li class="active category_roots">
            <a href="#" class="navigation">导航</a><br>

          </li>
          <li><a href="#">Library</a></li>
        </ul>
        <div class="category_list span7" style="overflow-x: hidden; overflow-y: auto; border:0; width: 525px; height: 450px;">
            <div class="category_cover ">
               
            </div>

        </div>
        <div class="sub_category span2">
            <div class="category_buttons">

            </div>
        </div>

    </div>
</div>

<script type="text/template" id="list-template">
    <div class="category_detail">
        <p class="lead"><%%= name %> 一般效果预览</p>
        <div class="slides-box">
          <div class="slides">
            <img src="<%%= cover.url %>">
            <img src="#">
            <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
            <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
          </div>
        </div>
        <p>页面构成 <strong>商品层示图片</strong> <strong> 商品略缩图</strong> <strong>价目信息</strong> <strong> 一般属性</strong> <strong>商品层示图片</strong></p>
        <div class="controls">
            <button class="btn btn-success">选择这种</button>
        </div>
    </div>
    <hr>
</script>

<script type="text/javascript">
    require(['jquery', 'category'], function ($, view){
        var view = new view.Category({
            shop_name: "<%= current_shop.name %>",
            el: $(".container-fluid")
        });
    });

</script>