  <style>
    /* Prevents slides from flashing */
    .slides {
      display:none;
    }
  </style>
<div class='container-fluid'>
    <div class='row-fluid'>
        <form class="form-search span12">
          <div class="input-append span12">
            <input type="text" class="span11 search-query">
            <button type="submit" class="btn">Search</button>
          </div>
        </form>
    </div>
    <div class="row-fluid">
        <ul class="nav nav-tabs nav-stacked span3">
          <li class="active category_roots">

          </li>
          <li><a href="#">Library</a></li>
        </ul>
        <div class="category_list span7">
            <div class="category_cover ">
                <div class="category_detail">
                    <p class="lead">奶粉 一般效果预览</p>
                    <div class="slides-box">
                      <div class="slides">
                        <img src="https://dl.dropbox.com/u/5992070/images/1.png">
                        <img src="https://dl.dropbox.com/u/5992070/images/2.png">
                        <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
                        <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
                      </div>
                    </div>
                    <p>页面构成 <strong>商品层示图片</strong> <strong> 商品略缩图</strong> <strong>价目信息</strong> <strong> 一般属性</strong> <strong>商品层示图片</strong></p>
                    <div class="controls">
                        <button class="btn btn-success">选择这种</button>
                    </div>
                </div>
                <hr>
            </div>

            <div class="category_cover ">
                <div class="category_detail">
                    <p class="lead">营养品 一般效果预览</p>
                    <div class="slides-box">
                      <div class="slides">
                        <img src="https://dl.dropbox.com/u/5992070/images/1.png">
                        <img src="https://dl.dropbox.com/u/5992070/images/2.png">
                        <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
                        <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
                      </div>
                    </div>
                    <p>页面构成 <strong>商品层示图片</strong> <strong> 商品略缩图</strong> <strong>价目信息</strong> <strong> 一般属性</strong> <strong>商品层示图片</strong></p>
                    <div class="controls">
                        <button class="btn btn-success">选择这种</button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="sub_category span2">
            <div class='shadow'>
            </div>
            <div class="category_buttons">

            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
    require(['jquery', 'jquery.slides'], function($){
        $(".slides").slidesjs({
            width: 200,
            height: 133,
            navigation: false,
            pagination: false
        });
    });


    require(['jquery', 'category'], function ($, view){
        new view.Category({
            shop_name: "<%= current_shop.name %>",
            el: $(".container-fluid"),
        });
    });

</script>
