  <style>
    /* Prevents slides from flashing */
    .slides {
      display:none;
    }
  </style>
<div class='container-fluid'>
    <div class='row-fluid search'>
        <form class="form-search span12">
          <div class="input-append span12">
            <input type="text" class="span11 search-query input_search">
            
          </div>
        </form>
    </div>
    <div class="row-fluid">
        <ul class="nav nav-tabs nav-stacked span3">
          <li class="active category_roots">
          </li>
          <li><a href="#">Library</a></li>
        </ul>
        <div class="category_list span7" style="overflow-x: hidden; overflow-y: auto; border:0; width: 525px; height: 450px;">
            <div class="category_cover ">
                <div class="category_detail">
                    <p class="lead">奶粉 一般效果预览</p>
                    <div class="slides-box">
                      <div class="slides">
                        <img src="https://dl.dropbox.com/u/5992070/images/1.png">
                        <img src="https://dl.dropbox.com/u/5992070/images/2.png">
                        <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
                        <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
                      </div>
                    </div>
                    <p>页面构成 <strong>商品层示图片</strong> <strong> 商品略缩图</strong> <strong>价目信息</strong> <strong> 一般属性</strong> <strong>商品层示图片</strong></p>
                    <div class="controls">
                        <button class="btn btn-success">选择这种</button>
                    </div>
                </div>
                <hr>
            </div>

            <div class="category_cover ">
                <div class="category_detail">
                    <p class="lead">营养品 一般效果预览</p>
                    <div class="slides-box">
                      <div class="slides">
                        <img src="https://dl.dropbox.com/u/5992070/images/1.png">
                        <img src="https://dl.dropbox.com/u/5992070/images/2.png">
                        <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
                        <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
                      </div>
                    </div>
                    <p>页面构成 <strong>商品层示图片</strong> <strong> 商品略缩图</strong> <strong>价目信息</strong> <strong> 一般属性</strong> <strong>商品层示图片</strong></p>
                    <div class="controls">
                        <button class="btn btn-success">选择这种</button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="sub_category span2">
            <div class='shadow'>
            </div>
            <div class="category_buttons">

            </div>
        </div>

    </div>
	
	<div class="row-fluid">
		<ul class="nav nav-tabs nav-stacked span3">
		  <li class="active">
		  	<%# @categorys.children.each do |c| %>
		  		<!-- <a href="#" class="categorys_root" data-value="<%#= c.name %>"><%#= c.name %></a> -->
		  	<%# end %>
		  </li>
		</ul>
		<div class="category-preview  span9">
		</div>
	</div>

</div>
<!-- <template id="categorys_template" style="display:none;"> -->

	<!-- <div id="category_list" class="category_list span9" style="overflow-x: hidden; overflow-y: auto; border:0; width: 525px; height: 450px;"> -->
	<!-- <div class="category_list span9">
		<div class="category_cover ">
			{{#categorys}}
			<div class="category_detail" id="{{category.id}}">
				<p class="lead">{{category.name}} 预览效果</p>
				<div class="slides-box">
				  <div class="slides">
				    <img src="{{category.cover.url}}">
				    <img src="https://dl.dropbox.com/u/5992070/images/2.png">
 					<a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
      				<a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
				  </div>
				</div>
				<p>页面构成 <strong>商品层示图片</strong> <strong> 商品略缩图</strong> <strong>价目信息</strong> <strong> 一般属性</strong> <strong>商品层示图片</strong></p>
				<div class="controls">
					{{#category.status}}
						<button class="btn btn-primary">选择这类</button>
					{{/category.status}}
				</div>
			</div>
			<hr>
			{{/categorys}}
		</div>
	</div>
	<div class='shadow'></div> -->

	<!-- <div class="sub_category span3">
		<div class="category_buttons btn-group btn-group-vertical">
			<button class='btn' data-value="back">返回<span class="caret left"></span></button>
		    {{#categorys}}
		    <button class='btn' id="{{category.id}}" data-value="{{category.name}}">{{category.name}}
		        {{#category.status}}
		            <span class="caret right"></span>
		        {{/category.status}}
		    </button>
		    {{/categorys}}
		</div>
	</div> -->

<!-- </template> -->

<script type="text/javascript">
    require(['jquery', 'jquery.slides'], function($){
        $(".slides").slidesjs({
            width: 200,
            height: 133,
            navigation: false,
            pagination: false
        });
    });


    require(['jquery', 'category'], function ($, view){
        var view = new view.Category({
            shop_name: "<%= current_shop.name %>",
            el: $(".container-fluid")
        });
    });

</script>
