<span class='pull-right state-display'>
  <span>已经拒绝</span>
  <input type='button' value='同意' class='btn btn-large btn-primary agree btn_event' event-name='<%=refund.unshipped_state? ? 'unshipped_agree' : 'shipped_agree' %>' />
</span>

