<span class='pull-right state-display'>
  <a href='javascript:void(0)'>已经拒绝</a>
  <input type='button' value='同意' class='btn btn-large btn-primary agree' event-name='<%=refund.unshipped_state? ? 'unshipped_agree' : 'shipped_agree' %>' />
</span>

