<div class='controls pull-right'>
  <span style='font-size: 24.5px;font-weight:none'>
    已经拒绝
  </span>
  <input type='button' value='同意' class='btn btn-large btn-primary agree' event-name='<%=refund.order.unshipped_state? ? 'unshipped_agree' : 'shipped_agree' %>' />
</div>
