<span class="pull-right">
  <div class="btn-group">
    <input type='button' value='拒绝' class='btn btn-large refuse' />
    <input type='button' value='同意' class='btn btn-large btn-primary shipped_agree btn_event' event-name='<%=refund.unshipped_state? ? 'unshipped_agree' : 'shipped_agree' %>' />
  </div>
</span>