<div class="child">
	<%= widget_div do %>
	  <h1>
	    Contents::QueryLanguageWidget#display
	  </h1>

	  <p>
	    Find me in app/widgets/contents/query_language/display.html.erb
	  </p>
	<% end %>
</div>