<div class='row-fluid topic-panel'>
  
  <div class='span12'>
    <div class='well well-msg topic'>
      <a class="{{status}} status">{{status_name}}</a>
     
      <span class='user_panel'></span>
      {{#receive_shop_name}}
      <span clas='middle-line'>-</span>
      <a href='/shops/{{receive_shop_name}}'>{{receive_shop_name}}</a>
      {{/receive_shop_name}}

      {{#topic_category_name}}
      ({{topic_category_name}})
      {{/topic_category_name}}
      <hr class='line' />

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span2">
            <div class='user-info'>
              <div>
                <img class="avatar img-circle" />
              </div>
            </div>
          </div>
          <div class="span10">
            <div class='send_user'>
            </div>
             <abbr class='timeago topic_date' title='{{created_at}}'></abbr>
          </div>
        </div>
      </div>

      <p>
        {{{content_html}}}
      <p>
      <hr class='line' />
    <div class='attachments'>
    </div>
      <div class='topic-comments'>
        <div class="pull-left row-fluid">
          <a href='javascript:void(0)' class='more_comment'></a>
          <a href='javascript:void(0)' class='hide_more_comment'>隐藏评论  <i class=" icon-chevron-up" style="text-decoration: none;"></i></a>
        </div>
        <div class='comments_panel'></div>
        <hr class='line' />
        <div class='topic_nav'>
          <input type="text" class="show_comment span12" placeholder="发表评论...">
        </div>

        <div class="comment_panel">
          <div class='row-fluid'>
            <div class='span1'>
              <div class='user_avatar'></div>
              <div class='user_login'></div>
            </div>
            <div class='span11'>
              <form class='comment_form'>
                <div>
                  <textarea name='content'></textarea>
                </div>
                <div style="margin-left:10px;">
                  <input type='submit' value='发布评论' class='btn btn-primary disabled' />
                  <input type='button' value='取消' class='btn cancel' />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>