<div class='row-fluid topic-panel'>
  <div class='span1 user-info'>
    <div>
      <img class="img-polaroid avatar" />
    </div>
    <div class='send_user'>
    </div>
  </div>
  <div class='span11'>
    <div class='well well-msg topic'>
      <a class="{{status}} status">{{status_name}}</a>
      <abbr class='timeago topic_date' title='{{created_at}}'></abbr>
      <span class='user_panel'></span>
      {{#receive_shop_name}}
      <span clas='middle-line'>-</span>
      <a href='/shops/{{receive_shop_name}}'>{{receive_shop_name}}</a>
      {{/receive_shop_name}}

      {{#topic_category_name}}
      ({{topic_category_name}})
      {{/topic_category_name}}
      <hr class='line' />
      <p>
        {{content}}
      <p>
      <div class='topic-comments'>
        <div>回复:</div>
        <div style='text-align:center'>暂无回复信息!</div>
        <div>
          <button class='btn btn-mini'><i class='icon-edit'></i></button>

        </div>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript'>
  require(["jquery", "backbone"], function($, Backbone){
    el = $(".topic-panel")

  })
</script>