<div class='span12 widget'>
  <div class='topic'>
    <div class="row-fluid info">
      <div class="span12">
        <div class='user-info'>
          <div>
            <img src="{{user.icon_url}}" class="avatar " />
          </div>
        </div>
        <div>
          <div class='send_user'>
            <a href='/people/{{user_id}}'>
              {{user.login}}
            </a>
          </div>
          <div>
            <a href='/communities/{{circle_id}}/circles/{{category_id}}/category'>{{category.name}}</a> -
            <abbr class='timeago topic_date' title='{{created_at}}'></abbr>
          </div>
        </div>
      </div>
    </div>
    <div class='content'>
      {{{content_html}}}
    </div>
    <div class='attachments-avatar'>
      {{#attachments}}
        <img src="{{.}}" class="avatar" />
      {{/attachments}}
    </div>
    <div class='topic-comments'>
      <div class="row-fluid comment_bar">
        <div class='span10 participates'>
          <a href='javascript:void(0)' data-toggle="tooltip" data-placement="top" data-original-title="赞一个" class='add_participate'>
            <span class='count'>{{participate}}</span>
            <i class='icon-thumbs-up'></i>
          </a>
        </div>
        <div class='span2'>
          <a href='javascript:void(0)' class='display-comment pull-right'>
            <span class='describe'>{{}}</span>
            <i class="icon-chevron-down"></i>
          </a>
        </div>
      </div>
      <div class='comments_panel'></div>
      <% if @circle.is_member?(current_user) %>
      <div class='send_comment' tabindex='-1'>
        发表评论...
      </div>
      <% end %>
      <div class="comment_panel">
        <div class='row-fluid'>
          <div class='span1'>
            <div class='user_avatar'>
              <img src="<%=current_user.photos.icon %>" />
            </div>
            <div class='user_login'>
              <%=current_user.login %>
            </div>
          </div>
          <div class='span11'>
            <form class='comment_form'>
              <div>
                <textarea class='span12' name='content'></textarea>
              </div>
              <div>
                <input type='submit' value='发布评论' class='btn btn-primary disabled' />
                <input type='button' value='取消' class='btn cancel' />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
