.left-column {
	&.float {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 400px;
		bottom: 0px;
		z-index: 1099;
		background-color: $white;
	}
	@include transition(0.5s);

	
    // @include transform-style(preserve-3d);

}


.card_item {
	@include transition(0.3s);

}

.cargo {
	// @include transition(0.5s);	
	z-index: 2099;
}

