.left-column {
	&.float {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 400px;
		bottom: 0px;
		z-index: 1099;
		// background-color: $white;
		background: radial-gradient(farthest-side ellipse at 20% 0, rgba(104, 84, 184, 0.91), rgba(61, 150, 158, 0.91), rgba(27, 48, 40, 0.91));
	}
	@include transition(0.5s);

	
    // @include transform-style(preserve-3d);

}


.card_item {
	@include transition(0.3s);

}

.cargo {
	// @include transition(0.5s);	
	z-index: 2099;
}

