<div id='header-back'>
	<div class="container">
		<%= render_cell :topbar, :show %>
		<div class="search">
			<%= text_field_tag :query, nil, :size => 40 %>
			<%= button_tag l(:search, '搜索') %>
		</div>
	</div>
</div>

