<div class='row-fluid'>
  <div class="bank-wrapper">
  <% Bank.all.each do |bank| %>
    <%= content_tag :div, :class => 'bank_card' do %>
      <%= label_tag "bank_#{bank.code}" do %>
        <span class="banks bank-<%= bank.code %>">
        	<%= bank.name %>
        </span>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>