<div class='row-fluid'>
  <div class='span2'>汇款人</div>
  <div class='span10'><input type='text' /></div>
</div>
<div class='row-fluid'>
  <div class='span2'>汇款单号</div>
  <div class='span10'><input type='text' /></div>
</div>
<div class='row-fluid'>
  <div class='span2'>汇款银行</div>
  <div class='span10'><input type='text' /></div>
</div>