<div class="child">
	<%= widget_div do %>
	<div class="editor" placeholder="请在此输入内容">
		<%= raw @content %>
	</div>

	<% end %>
</div>
<script type="text/javascript">
	// var query = "#<%= widget_id %> .editor";
	// console.log(query);
	// console.log($(query));
	// var hallo = $(query)
	// 	.hallo({
	// 		plugins: {
	// 			'halloformat': {},
	// 			'halloblock': {},
	// 			'hallojustify': {},
	// 			'hallolists': {},
	// 			'halloimage': {},
	// 			'halloannotate': {}
	// 		},
	// 		showAlways: true
	// 	});
	// hallo =	hallo.data('hallo');
	// hallo._setToolbarPosition(40);

	// $("#save_article").on('click', function(){
	// 	$.post("<%= url_for_event(:save) %>", {content: $(".editor").html()});
	// 	return false;
	// })
</script>
