<div class='row-fluid'>
  <div class='span2 title'>运输方式</div>
  <div class='span4'>
    <%=transaction.transport_type_name %>
  </div>
  <div class='span2 title'>付款方式</div>
  <div class='span4'>
    <%=transaction.pay_type %>
  </div>
</div>