<% unless @circle.is_owner_people?(member.user)%>
	<div class="btn-group">
	  <a class="btn-link dropdown-toggle" data-toggle="dropdown" href="#">
		<span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
		<% if member.manage? %>
		  <li><a href="#" class="low_to_member">从管理员降级为成员</a></li>
		<% else %>
		  <li><a href="#" class="up_to_manager">从成员晋升为管理员</a></li>
		<% end %>
		<li><a href="#" class="remove_member">将此成员从商圈中移除</a></li>
	  </ul>
	</div>
<% end %>