<% if current_user.present? %>
  <% unless @circle.is_member?(current_user) %>
    <div class='row-fluid'>
      <div class="span12 widget following">
        <input type='button' class='btn btn-primary' value="加入商圈" />
      </div>
    </div>
  <% end %>
<% end %>