<!-- <a href="#myModal" role="button" class="btn" data-toggle="modal">查看演示案例</a> -->
 
<!-- Modal -->
<div id="SelectCircle" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="selectCircleLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="selectCircleLabel">选择分享圈子</h3>
  </div>
  <div class="modal-body">

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary shared disabled">分享</button>
  </div>
</div>