<div class='row-fluid access_denied'>
  <div class='span12 widget'>
    <div>
      <p>
      <% if @circle.limit_city? && !@circle.is_limit_city?(current_user) %>
        <%=@circle.name %>商圈设置限制地址加入
      <% else %>
        <% notice = @circle.user_notice(current_user) %>
        <% if notice.nil? || notice.apply_state.present? %>
          <%= link_to "申请加入", apply_join_community_circles_path(@circle), :class => "btn btn-primary apply_join", :remote => true, :method => :POST %>
        <% elsif notice.apply_state %>
          <input type="button" value="对方已经同意加入..." class='btn btn-primary disabled' />
        <% else %>
          <input type="button" value="正在等待对方同意..." class='btn btn-primary disabled' />
        <% end %>
      <% end %>
      </p>
    </div>
  </div>
</div>