<div class='row-fluid access_denied'>
  <div class='span12 widget'>
    <div>
    <% if circle_limit_city?(@circle) && @circle.city != current_user.city %>
      <%=@circle.name %>商圈设置限制地址加入
    <% else %>
      <input type="button" value="申请加入" class='btn btn-primary' />
    <% end %>
    </div>
  </div>
</div>