.community-content{

  .topics-panel{

    border-right: 1px solid #DDD;

    textarea.comment{
      width:400px;
      height:110px;
      resize:none;
      margin-top:10px;
    }

    .chose-friend{
      width: 320px;
      margin-bottom: 10px;
    }
  }
}