.community-content{

  .topics-panel{

    border-right: 1px solid #DDD;
    margin-right: -5px;
    padding-right: 5px;

    textarea.comment{
      width:400px;
      height:110px;
      resize:none;
      margin-top:10px;
    }

    .chose-friend{
      width: 320px;
      margin-bottom: 10px;
    }
  }

  .topic-right{
    .title{
      border-bottom: 1px solid #DDD;
      margin-bottom: 5px;
    }

    .content{
      margin: 10px 0;
      .friend-list{
        list-style: none;

        .friend{
          margin: 5px 0px
        }
      }
    }
  }
}