.shop_community_people{
  .close-label{
    width: 12px;
    height: 11px;
    font-size: 1px;
    background: url("/assets/chosen-sprite.png") right top no-repeat;
    display: block;
  }

  .friends_panel{
    .search_user{
      display: inline-block;
      margin: 10px 0px;

      input{
        margin-bottom: 0px;
        width: 120px
      }
    }

    .circle_user_panel{
      .circle_friend{
        display: none;

        .user{
          display: inline-block;
        }
      }

      .login{
        margin-left: 10px;
      }

      .you_circle_users{


        .you_circle_user{
          display: inline-block;
          position: relative;
          margin-left: 5px;

          .remove_you_user{
            position: absolute;
            top: 0;
            right: 0;
          }
        }
        .you_circle_user:first-child{
          margin-left: 0px;
        }
      }
    }
  }

  .circle-panel{

    .title{
      margin-bottom: 10px;

      h4{
        display: inline;
      }

      .add-circle{
        float: right;
      }
    }

    .circle-list{

      .circle{
        float: left;
        margin-right: 20px;
        width: 185px;
        // height: 180px;
        height: auto;
        position: relative;

        .remove_circle{
          position: absolute;
          top: 5px;
          right: 5px;
        }

        hr{
          margin: 5px 0px;
        }

        .user-list{
          color: black;

          .user{
            margin-right: 10px;
            margin-bottom: 10px;

            .remove_user{
              margin-left: 10px;
              float: right;
            }
          }
        }
      }
    }
  }
}