
.community-content, .followers-content{

  .topics-panel{

    .topic-form{
      margin-bottom: 0px;
    }

    .topics{
      margin-top: 20px;
    }

    margin-right: -5px;
    padding-right: 5px;

    .errors{
      margin: 5px 0px;
    }

    textarea.comment{
      width:400px;
      height:90px;
      resize:none;
      margin-top:10px;
    }

    .chose-friend{
      width: 320px;
      margin-bottom: 10px;
    }
  }

  .topic-right{
    .title{
      border-bottom: 1px solid #DDD;
      margin-bottom: 5px;
      margin-top: 30px;
    }

    .title-first{
      margin-top: 0px;
    }

    .content{
      margin: 10px 0;
      .friend-list{
        list-style: none;

        .friend{
          margin: 5px 0px
        }
      }
    }
  }

  .topic-panel{
    .topic{
      margin-right:5px;

      .title-popover-topic{
        margin: 0px;
      }

      .circle_users{
        font-size: 9px;
      }

      .status{
        margin-right: 30px
      }

      hr.line{
        margin:5px 0px
      }

      .middle-line{
        margin: 0px 8px;
      }

      .user-avatar{
        width: 20px;
        height: 20px;
        margin:0px 5px;
      }


      .popover-content{
        margin-top: 0px;
        .close-label{
          position: absolute;
          right: 5px;
          top: 5px;
          width: 12px;
          height: 11px;
          font-size: 1px;
          background: url("/assets/select.png") right top no-repeat;
        }
      }
    }

    .topic-comments{
      margin-top: 15px;

      .more_comment, .hide_more_comment{
        float:right;
      }

      .hide_more_comment{
        display: none;
      }

      .topic_nav{
        text-align: right;
      }

      .comment_panel{
        display: none;
        margin-top: 5px;
      }

      .comments_panel{
        margin-top: 10px;
      }

      .comment_panel, .comments_panel{

        .notice{
          text-align: center;
        }

        .topic_comment{
          margin-top: 20px;

          .comment_nav{
            font-size: 10px;

            .timeago{
              margin-right: 15px;
            }

            .remove{
              float: right;
            }

            .nav_tag{
              display: none;
            }
          }

          .content{
            clear: both;
          }
        }

        .edit_panel{
          display: none;
        }

        .comment:first-child{
          margin-top: 0px;
        };


        textarea{
          width: 460px;
          height: 75px;
        }

        .user_login{
          text-align: center;
        }

        .user_avatar{
          text-align: center;
          img{
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

.shop_community_people{
  .close-label{
    width: 12px;
    height: 11px;
    font-size: 1px;
    background: url("/assets/select.png") right top no-repeat;
    display: block;
  }

  .friends_panel{
    .search_user{
      display: inline-block;

      input{
        margin-bottom: 0px;
        width: 120px
      }
    }

    .circle_user_panel{
      .circle_friend{
        display: none;
      }

      .login{
        margin-left: 10px;
      }

      .you_circle_user{
        position: relative;
        .remove_you_user{
          position: absolute;
          top: 0;
          right: 0;
        }
      }

    }
  }

  .circle-panel{

    .title{
      margin-bottom: 10px;

      h4{
        display: inline;
      }

      .add-circle{
        float: right;
      }
    }

    .circle-list{

      .circle{
        float: left;
        margin-right: 20px;
        width: 185px;
        height: 180px;
        position: relative;

        .remove_circle{
          position: absolute;
          top: 5px;
          right: 5px;
        }

        hr{
          margin: 5px 0px;
        }

        .user-list{
          color: black;

          .user{
            margin-right: 10px;
            margin-bottom: 10px;

            .remove_user{
              margin-left: 10px;
              float: right;
            }
          }
        }
      }
    }
  }
}