// Place all the styles related to the Admins::Shops::Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'compass/css3';
@import 'collection_select';

#CategoryModal {
  background: rgba(255,255,255,0);
  width: 1000px;
  margin-left: -500px;
  overflow-y: scroll;
  position: absolute;
  // top: -150px;

  .modal {
    top: 0%;
  }

  .modal-header {
    z-index: 8888;
    background-color: white;
  }

  .modal-body {
    background-color: white;
    min-height: 500px;
    max-height: none;
    margin-top: 30px;
    margin-bottom: 50px;
    overflow-y: hidden;

    .span3 {
      margin-top: 80px;
    }

    .search {
      width: 400px;
    }

    .category_list {
      margin-top: 75px;
      margin-bottom: 50px;
    }

    .sub_category {
      margin-top: 60px;
    }

    .on {
      background-color: #0088cc;
      color: white; 
    }

    .no-result{
      display: none;
    }

    .slides-box {
      // width: 300px;
      // height: 200px;
    }
  }

  .modal-footer.affix-bottom {
    position: fixed;
    top: auto;
    bottom: 0px;
    z-index: 8888;
  }
}

.sub_category {
  position: relative;

  .shadow {
    position: absolute;
    top:0px;
    left:-10px;
    min-height: 300px;
    width: 8px;
    border-right: 1px solid #ebebeb;
    border-right: 1px solid rgba(0,0,0,0.4);
    background: -webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.3)),to(rgba(0,0,0,0)));
    -webkit-mask-box-image: -webkit-gradient(linear,right top, right bottom,color-stop(0.0,rgba(0,0,0,0)),color-stop(0.5,rgba(0,0,0,.8)),color-stop(1.0,rgba(0,0,0,0)));
    background-image: -moz-radial-gradient(top,ellipse farthest-side,rgba(0,0,0,.3),rgba(0,0,0,0));

  }

  .category_buttons {
    padding: 20px;

    button {
      width: 100px;
      text-align: left;
      .caret {
        float: right;
        &.right {
          margin-top: 6px;
        }
        &.left {
          margin-top: 6px;
        }
      }
    }

  }
}