// Place all the styles related to the Admins::Shops::Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'compass/css3';


#CategoryModal {
	width: 1000px;
	margin-left: -500px;
}

.slides-box {
	// width: 300px;
	// height: 200px;
}

.sub_category {
	position: relative;

	.shadow {
		position: absolute;
		top:0px;
		left:-10px;
		min-height: 300px;
		width: 8px;
		border-right: 1px solid #ebebeb;
		border-right: 1px solid rgba(0,0,0,0.4);
		background: -webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.3)),to(rgba(0,0,0,0)));
		-webkit-mask-box-image: -webkit-gradient(linear,right top, right bottom,color-stop(0.0,rgba(0,0,0,0)),color-stop(0.5,rgba(0,0,0,.8)),color-stop(1.0,rgba(0,0,0,0)));
		background-image: -moz-radial-gradient(top,ellipse farthest-side,rgba(0,0,0,.3),rgba(0,0,0,0));

	}


	.category_buttons {
		padding: 20px;

		button {
			width: 100px;
			text-align: left;
			.caret {
				float: right;
				&.right {
					margin-top: 6px;
				}
				&.left {
					margin-top: 6px;
				}
			}
		}

	}

}

#CategoryModal {
	.modal-body {
		min-height: 500px;
		max-height: none;
	}
}

