
.shop_banks{

  .create_bank{

    .bank_info{
      margin: 0px;

      .row-fluid{
        line-height: 30px;
      }

      .bank{
        margin: 0px;
      }

      .name{
      }
    }

    .toolbar{
      text-align: center;
    }
  }
}