
.shop_banks{

  .create_bank{

    .bank_info{
      margin: 0px;

      .row-fluid{
        line-height: 30px;
        margin-bottom: 10px;
        font-weight: bold;
        .span2{
          text-align: center;
        }
      }

      .bank{
        margin: 0px;
      }

      .name{
      }
    }

    .toolbar{
      text-align: center;
    }
  }
}