<div class="shop_product" shop-product-id="{{id}}" style="display: inline-block">
  <div class='out-box'>
    <div class='in-box'>
      <img src="{{product.url_avatar}}" class='preview a-{{id}}' />
      <div class='summary'>
        <h4 class="title">
          {{name}}
        </h4>
        <p>{{product.description}}</p>
      </div>
    </div>
  </div>
</div>