<div class='shop_product' shop-product-id='{{id}}' id="shop_product{{id}}">
	<div class='out-box'>
		<form>
			<div class='in-box'>
				{{#product}}
					<img src="{{photo_avatar}}" class="preview a-{{id}}" alt />
				{{/product}}
			</div>

			<div class='summary'>
				<h5 class="title">{{name}}</h5>
				<p> 价格 {{price}} </p>
			</div>

			<div class="buttons">
				{{#seller}}
					<%= button_tag class: 'btn btn-danger launch-button buy' do %>
						<%= icon('shopping-cart') + " 购买" %>
					<% end %>
				{{/seller}}
			</div>
		</form>
	</div>
</div>