<div class='shop_product' shop-product-id='{{id}}' id="shop_product{{id}}">
  <div class='out-box'>
    <form>
      <div class='in-box'>
        {{#photos}}
          <img src="{{avatar}}" class="preview a-{{id}}" alt />
        {{/photos}}
      </div>

      <div class='summary'>
        <h5 class="title href_name">{{name}}</h5>
        <p class='describe'>
          单价 <span class='price'>￥{{price}}</span>
          销量 <span class='sales'>{{sales}}</span>
        </p>
      </div>

      <div class='userinfo'>
        {{#seller.photos}}
          <img src="{{icon}}" class='author ' alt="Author" />
        {{/seller.photos}}

        {{#seller.name}}
          <p>
            <a href='/shops/{{seller.name}}' class="href_name">
              {{seller.name}}
            </a>
          </p>
        {{/seller.name}}
        <span>
          关注{{participate}}{{^participate}}0{{/participate}}
        </span>
        <span class='like-count'>
          喜欢
          {{like}}{{^like}}0{{/like}}
        </span>
      </div>

      <div class="buttons">
        {{#seller}}
          <%= button_tag class: 'btn btn-danger launch-button buy' do %>
            <%= icon('shopping-cart') + " 购买" %>
          <% end %>
        {{/seller}}
      </div>
    </form>
  </div>
</div>
