<div class="shop_product" shop-product-id="<%=shop_product.id%>" style="display: inline-block">
  <div class='out-box'>
    <div class='in-box'>
      <%= image_tag shop_product.product.photos.avatar, :class => "preview a-#{shop_product.id}" %>
      <div class='summary'>
        <h5 class="title"><%= shop_product.product.name %></h5>
        <p><%= shop_product.product.description %></p>
      </div>
    </div>
  </div>
</div>