<div class='row-fluid refuse-panel'>
  <div class='span2'>拒绝理由:</div>
  <div class='span8'>
    <textarea class='span12' name='refuse_reason' style='height:81px'></textarea>
  </div>
  <div class='span2'>
    <input type='button' event-name="refuse" class='btn btn-primary refuse-confirm disabled' value='确认' />
  </div>
</div>