<div class='row-fluid notification'>
  <div class='span12 widget'>
    <div>
      <p>
        <a href="<%= person_path(@notice.send_user) %>">
          <img src="<%=@notice.send_user.photos.icon %>" />
          <%=@notice.send_user.login %>
        </a>
        申请加入商圈

        <input type='button' value="同意" class='btn btn-primary agree' />
        <input type='button' value="拒绝" class='btn btn-warning refuse' />

      </p>
    </div>
  </div>
</div>