<td>{{number}}</td>
<td>{{buyer_login}}</td>
<td>{{items_count}}</td>
<td class='total'>{{total}}</td>
<td>{{created_at}}</td>
<td class='state'>{{state_title}}</td>
<td>
  <input type='button' class='btn dispose btn-primary' value='æ¥å•' />  
</td>