<div class='notification_panle'>
	<ul>
	<% @notifications.each do | n | %>
		<li>
			<img src="<%=n.mentionable_user.photos.icon %>" />
			<a href="javascript:void(0)"><%=n.mentionable_user.login %></a>
				在<a href="<%=person_comment_path(current_user.login, n.mentionable.id) %>"><%=n.mentionable.content %>提及到您
		</li>
	<% end %>
	</ul>
</div>