.comment_main {
	width: 300px;
	border:1px;
	height: auto;
	list-style-type: none;
	border-style: dashed;
	margin: 3px;

	li {
		margin-left: 10px;
		line-height: 50px;
	}
}

.more {
	cursor: pointer;
}

.comment {
	width: 300px;
}