@import "lib/transparent";
.user-community-people{

  .close-label{
    width: 12px;
    height: 11px;
    font-size: 1px;
    background: url("/assets/chosen-sprite.png") right top no-repeat;
    display: block;
  }

  .search_user{
    display: inline-block;

    input{
      margin-bottom: 0px;
      width: 120px;
    }
  }

  .circle_user_panel{
    margin-top: 15px;

    .circle_friend{
      display: none;

      .you_user{
        position: relative;
      }

      .login, .name{
        margin-left: 10px;
      }

      .remove_you_user{
        position: absolute;
        top: 0px;
        right: 0px;
      }
    }

    .search_user{

      .user{
        margin-left: 10px;
        margin-bottom: 10px;
      }
    }
  }

  .circle-panel{

    .title{
      margin-bottom: 10px;

      h4{
        display: inline;
      }

      .add-circle{
        float: right;
      }
    }

    .circle-list{

      .circle{
        float: left;
        margin-right: 20px;
        width: 215px;
        height: 180px;
        position: relative;

        .remove_circle{
          position: absolute;
          top: 5px;
          right: 5px;
        }

        hr{
          margin: 5px 0px;
        }

        .user-list{
          color: black;

          .user{
            margin-right: 10px;
            margin-bottom: 10px;

            .remove_user{
              margin-left: 10px;
              float: right;
            }
          }
        }
      }
    }
  }
}

.community{
  .title{

    input.search-query{
      width: 121px;
    }
  }

  .body{
    .circle{
      @include transparent(rgb(51, 51, 51), 0.4);
      margin-bottom: 10px;
      margin-right: 10px;
      width: 230px;
      display: inline-block;

      .photo{
        display: inline-block;
        width: 80px;

        img{
          height: 80px;
          width: 80px;
        }
      }

      .info{
        display: inline-block;
        vertical-align: middle;
        padding-left: 10px;
      }

      a{
        color: white;
        text-decoration: none;
        display: inline-block;
        width: 100%;
      }

    }

    .circles{
      padding: 15px 0px 15px 13px;
    }
  }
  .create_circle{
    input[type="checkbox"] {
      margin: 0 0 0 0;
    }
    .m_r {
      margin-right: 20px;
    }
    .setting{
      margin-bottom: 20px;
    }
    .up_photo{
      margin-left:50px;
    }
    .introduce{
      width: 340px;
    }
  }
}