.comment_main {
	height: auto;

	margin: 3px;

	ul {
	    list-style-type: none;
	    margin: 0 0 10px 5px;
	}

	li {
		margin-left: 10px;
		line-height: 30px;
	}
}

.more {
	cursor: pointer;
}

.comment_body {
	width: 500px;
	border: 1px solid #e3e3e3;

	p {
		margin: 20px 0 10px 20px;
	}
}

.comment {
	margin-left: 15px;
}
