
table.followers{

  thead{

    .title{
      width: 90%;
      text-align: left;
    }
  }

  tbody{

    td{
      vertical-align: middle;
    }
  }
}


.followers{
  .notify-message, .follow{
    display: inline-block;

    .info, .avatar{
      display: inline-block;
      vertical-align: top;
    }


  }
}