defaults: &defaults
  caramal_server: http://localhost:5000
  redis_port: 6379
  redis_server: "192.168.2.32"
  redis_key_prefix: "online_user_"
  rabbitmq:
    host: "192.168.2.32"
    port: 5672
    vhost: "/"
    ssh: false
    user: "guest"
    pass: "guest"
    heartbeat: "server"
    frame_max: 131072

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults