remote: https://www.99bill.com/gateway/recvMerchantInfoAction.htm
rsa:
  pem_path: lib/99bill-rsa.pem
  password: asdfasdf
  cer_path: lib/99bill.cert.rsa.20140728.cer

params:
  merchant_acct_id: 1002300593701
  version: v2.0
  language: 1
  sign_type: 4
