---
development:
  site_name: 万流商业社区
  site_url: http://www.wanliu.biz
  caramal_server: http://realtime.wanliu.biz
  redis_port: 6379
  redis_server: localhost
  pay_mode: test
  redis_key_prefix: online_user_
  rabbitmq: &1
    host: localhost
    port: 5672
    vhost: /
    ssh: false
    user: guest
    pass: guest
    heartbeat: server
    frame_max: 131072
  rabbitmq_queues: &2
    new_users: wanliu_new_users
  redis_keys: &3
    user_id_to_user_name: Panama:info:userId:userName
    user_name_to_user_id: Panama:info:userName:userId
  order_transport_types:
    EMS:
      title: EMS
      price: 10
    韵达:
      title: "韵达"
      price: 8
    申通:
      title: "申通"
      price: 8
    天天快递:
      title: 天天快递
      price: 8
    宅急送:
      title: 宅急送
      price: 8
    e邮宝:
      title: e邮宝
      price: 8
  service_types: 
    buyer:
      name: 零售商
      type: buyer
    seller: 
      name: 批发商
      type: seller
  order_pay_types:
    在线支付:
      name: online_payment
      title: 在线支付
    银行汇款:
      name: bank_transfer
      title: 银行汇款
  service_phone: XXXX-XXXXXX

test:
  site_name: 万流电商平台
  site_url: http://panama.wanliu.biz
  caramal_server: http://realtime.wanliu.biz
  redis_port: 6379
  redis_server: localhost
  pay_mode: test
  redis_key_prefix: online_user_
  rabbitmq: &1
    host: localhost
    port: 5672
    vhost: /
    ssh: false
    user: guest
    pass: guest
    heartbeat: server
    frame_max: 131072
  rabbitmq_queues: &2
    new_users: wanliu_new_users
  redis_keys: &3
    user_id_to_user_name: Panama:info:userId:userName
    user_name_to_user_id: Panama:info:userName:userId
  order_transport_types:
    EMS:
      title: EMS
      price: 10
    韵达:
      title: "韵达"
      price: 8
    申通:
      title: "申通"
      price: 8
    天天快递:
      title: 天天快递
      price: 8
    宅急送:
      title: 宅急送
      price: 8
    e邮宝:
      title: e邮宝
      price: 8
  order_pay_types:
    在线支付:
      name: online_payment
      title: 在线支付
    银行汇款:
      name: bank_transfer
      title: 银行汇款
  service_phone: XXXX-XXXXXX

production:
  site_name: 万流电商平台
  site_url: http://panama.wanliu.biz
  caramal_server: http://realtime.wanliu.biz
  redis_port: 6379
  pay_mode: production
  redis_server: localhost
  redis_key_prefix: online_user_
  rabbitmq: &1
    host: localhost
    port: 5672
    vhost: /
    ssh: false
    user: guest
    pass: guest
    heartbeat: server
    frame_max: 131072
  rabbitmq_queues: &2
    new_users: wanliu_new_users
  redis_keys: &3
    user_id_to_user_name: Panama:info:userId:userName
    user_name_to_user_id: Panama:info:userName:userId
  order_transport_types:
    EMS:
      title: EMS
      price: 10
    韵达:
      title: "韵达"
      price: 8
    申通:
      title: "申通"
      price: 8
    天天快递:
      title: 天天快递
      price: 8
    宅急送:
      title: 宅急送
      price: 8
    e邮宝:
      title: e邮宝
      price: 7
  order_pay_types:
    在线支付:
      name: online_payment
      title: 在线支付
    银行汇款:
      name: bank_transfer
      title: 银行汇款
  service_phone: XXXX-XXXXXX
