<h4>雇员组</h4>
<div>
    <ul style='list-style:none;margin-left:0px;'>
    <% @groups.each do |g| %>
        <li class="alert alert-info"><%=t("activerecord.models.shop_group.#{g.name}") %></li>
    <% end %>
    </ul>
</div>
<h4>成员</h4>
<div>
    <ul>
        <% @employees.each do |e| %>
        <li><%=e.login %></li>
        <% end %>
    </ul>
    <form class="form-search-user">
        <input type="hidden" name='authenticity_token' value="<%= form_authenticity_token %>" />
        <div class="alert alert-message" style='display:none'>
            <button type="button" class="close" data-dismiss="alert">x</button>
            <p class='content'></p>
        </div>
        <input type="text" name='login' />
        <button type="submit" class="btn">邀请</button>
    </form>
    <script type='text/javascript' >
        require(["jquery", "user_typeahead", "admins/shops/employee_invite"],
            function($, UserTypeahead, EmployeeInvite){
                var form = $("form.form-search-user");
                var alert = form.find(".alert-message");

                new UserTypeahead(form.find("input[name=login]"))
                new EmployeeInvite({
                    form_el: form,
                    url: "<%=invite_shop_admins_employees_path(current_shop.name)  %>",
                    success_callback: function(data, xhr){
                        alert.removeClass("alert-error").addClass("alert-success")
                        alert.find(".content").html(data.message);
                        alert.show();
                    },
                    error_callback: function(data, xhr){
                        alert.removeClass("alert-success").addClass("alert-error")
                        alert.find(".content").html(data.message);
                        alert.show();
                    }
                })
            })
    </script>
</div>