<form class='topic-form'>
  <div>
    <textarea class='comment' name="content"></textarea>
  </div>
  <div class='topic_upload'>
  </div>
  <div class='friend-context'>
  </div>
  <div class='topic_category' style='display:none'>
  </div>
  <div>
    <input type='button' value='发送' class='btn btn-primary send_topic disabled' />
  </div>
</form>