<span class="pull-right">
  <span class='state-description'>确认发货</span>
  <div class="btn-group">
    <% class_name = "disabled invalid" if transaction.current_operator != current_user %>
    <%= link_to 'javascript:void(0)', :class => "btn btn-large delivered btn-primary btn_event #{class_name}", 'event-name' => 'delivered' do %>
      <%=raw "下一步&nbsp;&nbsp;&nbsp;#{caret(:right, :inverse)}" %>
    <% end %>
  </div>
</span>