<div id="page" >
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<%= render_widget :content_name, :display, :content_query, nil, :class => 'span12' %>
				<%= render_widget :choose_content, :display, :content_type %>
				<%= render_widget :choose_template, :display %>

				<%= render_widget :container %>
			</div>
		</div>
	</div>
</div>
