<div>
	<div class='title'>
		在线-<%=@friend.login %>
	</div>
	<div class='content_panel row-fluid'>
		<div class='row8'>
			<div class='content_list'>
			</div>
			<div class='content_nav'>das</div>
			<div class='send_content_panel'>
				<textarea></textarea>
				<input type='button' value='发送' />
			</div>
		</div>
		<div class='row4'>
			<ul>
				<li>用户名: <%=@friend.login %></li>
				<li>邮箱: <%=@friend.email %></li>
			</ul>
		</div>
	</div>
</div>