
<div>
  <% @activities.each do |activity| %>
    <p>
        <img src="<%= activity.url %>">
        <input type='hidden' value="<%= activity.id %>" name='id' />
        <%=render :template => "people/comments/new_activity" %>
    </p>
  <% end %>

</div>

