<div>
  <% @activities.each do |activity| %>
    <p>
      <img src="<%= activity.url %>">
      <%=render :template => "people/comments/new_activity",:locals=> { :activity => activity  } %>
    </p>
  <% end %>

</div>

