<% if followings.count > 0 %>
	<% followings.each do |f| %>
		<div class='span2 alert alert-info follow' data-value-id="<%= f.id %>" data-value-follow-id="<%= f.follow_id %>" >
			<img src="<%= f.follow.icon %>" class="img-rounded avatar" />
			<%= f.follow.login %>
			<% if can? :destroy, Following %>
				<input type='button' class='btn btn-small btn-primary unfollow' value='取消关注' />
			<% else %>
				<% unless current_user.nil? || f.follow == current_user %>
					<input type='button' class='btn btn-small btn-primary follow' value='关注' />
				<% end %>
			<% end %>
		</div>
	<% end %>
<% else %>
	<div class='span2 alert alert-warning'>暂时没有关注的用户</div>
<% end %>