<% if followings.count > 0 %>
	<% followings.each do |f| %>
		<div class='alert alert-info follow' data-value-id="<%= f.id %>" data-value-follow-id="<%=f.follow_id %>">
			<img src="<%= f.follow.photo %>" class="img-rounded avatar" />
			<%= f.follow.name %>
			<input type='button' class='btn btn-small btn-primary unfollow' value='取消关注' />
		</div>
	<% end %>
<% else %>
	<div class='alert alert-warning'>暂时没有关注的商店</div>
<% end %>