<% active_section :following %>
<% if @u_followings.count > 0 %>
  <table class='table'>
    <thead>
      <tr>
        <th style='width: 90%'>关注的用户</th>
        <th style='width: 10%'></th>
      </tr>
    </thead>
    <tbody>
      <% @u_followings.each do |f| %>
        <tr>
          <td><%=f.follow.login %></td>
          <td><input type='button' class='btn btn-small btn-primary' value='取消关注' /></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class='alert'>暂时没有关注的用户!</div>
<% end %>

<% if @s_followings.count > 0 %>
  <table class='table'>
    <thead>
      <tr>
        <th style='width: 90%'>关注的商店</th>
        <th style='width: 10%'></th>
      </tr>
    </thead>
    <tbody>
      <% @s_followings.each do |f| %>
        <tr>
          <td><%=f.follow.name %></td>
          <td><input type='button' class='btn btn-small btn-primary' value='取消关注' /></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class='alert'>暂时没有关注的商店!</div>
<% end %>