<% active_section :following %>

<div class='followers widget span8'>
	<div class='follow-users span8'>
		<h4 class='title'>关注的用户</h4>
		<%= render :partial => "following_user", :locals => {followings: @u_followings} %>
	</div>

	<div class='follow-shops span8'>
		<h4 class='title'>关注的商店</h4>
		<%= render :partial => "following_shop", :locals => {followings: @s_followings } %>
	</div>
</div>

<script type='text/javascript'>
	new FollowListView({
		follow_type: "user",
		el: $(".followers .follow-users"),
		login: "<%=current_user.login %>"
	})

	new FollowListView({
		follow_type: "shop",
		el: $(".followers .follow-shops"),
		login: "<%=current_user.login %>"
	})
</script>