<span class="pull-right">
  <span class='state-description'>
    商家发货延时</span>
  <div class="btn-group">
    <%= link_to "javascript:void(0)", :class => 'btn btn-large btn_event disabled' do %>
      <%=raw "下一步&nbsp;&nbsp;&nbsp;#{caret(:right, :inverse)}" %>
    <% end %>
  </div>
</span>