<div class="controls pull-right">
  <div class="btn-group">
    <%= link_to "javascript:void(0)", :class => 'btn btn-large btn-primary pay-button', 'event-name' => 'confirm_transfer' do %>
      <%=raw "确认汇款信息&nbsp;&nbsp;&nbsp;#{caret(:right, :inverse)}" %>
    <% end %>
  </div>
</div>