<span class="pull-left">
  <div class='btn-group'>
    <input type='button' value='申请退货' class='btn returned_event'  />
  </div>
  <div class="btn-group">
    <%= link_to '#', :class => 'btn btn-primary btn_event disabled', 'event-name' => 'delivered' do %>
      <%= raw "等待发货&nbsp" %>
      <%= caret(:right) %>
    <% end %>
  </div>
</span>