<span class="pull-left">
  <div class="btn-group">
    <% if transaction.valid_payment?  %>
      <%= link_to "javascript:void(0)", :class => 'btn btn-large btn-primary btn_event pay-button', 'event-name' => 'paid' do %>
        <%=raw "确认付款&nbsp;&nbsp;&nbsp;#{caret(:right, :inverse)}" %>
      <% end %>
    <% end %>
  </div>
</span>