<span class="pull-left">
  <div class="btn-group">
    <%= link_to '#', :class => 'btn btn-large btn-primary btn_event', 'event-name' => 'sign' do %>
      <%=raw "确认收货&nbsp;&nbsp;&nbsp;#{caret(:right, :inverse)}" %>
    <% end %>
  </div>
</span>