<div class="controls pull-right">
	<div class="btn-group">
		<%= link_to '#',
					:class => 'btn btn-large',
					'event-name' => 'back' do %>
			<%=raw "#{caret(:left)}&nbsp;&nbsp;&nbsp;后退" %>
		<% end %>

		<%= link_to pay_person_transaction_url(@people, transaction), :class => 'btn btn-large btn-primary pay-button', 'event-name' => 'paid' do %>
			<%=raw "确认付款&nbsp;&nbsp;&nbsp;#{caret(:right, :inverse)}" %>
		<% end %>
	</div>

</div>