<span class="pull-right">
  <div class="btn-group">
    <%= link_to '#', :class => 'btn btn-primary btn_event disabled', 'event-name' => 'delivered' do %>
      <%= raw "等待发货&nbsp" %>
      <%= caret(:right) %>
    <% end %>
  </div>
</span>