<div class="pull-right">
  <span class='state-description'>
    确认付款
  </span>
  <div class="btn-group">
    <%= link_to "javascript:void(0)", :class => "btn btn-large btn_event pay-button btn-primary", 'event-name' => 'paid' do %>
      <%=raw "下一步&nbsp;&nbsp;&nbsp;#{caret(:right, :inverse)}" %>
    <% end %>    
  </div>
</div>