<div class="container-fluid">
  <%= render_base_template "delivery", :transaction => transaction %>
  <%=render_base_template "manner", :transaction => transaction %>
  <div class='row-fluid'>
    <div class='span12'>
      <%= render "products", :transaction => transaction %>
    </div>
  </div>
</div>