<div class="container-fluid">
	<div class="row-fluid">
		<div class="span1">
			<label class="control-label">送货地址：</label>
		</div>
		<div class="span4">
			<%= transaction.address.nil? ? "暂无" : transaction.address.location %>
		</div>
		<div class="span1">
			<label class="control-label">配送方式：</label>
		</div>
		<div class="span2">
			<%= transaction.delivery_type.nil? ? "暂无" : transaction.delivery_type.name %>
		</div>
		<div class="span1">
			<label class="control-label">配送费用：</label>
		</div>
		<div class="span2">
			<%= transaction.delivery_price %>
		</div>
	</div>
</div>
<%= render "products", :transaction => transaction %>