<td>{{number}}</td>
<td>{{buyer_login}}</td>
<td>{{items_count}}</td>
<td>{{total}}</td>
<td>{{created_at}}</td>
<td class='state'>{{state_title}}</td>
<td>{{address}}</td>
<td>
  <input type='button' class='btn dispose btn-primary' value='æ¥å•' />
  <span class='badge badge-important message_count'>
    {{unmessages_count}}
  </span>
</td>