<td>{{number}}</td>
<td>{{buyer_login}}</td>
<td>{{items_count}}</td>
<td class='stotal'>{{stotal}}</td>
<td>{{created_at}}</td>
<td class='state'>{{seller_state_title}}</td>
<td class='address'>{{address}}{{^address}}暂时没有{{/address}}</td>
<td>
  <input type='button' class='btn dispose btn-primary' value='接单' />
</td>