<div class="container-fluid">
  <%= render_base_template "refunds", :transaction => transaction %>
  <%=render_base_template "delivery", :transaction => transaction  %>
  <%=render_base_template "manner", :transaction => transaction  %>
  <%= render "products", :transaction => transaction %>
</div>