<div class="container-fluid">
  <%=render_base_template "edit_delivery_price", :transaction => transaction %>
  <%=render_base_template "manner", :transaction => transaction %>
  <%= render "products", :transaction => transaction %>
</div>