<% admin_active_section :communities %>
<% circle_active :all %>
<% content_for :topic_right do %>
<div>
  <div class='title'>最近加入好友</div>
  <div class='content'>
    <ul class='friend-list'>
      <% shop_recently_friends.each do |f| %>
      <li class='friend'>
        <img class='img-polaroid' src="<%=f.icon %>" /><%=f.login %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<div>
  <div class='title'>我可能认识的人</div>
</div>
<% end %>

<%=render :partial => "admins/shops/topics/topics_info", locals: {circles: @circles, circle: :all} %>