<% community_active :setting  %>
<% admin_active_section :communities %>

<div class='row-fluid shop_community_people'>
	<div class='span8 widget'>
		<%= render :partial => "admins/base/community_nav" %>
		<div class='row-fluid'>
			<div class='span6'>

			</div>
		</div>
	</div>
</div>