<div class='activity'>
	<%= image_tag activity.photos.avatar %>
	<h3 class="title"></h1>
	<div class="buttons">
		<a href="#" class="btn btn-danger"><i class="icon-shopping-cart"></i>&nbsp;参与</a>
		<a href="#" class="btn"><i class="icon-heart"></i>&nbsp;喜欢</a>
	</div>
	<hr>
	<div class="users">
		<div class="author">
			<img alt="T240240_file_blank" class="img-polaroid" src="/default_img/t2020_file_blank.gif">
			<%= activity.author.login %>
		</div>
		<div class="messages">

		</div>
	</div>
</div>