<div id="mySetting" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="circleSettingLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="circleSettingLabel">商圈设置</h4>
  </div>
  <div class="modal-body circle_setting">
  	正在努力为你加载……
  </div>
</div>