<% community_active(@circle.id) %>
<div class='row-fluid community-content'>
  <div class='span8 topics-panel'>
    <%=render template: "admins/shops/topics",
    locals: {circles: @circles, circle: @circle}  %>
  </div>
  <div class='span4'>

  </div>
</div>
