<% circle_active @circle.id %>
<% community_active :home  %>
<div class='row-fluid community-content'>
  <div class='span8 topics-panel'>
    <%=render :partial => "admins/base/community_nav" %>
    <%=render template: "admins/shops/topics/topics_info",
    locals: {circles: @circles, circle: @circle}  %>
  </div>
  <div class='span4'>

  </div>
</div>
