<div class='activity' product-id='{{ id }}' id="product{{ id }}">
  <div class='out-box'>
    <form>
    <div class='in-box'>
      {{#photos.avatar}}
        <img src="{{photos.avatar}}" class="preview a-{{id}}" alt />
      {{/photos.avatar}}
      {{^photos.avatar}}
        <%#= image_tag ImageUploader.new.url("240240") %>
      {{/photos.avatar}}
    </div>
      <div class='summary'>
        <h4 class="title">{{name}}</h4>
        <p> 价格 {{price}} </p>
      </div>
      <div class='userinfo'>
        {{#seller.photos.icon}}
        <img src="{{seller.photos.icon}}" class='author img-circle' alt="Author" />
        {{/seller.photos.icon}}

        {{#seller.name}}
        <p>
          <a href='/shops/{{seller.name}}'>{{seller.name}}</a>
        </p>
        {{/seller.name}}
        {{^seller.name}}
          <p>暂无卖家</p>
        {{/seller.name}}
        <span>关注 {{participate}}{{^participate}}0{{/participate}}</span>
        <span class='like-count'>喜欢 {{like}}{{^like}}0{{/like}}</span>
      </div>
    <div class="buttons">
      {{#seller}}
      <%= button_tag class: 'btn btn-danger launch-button buy' do %>
        <%= icon('shopping-cart') + " 购买" %>
      <% end %>
      {{/seller}}
      {{^seller}}
        <%= button_tag class: 'btn btn-info launch-button ask_buy_feture' do %>
        <%= icon('shopping-cart') + " 求购" %>
        <% end %>
      {{/seller}}

    </div>
    </form>

  </div>
</div>