<div class='activity' product-id='{{ id }}' id="product{{ id }}">
  <div class='out-box'>
    <form>
    <div class='in-box'>
      {{#photos.avatar}}
        <img src="{{photos.avatar}}" class="preview a-{{id}}" alt />
      {{/photos.avatar}}
      {{^photos.avatar}}
        <%#= image_tag ImageUploader.new.url("240240") %>
      {{/photos.avatar}}
    </div>
      <div class='summary'>
        <h4 class="title">{{name}}</h4>
        <p> 价格 {{price}} </p>
      </div>
      <div class='userinfo'>
        {{#seller.photos.icon}}
        <img src="{{seller.photos.icon}}" class='author img-circle' alt="Author" />
        {{/seller.photos.icon}}
        {{^seller.photos.icon}}
          <%#= image_tag AvatarUploader.new.url("5050"), :class => 'author img-circle' %>
        {{/seller.photos.icon}}
        {{#seller.name}}
        <p>
          <a href='/shops/{{seller.name}}'>{{seller.name}}</a>
        </p>
        {{/seller.name}}
        {{^seller.name}}
          <p>暂无卖家</p>
        {{/seller.name}}
        <span>关注 {{participate}}{{^participate}}0{{/participate}}</span>
        <span class='like-count'>喜欢 {{like}}{{^like}}0{{/like}}</span>
      </div>
    <div class="buttons">
      <%#= link_to_mycart to_cart_activity_path(activity), ".preview.a-#{activity.id}", :class =>'btn btn-danger partic-button' do %>
        <%#= icon(:'shopping-cart') + " 参与" %>
      <%# end %>

      <%= link_to '#', class: 'btn btn-danger launch-button' do %>
        <%= icon('shopping-cart') + " 购买" %>
      <% end %>

    </div>
    </form>

  </div>
</div>