<div class='product' product-id='{{id}}' id="product{{id}}">
  <div class='out-box'>
    <form>
      <div class='in-box'>
        {{#photos.avatar}}
          <img src="{{photos.avatar}}" class="preview a-{{id}}" />
        {{/photos.avatar}}
      </div>
      <div class='summary'>
        <h5 class="title href_name">{{name}}</h5>
        <p class='describe'>暂无卖家</p>
      </div>
      <div class='userinfo'>
        <div class='author'>
        </div>
      </div>
      <div class="buttons">
        <%= button_tag class: 'btn btn-info launch-button ask_buy_feature', :type => 'button' do %>
            <%= icon('shopping-cart') + " 求购" %>
        <% end %>
      </div>
    </form>
  </div>
</div>