@import "variables";
@import "compass/css3/box-shadow";
@import "compass/css3";
@import "lib/transparent";
@import "card_info";

.column{
  .activity, .ask_buy, .product, .shop_product {
    // width: 225px;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    height: 348px;
    /*overflow: hidden;*/
    position: relative;
    z-index: 0;

    .join-chat{
      cursor: pointer;
    }
    .out-box {
      color: white;
      @include transparent(rgb(51,51,51), 0.4);

      form {
        margin: 0px;
      }

      .href_name {
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis;
      }

      .activity_tag {
        top: 0;
        right: 0;
        width: 150px;
        height: 150px;
        z-index: 8888;
        cursor: pointer;
        position: absolute;
      }

      .in-box {
        height: 220px;
        position: relative;
        overflow: hidden;
        padding: 5px;
        // border-bottom: 1px solid #e7e7e7;

        img.preview {
          cursor: pointer;
          min-height: 150px;
        }

        .right_bottom2 {
          position: absolute;
          bottom: 30px;
          text-align: right;
          right: 0px;
          text-decoration: line-through;
          color: #ccc;
          padding: 0 10px 0 10px;

          @include border-top-left-radius(10px);
          @include border-bottom-left-radius(10px);
          @include transparent($black,0.5);
          h5 {
            margin: 0px;
          }
        }

        .right_bottom1 {
          position: absolute;
          text-align: right;
          bottom: 5px;
          right: 0px;
          color: $red;
          padding: 0 10px 0 10px;

          // @include text-shadow(0px 0px 1px rgba(255, 255, 255, 1));
          @include border-top-left-radius(10px);
          @include border-bottom-left-radius(10px);
          background: rgba($blue, 0.5);

          h4 {
            margin: 0px;
          }
        }
      }

      .corner {
        @include transform(rotate(45deg));
        @include box-shadow(0px 2px 3px rgba(0, 0, 0, 0.3));
        position: absolute;
        right:-30px;
        top:20px;
        width: 128px;
        height: 30px;
        background: $red;
        text-align: center;

        h4 {
          line-height: 30px;
          color: $white;
          margin: 0px;
        }
      }

      .summary {
        padding: 5px;
        height: 46px;
        overflow-y: hidden;

        .price {
          color: red;
          opacity: 0.8;
          font-size: 16px;
        }

        .amount {
          float: right;
          margin-right: 15px;
        }

        .title {
          margin-top: 0px;
          margin-bottom: 5px;
        }

        .describe {
          word-wrap: break-word;
          margin-bottom: 0px;

          span:first-child{
            margin-right: 10px;
          }
        }

        .time-left {
          opacity: 1;
          float: right;
          color: yellow;
          font-size: 1.1em;
          margin-right: 15px;

          &.over {
            opacity: 0.5;
          }
        }
      }

      .userinfo,.info{
        padding: 5px 5px 5px 5px;
        height: 52px;
      }

      .userinfo {
        padding-left: 60px;

        .author {
          margin-left: -55px;
          float: left;
          height: 50px;
          width: 50px;
        }

        span {
          font-size: 0.8em;
          margin-right: 5px;
          opacity: 0.5
        }

        .title{
          margin-right: 5px;
        }
      }

      .comments_and_reply {
        padding: 5px;

        .people-attribution {
          margin-bottom: 10px;
        }

        .reply_form {
          padding: 0px 10px 10px 34px;
          .head-icon {
            margin: 0 0 0 -34px;
            float: left;
            width: 20px;
            height: 20px;
          }

          .message textarea {
            width: 155px;
            font-size: 1em;
            border: 1px solid #ccc;
            background: #f0f0f0;
            // height: 30px;
          }
        }
      }

      .buttons {
        position: absolute;
        top: 10px;
        left: 10px;
        display: none;
      }

      hr {
        margin: 5px 0px;
      }
    }

    &:hover {
      // border: 2px solid #ef6060;

      .buttons {
        display: block;
      }
    }
  }

  // 自定义各种活动的不同展示效果
  .activity.auction{
    .out-box {
      @include transparent(rgb(51,51,51), 0.4);

      .activity_tag {
        background: url('/assets/tags/auction_tag.png') no-repeat;
      }
    }
    .tooltip{
      width: 100px;
    }
  }

  .activity.focus{
    .out-box {
      @include transparent(rgb(71,71,71), 0.4);

      .activity_tag {
        background: url('/assets/tags/focus_tag.png') no-repeat;
      }
    }
  }

  .ask_buy {
    .out-box {
      @include transparent(rgb(77, 99, 44), 0.4);

      .activity_tag {
        background: url('/assets/tags/askbuy_tag.png') no-repeat;
      }
    }
  }

  .shop_product {
    .out-box {
      @include transparent(rgb(91,91,91), 0.4);
    }
  }

  .user, .shop{
    margin-right: 20px;

    .user_info, .shop_info{
      margin-left: 0px;
      width: 100%;
    }
  }

  .circle{
    .circle_info{
      width: 100%;
      margin-left: 0px;
    }    
  }
}


#auction_buy_dialog{
  width: 640px;

  .activity_info{
    margin-bottom: 15px;
  }

  .modal-body{
    height: auto;
    overflow: visible;
    max-height: auto;
  }

  form.buy_activity{
    .title{
      padding-top: 4px;
      padding-bottom: 4px;
    }

    .item-info{
      margin-top: 8px;

      .pay_manner{
        padding-top: 4px;
        padding-bottom: 4px;
        span:first-child{
          margin-left: 0px
        };

        span{
          margin-left: 10px
        }

        input[type=radio]{
          margin-top: 0;
        }
      }
    }

    #order_transaction_address_id{
      width: 100%;
    }

    .address-info{
      display: none;

      .row-fluid{
        margin-top: 8px;

        .control-label{
          float: none;
          width: auto;
          padding: 0;
          text-align: left;
        }
      }


    }

    .address-info, .item-info{
      .error{
        input, select{
          border: 1px solid #b94a48;
        }
      }
    }
  }
}

.like-button, .unlike-button, .dialog .like-count, .btn.active{
  color: white;
  background-color: #FF0000;
  background-image: linear-gradient(to bottom, #FF0000, #ff0000);
}

.like-button:hover{
  background-position: 0 30px;
  background-color: #FF0000;
}

.unlike-button:hover{
  background-position: 0 30px;
  background-color: #FF0000;
}

.activities{
  .not_dialog{

    .activity-auction, .activity-focus{
      width: 100%;

      .dialog{
        @include transparent(rgb(51,51,51),0.4);
        @include border-radius(1px);
        @include box-shadow(none);
        border: none;

        .modal-footer{
          background-color: transparent;
        }

        .modal-header{
          .close{
            display: none;
          }
        }

        .modal-body{
          overflow: visible;
          max-height: 100%;

          .focus_progress{
            margin-top: 23px;
            margin-right: 20px;
          }
        }
      }
    }
  }
}