// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebarwidth: 242px;

// Active Admin's got SASS!
//
@import "twitter/bootstrap.css";
@import "active_admin/mixins";
@import "active_admin/base";
@import "attachments";
@import "system/simpledatepicker";
@import "system/fullcalendar";
@import "lib/notify/pnotify";
@import "lib/chosen";
// Overriding any nonvariable SASS must be done after the fact.
// For example, to change the default statustag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*height:1%;}

@mixin clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

.attachmentlist {
  @include clearfix();
}

.pagination{
  ul{
    li{
      float: left;
    }
  }
}


body.system_categories{

  .sidebar_category{

    li{
      padding: 3px 0pt 3px 16px;

      span{
        cursor: pointer;
      }
    }

  }

  .category_sidebar{
    float: left;
    width: 20%;
  }

  table.index_table{
    width: 80%;
  }
}

.fragments-group>li{
  float: left;

  >label{
    float: none !important;
  }
}

.formtastic.product{
  li.category{
    clear: both;
  }
}

.adjust_activities{
  #activity{
    margin: 0 auto 20px;
    padding:5px;
    border-top: 1px solid #ddd;
  }
  .adjust-modal-header h3 {
    padding: 9px 15px;
    line-height: 30px;
  }
  .modal-footer{
    padding: 14px 15px 15px;
    border-top: 1px solid #ddd;
  }
  .modal{
    left:30%;
  }
  #calendar{
    & > table:first-child{
      td{border:0px;}
    }
    td{ border: 1px #ddd solid; }
    .fc-button{
      padding: 4px 6px 4px 6px;
    }
    .fc-event {
      margin: 0px 1px 1px 1px;
    }
  }
}

.schedule_sort{
  .ui-pnotify {
    div {
      padding: 4px;
      margin: 2px;
    }
    h4{ padding-top: 5px; margin-bottom: 1em; }
  }
  .tooltipevent
  {
    font-size: 14px;
    position: absolute;
    width: 250px;
    max-width: 400px;
    text-align: left;
    padding: 4px;
    border: #87CEEB solid 7px;
    border-radius: 5px;
    background: #00BFFF;
    z-index: 1000;
    span{
      font-size: 16px;
    }
  }
}
.formtastic{
  .label{ background-color: white;}
}

.catalog{
  .actions{ float: right;}
}
table.index_table td{ vertical-align: middle !important; text-align: center;}
table.index_table th{ text-align: center !important; }

#activity_start_time_input, #activity_end_time_input{
  select{
    width: auto;
  }
}

.region, .edit_region{
  /*.firm_choice{margin-top: 20px;margin-bottom: 20px;}*/
  .address_part_list, .city_list{
    width: 60%;
    padding-bottom: 20px;
    li{
      font-size: 14px;
      padding-bottom: 5px;
      list-style:none;
      float: left;
      padding-left: 20px;
      input{
        margin: 0px;
      }
    }
  }
  .address{
    position: relative;
    width: 60%;
  }
  .confirm_choice{
    position: absolute;
    top:-35px;
    left:700px;
  }

  .address{
    margin-top: 20px;
    background-color: rgb(215, 215, 230);
    border: 3px solid rgb(185, 158, 189);
    min-height: 100px;
  }

  .advertisement{
    font-size: 16px;
    textarea{
      width: 400px;
      margin-left: 10px;
      margin-bottom: 20px;
    }
  }

  .region_name{
    font-size: 16px;
    padding-right: 10px;
    margin-bottom: 10px;
    .region_name_input{
      margin-left: 10px;
    }
  }
  .photo_upload{
    height: 116px;

    ul.attachment-list{
      margin: 0px;
      padding: 0px;

      li{
        margin-top: 0px;
        padding-top: 0;
        display: inline-block;
      }
    }
  }

  .region_create{
    clear: both;
    margin-top: 5px;
  }
}

.category-properties, .panel_contents{
  position: relative;

  .chose-all{
    float: right;
  }

  .action-bar{
    margin-left: 20px;
  }

  .join_filter{
    input[type=submit]{
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }

  .property{
    #property_id_input{
      width: 20%
    }

    li{

      .label{
        width: 10%;
      }

    }
  }
}

.category_property_value_wrap{

  .new{
    form{

      label{
        width: 10%
      }

      input[type=text]{
        width: 150px;
      }
    }
  }
}

.typeahead.dropdown-menu{
  li{
    a{
      color: black;
    }
  }
}

.transfer_sheet{
  .code{
    font-size: 17px;
    font-weight: bold;
  }
}