@import "variables";
@import "compass/css3/box-shadow";
@import "compass/css3";
@import "lib/transparent";

.activity.auction{
  height: 363px;
  .out-box {
     @include transparent(rgb(51,51,51), 0.4);
  }
}

.activity.focus{
  height: 363px;
  .out-box {
     @include transparent(rgb(71,71,71), 0.4);
  }
}

.ask_buy {
  height: 363px;
  .out-box {
    @include transparent(rgb(77, 99, 44), 0.4);
  }
}

.shop_product {
  height: auto;
  .out-box {
    @include transparent(rgb(91,91,91), 0.4);
  }
}

.product {
  height: auto;
  .out-box {
    @include transparent(rgb(99, 99, 44), 0.4);
  }
}