//= require 'jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.8.16.custom'
//= require 'hallo'
//= require 'image'
//= require 'annotate'
//= require 'arrow'
//= require 'bootstrap_extend'
//= require_self

@import "variables";

$left-side-admin-width :200px;


#admin_content { 
	margin-top: 20px;
}

#admin_left_side {
	width: $left-side-admin-width;
	position: absolute;
	min-height: 500px;
	top: 0px;
	left: 0px;
	bottom: 0px;	
}

#admin_main {
	margin-left: $left-side-admin-width + $gridGutterWidth;
	// margin-top: $slide-height;
}

.editor {
	border: 4px dashed #ccc;
	min-height: 400px;
}

.indent_1 td:first-child {
	padding-left: 0px;
}

.indent_2 td:first-child{
	padding-left: $gridGutterWidth * 2;
}

.indent_3 td:first-child {
	padding-left: $gridGutterWidth * 4;
}

.indent_4 td:first-child {
	padding-left: $gridGutterWidth * 6;
}

.collapse_button {
	margin-left: 10px;
}

.collapse_button ul {
	margin-left: 0px;
	li {
		list-style-type: none;
		padding-top: 13px;
	}
}

.category.collapse_button{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.caret.up {
	border-top:   none;
	border-right: 4px solid transparent;
	border-left:  4px solid transparent;
	border-bottom:  4px solid $black;
}

.caret.left {
	border-top:   4px solid transparent;
	border-right: 4px solid $black;
	border-left:  none;
	border-bottom:  4px solid transparent;
}

.caret.right {
	border-top:   4px solid transparent;
	border-right: none;
	border-left:  4px solid $black;
	border-bottom:  4px solid transparent;
}
