@import "core";
@import "animate";
@import "banks";
@import "admins/shops";
@import "communities";
@import "attachments";
@import "attachment_uploader";
@import "caret";
@import "progress";
@import "transaction";
@import "admins/shops/products";
@import "lib/notify/pnotify";
@import "bootstrap-datetimepicker.min";
@import "product_comment";
@import "ask_buy";
@import "lib/transparent";
@import "lib/tree_slide";
@import "admins/shops/shop_banks";
@import "direct_transaction";
@import "bootstrap-editable";
@import "admins/shops/community_people";
@import "people/community_people";
@import "order_refund";
@import 'transactions/order';
@import 'transactions/product_item';
@import 'shop_products';


$left-side-admin-width: 160px;

.sidebar{
  .side-nav{
    .cell{
      margin-left: 20px;
    }
    img {
      margin: 0px 10px 5px;
      width: 130px;
    }
}
}

#admin_content {
  position: relative;
  margin-top: 20px;
}

#admin_left_side {
  width: $left-side-admin-width;
}

#admin_main {
  margin-left: $left-side-admin-width + $gridGutterWidth;
  // margin-top: $slide-height;
}

.editor {
  border: 4px dashed #ccc;
  min-height: 400px;
}

.indent_1 td:first-child {
  padding-left: 0px;
}

.indent_2 td:first-child{
  padding-left: $gridGutterWidth * 2;
}

.indent_3 td:first-child {
  padding-left: $gridGutterWidth * 4;
}

.indent_4 td:first-child {
  padding-left: $gridGutterWidth * 6;
}

.collapse_button {
  margin-left: 10px;
}

.collapse_button ul {
  margin-left: 0px;
  li {
    list-style-type: none;
    padding-top: 13px;
  }
}

.category.collapse_button{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.title{
  h1{
    font-size: 24px;
    font-weight: 300;
    margin: 0px;
    line-height:30px;
  }

  hr{
    margin: 5px 0px 20px;
  }
}

.resource-panel.well{
  color: black;
}

.transaction-body{

  .dprice_edit_panel{
    display: none;
  }

  .dprice_edit{
    margin-left: 10px;
  }
}


#category-selector .side-nav li i[class*=icon] {
  float: left;
}

.panel {
  &.diffrent{
    margin-left:8px;
  }
  padding-top: 10px;
  @include transparent(rgb(51,51,51), 0.4);
  h4 {
    margin: 0 10px 10px 10px;
  }

  .position {
    position: relative;
    bottom: 310px;
    left: 37px;
  }
  .info {
    margin: 10px;
  }

  .search-form {
    margin: 0px 10px 0px 10px;
  }
}



.product_list {
  // @include border-radius(1px);
  color: #f8f8f8;
  // overflow-y: auto;

}

.product_item:nth-child(odd) {
  // @include transparent(rgb(51,51,51), 0.25);
}


.my_product_list{
  .product_item{
    &:hover {
      /*@include transparent(rgb(51,51,51), 0.25);*/
      border-left: 3px solid $blue;
    }
  }
  .checked_product{
    /*background-color: rgba(51, 51, 51, 0.6);*/
    border-left: 3px solid $blue;
  }
}

.product_item {
  padding: 10px 10px 10px 70px;
  border-top: 1px solid #222;
  border-top: 1px solid rgba(51,51,51,0.25);
  border-left: 3px solid transparent;

  .product_img {
    width: 50px;
    float: left;
    margin-left: -60px;
  }

  input {
    width: 50px;
    display: inline-block;
  }

  section {
    display: inline-block;
    .label:hover {
      background: $grayLighter;
      color: $black;
    }
  }

  &:hover {
    @include transparent(rgb(51,51,51), 0.25);
    // border-left: 3px solid $red;
  }
}

.checked_product {
  @include transparent(rgb(51,51,51), 0.6);
  border-left: 3px solid $red;

  &:hover {
    @include transparent(rgb(51,51,51), 0.6);
    border-left: 3px solid $red;
  }
}

.dialog_product .nav-tabs {
  border-bottom: none;
  margin-bottom: 2px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  @include transparent(rgb(51,51,51), 0.4);
}

.search-header {
  @include transparent(rgb(51,51,51), 0.4);
  padding: 10px 25px 0 25px;
  form {
    margin: 0px;

    .input-append {
      margin-bottom: 0px;
    }
  }
}

.attention{
  .attention_detail{
    display:inline-block;
    margin-left:20px
  }
  a:link{
    color: #2A3F49;
  }
  span{
    color: white;
  }
}

.delete_bank{
  color: $grayLighter;
}

.shop_info {
  .column_name{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  $margin-top: 20px;
  hr{
    margin: 0px;
  }

  .modify{
    margin-right: 10px;
    width: 80px;
  }

  .form-horizontal .controls {
    margin-left: 100px !important;
  }

  .section {
    .qq-uploader{
      margin-left: 8px;
    }
    margin-bottom: $margin-top;

    legend {
      margin-bottom: 0px;
    }

    .reset_avatar {
      min-width: 150px;
      max-height: 200px;
      text-align: center;

      .popover {
        color:black;
      }

      .cell {
        margin-top: 2*$margin-top;
      }

      .normal_picture {
        width: 5*$margin-top;
        height: 5.5*$margin-top;
      }
    }

    .input_locate {
      margin-top: 50px;
      margin-left: -10px;
      margin-bottom: $margin-top;

      input {
        width: 100%;
        min-width: 90px;
      }

      .address_panels{
        input{
          width: 63%;
        }
        .address-panel{
          margin-left: 10%;
        }
      }

      .control-label {
        width: 80px !important;
      }
    }
  }
}

.form-search-user{
  margin-top: 15px;

  input{
    margin: 0px;
  }

  button{
    margin: 0px;
    margin-left: 5px;
  }
}

.hidden_one{
  text-align: center;
}

.paddings{
  padding-top: 20px;
}

.bill_detail{
  .cell{ padding-top: 18px;}
  .dl-horizontal dt{ width: 80px; text-align: center;}
  .dl-horizontal dd{ margin-left: 10px;}
}

.apply-notify{
  text-align: center;

  .message{
    display: inline-block;

    .toolbar{
      margin-top: 20px;
    }
  }
}

#left_sidebar{
  .followings, .orders{
    text-align: center;

    a{
      color: white;
      text-decoration: none;
    }

    .count{
      font-size: 17px;
      font-weight: bold;
    }
  }
}
