/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

@import "another_bootstrap";
@import "compass/css3";
@import "caret";
@import "footer_nav";
@import "bootstrap-spinner";
@import "bootstrap-datetimepicker.min";
@import "nanoscroller";
@import "activity";
@import "modal";
@import "stream_item";
@import "responsive-stream";
@import "lib/transparent";

body {
	padding-bottom: 100px;
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4="),url("../img/bgnoise_lg_dark.png");
	// background-color: rgba(57,123,137,0.91);
	@include transparent(rgb(57,123,137), 0.91);
	@include background(radial-gradient(farthest-side ellipse at 10% 0, 
										rgba(#69D2E7,0.91),
										rgba(#A7DBD8,0.91),
										rgba(#E0E4CC,0.91)),url('bgnoise_lg_dark.png'));

}

.btn {
	color: #fff;
	@include text-shadow(none);
	&:hover {
		color: #fff
	}

}

.noScroll {
	overflow: hidden;
}


// logo 

.logo {
	position: absolute;
	margin-left: 60px;
	a {
		color: white;
	}

	&.affix {
		top: 0px;
		position: fixed!important;
		z-index: 1031;		
	}

	&.sidebar-icons {
		left: 1.6%;
		margin-left: 0px;
		padding-left: 5px;
		width: 40px;
		&.affix {
			top: 0px;
			h4 {
				margin: 0;
				font-size: 0.75em;

				strong {
					display: block;
				}
			}
		}
		// top: 13px;
	}
}




.wrap {
	margin-left: 185px;
	padding-top: 30px;

	&.sidebar-icons {
		margin-left: 62px;
	}
}

.open_right_side .wrap {
	margin-right:  200px;
}

.right-mini .wrap {
	margin-right:  60px;
}

// sidebar 

.sidebar {
	// background: rgba(51,51,51,0.4);
	@include transparent(rgb(51,51,51), 0.4);	
	position: absolute;
	width: 160px;
	padding: 10px 0;
	top: 0;
	color: #fff;
	z-index: 1;
	margin: 80px 0 0 25px;
	@include border-radius(1px);

	&.affix {
		top: 0px;
		position: fixed!important;
		z-index: 1030;	
	}

	&.affix-top {
		top: 0px;
		position: fixed;
	}

	&.sidebar-icons {
		width: auto;
		margin: 80px 0 0 1.6%;

		.settings {
			.btn-auto {
				display: block;
			}

			.btn-icons {
				display: none;
			}
		}
	}
}


.side-nav.sidebar-icons li .name {
	display: none;
}

.side-nav {
	margin: 0;

}

.side-nav li {
	list-style: none;
}


.sidebar-on-right .side-nav.sidebar-icons>li.active>a, .side-nav.sidebar-icons>li.active>a {
	border-left: none;
	border-right: none;
	padding-left: 16px;
}

.side-nav.sidebar-icons li a {
	padding: 8px 16px;
	text-align: center;
}

.side-nav>li.active>a {
	border-left: 4px solid #fff;
	padding-left: 16px;
	// background: rgba(51,51,51,0.25);
	@include transparent(rgb(51,51,51),0.25);
}

.side-nav li a {
	color: inherit;
	text-decoration: none;
	display: block;
	padding: 8px 20px;
}

.side-nav li i[class*=icon] {
	line-height: 20px;
	float: right;
}

.side-nav.sidebar-icons li a i[class*=icon] {
	margin-right: 0;
	float: none;
}

.side-nav .accordion-group {
	margin: 0;
	border: none;
	@include border-radius(0);
}

.sidebar .accordion-group {
	background: none;
}

.sidebar .settings {
	margin-top: 10px;
	text-align: center;
	.btn-auto {
		display: none;
	}
}

.sidebar.sidebar-icons .accordion-body li a {
	width: 1px;
	padding-left: 10px;
	@include transition(width 0.3s);
}


.sidebar.sidebar-icons .accordion-body.in li a {
	width: 80px;
}

// messages
.messages {
	// background: rgba(51,51,51,0.85);
	@include transparent(rgb(51,51,51),0.25);	
	box-shadow: none;
	@include box-shadow(none);
	@include border-radius(0);
	border: none;
	color: #fff;

	&>li>a {
		color: #fff;
		padding: 8px 10px;
	}

	.text {
		font-size: 11.05px;
		color: #ddd;
	}	
}

.navbar .nav>li>.messages:after {
	border-bottom-color: rgba(51,51,51,0.85);
}

// support 

// account
.account {
	// background: rgba(51,51,51,0.85);
	@include transparent(rgb(51,51,51),0.85);		
	box-shadow: none;
	@include box-shadow(none);
	@include border-radius(0);
	border: none;
	color: #fff;

	&>li>a {
		color: #fff;
		padding: 8px 10px;
	}

	.text {
		font-size: 11.05px;
		color: #ddd;
	}	
}

.navbar .nav>li>.account:after {
	border-bottom-color: rgba(51,51,51,0.85);
}

// publish

.publish {
	// background: rgba(51,51,51,0.85);
	@include transparent(rgb(51,51,51),0.85);	
	box-shadow: none;
	@include box-shadow(none);
	@include border-radius(0);
	border: none;
	color: #fff;

	&>li>a {
		color: #fff;
		padding: 8px 10px;
	}

	.text {
		font-size: 11.05px;
		color: #ddd;
	}	
}

.navbar .nav>li>.publish:after {
	border-bottom-color: rgba(51,51,51,0.85);
}

// content 
.content {
	padding: 25px 2.5641%;
}

.account .user_icon {
	width: 50px;
	height: 50px;
	margin: 0px 5px;
}


// widget 
.widget {
	@include border-radius(1px);
	padding: 10px 12px;
	color: #f8f8f8;
	@include transparent(rgb(51,51,51),0.4);
	margin-bottom: 30px;
	position: relative;
}

.widget-tabs {
	@include box-shadow(none);
	padding: 0;
}

.widget-tabs .body {
	background: rgba(51,51,51,0.4);
	margin-top: 0;
	padding: 10px 12px;
	@include border-radius(0 0 1px 1px);
}


.widget-tabs .nav>li>a {
	padding-top: 7px;
	padding-bottom: 6px;
	color: #f8f8f8;
}
// tabs 
.nav-tabs {
	border-bottom: none;
	&>li {
		margin-bottom: -1px;
	}
}

.nav-tabs>li>a {
	@include border-radius(1px 1px 0 0);
	color: #f8f8f8;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	border-color: transparent;
}
.nav>li>a:hover, .nav>li>a:focus {
	@include transparent(rgb(51,51,51),0.25);
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
	color: #f8f8f8;
	@include transparent(rgb(51,51,51),0.25);
	border-color: transparent;
}



// activity-category
.activity-category {
	margin: 0px;
}

.activity-category.affix {
	position: fixed;
	top: 40px;
	z-index: 1032;
	@include transparent(rgb(0,0,0),0.55);				
}

// .nav-tabs>li>a, .nav-pills>li>a {
// 	padding-right: 12px;
// 	padding-left: 12px;
// 	margin-right: 2px;
// 	line-height: 14px;
// }
// hedear navigration

.page-header {
	margin: 15px 0 0px;
	border: none;

	.navbar-inner {
		background: transparent;
		@include transparent(rgb(0,0,0),0.0);
		border: none;
		@include box-shadow(none);

		.nav>li>a {
			font-size: 18px;
		}

		.nav>li .count {
			position: absolute;
			bottom: 2px;
			right: 2px;
			font-size: 9.1px;
			font-weight: normal;
			// background: rgba(51,51,51,0.55);
			@include transparent(rgb(51,51,51),0.55);				
			color: rgba(255,255,255,0.9);
			line-height: 1em;
			padding: 2px 4px;
			@include border-radius(10px);
		}
	}

	.navbar.affix {
		top: 0px;
		position: fixed!important;
		left: 0px;
		right: 0px;
		z-index: 1030;
		// @include background(rgba(0,0,0,0.5));
		@include transparent(rgb(0,0,0),0.55);

		.nav>li>a {
			color: white;
		}
	}

	.navbar.affix-top {
		position: fixed;
		top: 15px;
		right:0px;
		z-index: 1030;
	}




	.search-query {
		border: none;
		color: #f8f8f8;
		background: url(search-white.png) 5px 5px no-repeat rgba(51,51,51,0.4);
		@include transparent(rgb(51,51,51),0.4);				

		padding-left: 26px;
		width: 100px;
		line-height: 20px;
		@include transition(width 0.2s);
		@include border-radius(1px);
	}

	.nav>li.divider {
		display: block;
		height: 38px;
		width: 1px;
		margin: 0 20px;
		background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
		@include background(linear-gradient(rgba(51,51,51,0),rgba(51,51,51,0.5),rgba(230,230,230,0)));
	}
}


.open_right_side {

	.navbar.affix {
		right: 200px;
	}	

	.navbar.affix-top {
		right: 200px;
	}

	&.right-mini {
		.navbar.affix {
			right: 74px;
		}	

		.navbar.affix-top {
			right: 74px;
		}
	}
}

// Social Sidebar


.right-sidebar {
	position: absolute;
	display: none;
	width: 200px;
	margin-bottom: 0px;

	header {
		.nav {
			float: left;
		}
	}
	.settings {
		padding: 5px;
		.btn-auto {
			display: none;
		}
		display: inline-block;
	}

}

.right-mini .right-sidebar {
	width: auto;

	&>header>.nav {
		display: none;
	}

	.user-info {
		display: none;
	}

	.settings {
		.btn-icons {
			display: none;
		}

		.btn-auto {
			display: block;
		}
	}

	.tab-header {
		text-indent: 1000px;
		display: none;
	}
}

.open_right_side 
.right-sidebar {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0px;
	display: block;

}

.right-mini .right-sidebar {
	width: 70px;
}


.right-sidebar .tab-content {
	overflow: visible;
}

.right-sidebar header ul {
	margin: 0px;
}


.users-list {
	list-style: none;
	margin: 0px;

}

.users-list li:hover {
	@include transparent(rgb(51,51,51),0.25);

	// position: absolute;

	width: 300px;
	margin-left: -100px;
}
.right-mini .users-list li:hover {
	width: 300px;
	margin-left: -240px;

	.user-info {
		display: block;
	}
}

.users-list li {
	border-top: 1px solid rgba(51,51,51,0.25);
	padding: 12px;
	min-width: 60px;
	margin: 0 -12px;
	cursor: pointer;
	height: 50px;
	@include transition(width 0.0s, margin 0.3s);
	overflow: hidden;
}

.users-list .name, .users-list .time, .users-list .position {
	line-height: 16px;
}

.users-list li img {
	width: 50px;
}


.users-list .user-info {
	margin-left: 62px;
}