/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require ./lib/fileuploader.css
 *= require ./lib/jquery.columnview
 *= require_self
 *= require_tree .
 *
 */

$border_color  : #980905;
$main_color    : #C52F24;
$second_color  : #80140C;
$header_height : 109px;
$left_width    : 240px;
$std_width     : 1200px;
$std_font_size : 12px;
$slide_height  : 420px;

body {
	margin: 0px;
}

#header-back {
	background: $main_color;
	border: 1px solid $border_color;
	padding: 0px 1em;
}

#header {
	color: white;
	height: $header_height;
	margin: auto;
	position: relative;
}

.nav {
	margin: 0px;
	padding: 0px;
}

.nav li {
	float: left;
	list-style-type: none;
	margin: 0px;
	padding: 5px 5px;
	white-space: nowrap;
	font-size: 12px;
}

.nav li a {
	text-decoration: none;
	color: white;
}

.logo {
	padding: 1em;
	width: 200px;
	float: left
}

.right_menu {
	position: absolute;
	right: -3px;
}

.container {
	width: $std_width;
}

.second-nav-bar {
	min-width: $std_width;
	background: $second_color;
	height: 32px;
}

.left-side {
	float: left;
	width: $left_width;
	margin-top: 1px;
}

.contents {
	margin-top: -34px - $slide_height;
	margin-left: auto;
	margin-right: auto;
}

#main-nav {
	height: 33px;
}

.main-slide {
	height: $slide_height;
	background: green;
	position: relative;
	z-index: 1
}

.body {
	margin-left: 240px;
}

#main-nav .nav li {
	font-size: 14px;
	line-height: 24px;
}



.search {
	padding: 40px 0px 0px 20px;
	float: right;
}

.search input[name=query] {
	height: 2em;
	width: 480px;
}

.shadow {
	-webkit-box-shadow: 2px 0 6px -3px black;
	   -moz-box-shadow: 2px 0 6px -3px black;
	        box-shadow: 2px 0 6px -3px black;
}

.slide-box {
	height: $slide_height;
	width: $std_width - $left_width;
	position: relative;
	z-index: 2;
}

.slide-box .pagination {
	position: absolute;
	bottom: 20px;
	z-index: 4;
}

.slide-box .pagination li{
	float: left;
	list-style-type: none;
}

.slides_container {
    width:100%;
    height: $slide_height;
}
.slides_container div {
    width:100%;
    height: $slide_height;
    display:block;
}

.slides_container div img {
    width:1024px;
    height:768px;
}

.wrapper {
	margin-right: auto;
	margin-left: auto;
}

.category-top-bar {
	background: #944039;
	height: 33px;
}

.category-top-bar a {
	line-height: 33px;
	margin-left: 20px;
	color: white;
}

.category-content {
	min-height: 680px;
	background: white;
	position: relative;
	z-index: 2;
}

