/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

@import "core";
@import "footer_nav";
@import "bootstrap-spinner";
@import "bootstrap-datetimepicker.min";
@import "activity";
@import "modal";
@import "stream_item";
@import "responsive-stream";
@import "ask_buy";
@import "yellow_page";
@import "shop_products";
@import "property";

.activity-category {
  margin: 0px;
}

.activity-category.affix {
  position: fixed;
  top: 40px;
  z-index: 1032;
  @include transparent(rgb(0,0,0),0.55);
}

.to-blur {
  @include filter(blur(3px));
  @include transition(0.0s);
}

.dialog {
  z-index: 1050;
  background-color: white;
  border: 1px solid #999999;
  // border: 1px solid rgba(0, 0, 0, 0.3);
  @include border-radius(1px);
  @include box-shadow (0 3px 7px rgba(0, 0, 0, 0.3));
  @include background-clip(padding-box);
  outline: none;
  margin-bottom: 20px;
}

.big_comments_and_reply {
  text-align: left;
  .comments {
    .comment {
      padding: 0px 20px 10px 60px;
      min-height: 60px;
      .people-image {
        margin-left: -60px;
        float: left;
        width: 50px;
        height: 50px;
      }

      .author-name {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  .reply_form {
    padding: 0px 20px 10px 60px;
    .user-info {
      margin-left: -60px;
      float: left;
      width: 50px;
      height: 50px;
    }

    .message {
      textarea {
        width: 100%;
      }
    }
  }
}

.form_activity_auction, .form_ask_buy{
  .chzn-container .chzn-results{
    max-height: 250px;
  }
}