// .info-wrapper > div:first-child {
//   margin-left: 0px !important;
// }
.circles{
  .row-fluid .businiess_community:first-child{
    margin-left: 10px !important;
  }
}

.info-wrapper{ 
  .row-fluid .user_info:first-child{
    margin-left: 0px !important;
  }
  .user_info, .shop_info{
    overflow: hidden;
    // @include transparent(rgb(51,51,51),0.4);
    background-color: $white;
    margin-left: 10px;
    margin-bottom: 20px;
    // margin-left: 20px;
    -webkit-box-shadow: 1px 2px 0 rgba(0,0,0,.05);
    box-shadow: 1px 2px 0 rgba(0,0,0,.05);
    height: 100px;

    .hover_place{
      top: 0px;
      left: 0px;
    } 

    .content {
      position: relative;

      color: #999;
      .actions {
        position: absolute;
        // top: 150px;
        top: 120px;
        left: 40px;
      }

      // padding-left: 132px;
      p {
        // padding: 10px 0px 0px 0px;
        margin: 0px;
        font-size: 20px;
        color: #333;
      }

      .avatar.header{
        max-width: none;
        float: left;

        width: 100px;
        height: 100px;
        padding-right: 10px;
        // margin-left: -132px;
      }
    }

    .info_detail{
      position: fixed;
      top: 0px;
      left: 0px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background-color: #fff;
      overflow: hidden;
      text-align: center;
      display: none;
      width: 240px;
      height: 300;
      z-index:1;

      .userinfo {
        margin-top: 110px;
        .contact {
          line-height: 30px;
          padding-top: 20px;
          background-color: rgba(231, 192, 192, 0.09);
          .icon-leaf {
            color: green;
          }
        }
      }

      .login, .shop_name {
        -webkit-transition: color .218s;
        transition: color .218s;
        a {
          color: #338DCE;
        }
        font-weight: bold;
        margin-bottom: -40px;
      }

      .industry_type {
        color: #160f0f;
        font-size: 13px;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 40px;
      }

      .tel{
        color: #160f0f;
      }

      .entry, .add_friend {
        text-align: center;
        a{
          color: #338DCE;
        }
      }

      .bg_nature {
        opacity: .80;
        background-color: #000;
        height: 135px;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 0px;
        width: 240px;
        height: 150px;
      }

      div {
        padding-top: 6px;
      }

      .circle_avatar {
        position: relative;
        img{
          height: 50px;
          width: 50px;
        }
      }
    }
  }

  .circle_info{
    margin-bottom: 20px;
    // margin-left: 20px;
    @include transparent(rgb(51,51,51),0.4);
    -webkit-box-shadow: 1px 2px 0 rgba(0,0,0,.05);
    box-shadow: 1px 2px 0 rgba(0,0,0,.05);
    width: 30%;
    background-color: "";
    height: 310px;

    .circle_icon{
      height: 200px;
      width: 100%;
    }

    .circle_detail{
      margin-left: 10px;

      .circle_name{
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 5px;
      }

      .circle_count{
        color: #FFFFFF;
        font-size: 13px;
      }

      .friends_icons{
        img{
          height: 30px;
          width: 30px;
          padding-top: 5px;
          margin-right: 5px;
        }
      }
    }
  }
}