@import "variables";

@mixin caret-arrow($dist, $size, $color, $height: $size) {
	$left: 'right';
	$right: 'left';
	$bottom: 'top';
	$top: 'bottom';
	$inverse-dist: none;

	@if $dist == 'up' { $dist:'top'; }
	@if $dist == 'down' { $dist: 'bottom'; }
	@if $dist == 'top' { $inverse-dist: 'bottom'; }
	@if $dist == 'bottom' { $inverse-dist: 'top'; }
	@if $dist == 'right' { $inverse-dist: 'left'; }
	@if $dist == 'left' { $inverse-dist: 'right'; }

	border: $height solid transparent;
	border-#{$dist}: none;
	border-#{$inverse-dist}: $size solid $color;
}


.caret {

	&.up {
		@include caret-arrow('up', 5px, $black);
	}

	&.inverse.up {
		@include caret-arrow('up', 5px, $white);
	}

	&.left {
		@include caret-arrow('left', 5px, $black);
	}

	&.inverse.left {
		@include caret-arrow('left', 5px, $white);
	}

	&.right {
		margin-top: 5px;
		@include caret-arrow('right', 5px, $black);
	}

	&.inverse.right {
		@include caret-arrow('right', 5px, $white);
	}
}