// Place all the styles related to the Category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "core";
@import "shops";

.category-sidebar {
	width: 280px;
}


#category-sidebar.affix-top {
  position: absolute;
}

#category-sidebar {
  width: 200px;
  top: 0px;
}

.wrap {
	margin-left: 300px;
}

#category-sidebar {
	.second_class_categories {
		height: auto;
		position: absolute;
		padding-right: 20px;
		padding-bottom: 20px;
		background-color: rgba(63, 184, 175, 0.91);
		top: 0;
		left: 201px;
		min-width: 752px;
		display: none;
		.second_class_category_tree {
			width: 230px;
			display: inline-block;
			vertical-align: top;
			margin-left: 20px;
			padding: 10px 0;
			border-bottom: 1px dashed;
			& > a {
				border-bottom: 1px solid white;
				text-align: left;
				font-size: 18px;
				display: block;
				padding: 4px 10px 4px 0;
			}
			li.third_class_category_node {
				display: inline-block;
				padding: 4px 10px 4px 0;
				a { padding-left: 4px; }
			}
		}
	}
}