// Place all the styles related to the Category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "core";
@import "shops";
@import "lib/transparent";

.category-sidebar {
	width: 280px;
}


#category-sidebar.affix-top {
 	position: absolute;
}

#category-sidebar {
	width: 170px;
	top: 0px;
}

#category-sidebar {
	.second_class_categories {
		top: 0;
		left: 180px;
		height: auto;
		display: none;
		min-width: 752px;
		position: absolute;
		padding-right: 20px;
		padding-bottom: 20px;
		@include transparent(rgb(62, 112, 108), 0.91);
		
		.second_class_category_tree {
			width: 230px;
			display: inline-block;
			vertical-align: top;
			margin-left: 20px;
			padding: 10px 0;
			border-bottom: 1px dashed;

			& > a {
				border-bottom: 1px solid white;
				text-align: left;
				font-size: 18px;
				display: block;
				padding: 4px 10px 4px 0;
			}
			
			li.third_class_category_node {
				display: inline-block;
				padding: 4px 10px 4px 0;
				a { padding-left: 4px; }
			}
		}
	}
}
