@import "_variables";
@import "compass/css3";

.chat_dialog_panel{

  .dialog_head{
    border-bottom: 1px solid #DDD;
    padding: 3px 0px;
    position: relative;

    .state{
      height: 15px;
      width: 15px;
      position: absolute;
      top: 5px;
      left: 8px;
    }

    .name{
      margin-left: 25px;
    }

    .offline{
      background: no-repeat url("/assets/chat_sprites.png") 0 -327px;
    }

    .online{
      background: no-repeat url("/assets/chat_sprites.png");
    }

    .notice{
      background: no-repeat url("/assets/chat_sprites.png") 0 -253px;
    }
  }

  .dialog_content_panel{

    .dialog_content{
      height: 248px;
      overflow-y: auto;

      ul{
        list-style: none;
        margin: 0px;

        li{
          padding: 5px 0px;

          .title{
            line-height: 28px;
            margin-left: 3px;
            color: green;

            img{
              height: 18px;
              width: 18px;
            }

            .login{
              margin-left: 5px
            }

            .date{
              float: right;
            }
          }

          .message{
            padding: 6px 5px;
            word-break: break-all;
          }
        }
      }
    }

    .dialog_foot{

      .content{
        height: 60px;
        padding: 0px 5px;

        textarea{
          resize: none;
          width: 100%;
          padding: 0px;
          margin: 0px;
          height: 100%;
        }
      }

      .foot_nav{
        padding: 5px 5px;
      }
    }
  }
}
