@import "core";
@import "widget";

body.communities{
  >.wrap{
    margin-left: 210px;
  }
}

#community-sidebar{
  width: 190px;
  padding-top: 2px;

  .title{
    margin-top: 0px;
    margin-left: 10px;
  }

  .avatar{
    text-align: center;
    margin-bottom: 10px;

    img{
      width: 182px;
      height: 233px;
    }
  }

  hr{
    border: 1px solid rgba(0, 122, 255, 0.34);
    margin: 0px 0px 10px 0px;
  }

  .friends{
    margin-left: 5px;

    .all_member{
      float: right;
      margin-right: 5px;
    }

    .top_member{

      .member{
        list-style: none;

        li:first-child{
          margin-left: 0px;
        }

        li{
          margin-left: 5px;
          float: left;
          position: relative;

          img.photo{
            width: 30px;
            height: 30px;
          }

          .tag{
            position: absolute;
            bottom: 0;
            right: 0;

            img{
              height: 10px;
              width: 10px;
            }
          }
        }
      }
    }
  }
}

.topics{
  .right{

    .setting{
      float: right;
      margin-right: 20px;
    }

    .owner{
      margin-bottom: 20px;

      .user{
        img{
          width: 40px;
          height: 40px;
        }
      }

      .following{
        float: right;
      }
    }
  }

  .left{
    .toolbar{
      textarea{
        height: 91px;
      }

      .title{
        line-height: 30px;
      }
    }
  }
}