@import "lib/transparent";
.community-content, .followers-content{

  .topics-panel{

    .topic-form{
      margin-bottom: 0px;

      .topic_upload{
        margin-bottom: 10px;
      }
    }

    .topics{
      margin-top: 20px;
    }

    margin-right: -5px;
    padding-right: 5px;

    .errors{
      margin: 5px 0px;
    }

    textarea.comment{
      width:400px;
      height:90px;
      resize:none;
      margin-top:10px;
    }

    .chose-friend{
      width: 320px;
      margin-bottom: 10px;
    }
  }

  .topic-right{
    .title{
      border-bottom: 1px solid #DDD;
      margin-bottom: 5px;
      margin-top: 30px;
    }

    .title-first{
      margin-top: 0px;
    }

    .content{
      margin: 10px 0;
      .friend-list{
        list-style: none;

        .friend{
          margin: 5px 0px
        }
      }
    }
  }

  .topic-panel{
    color: black;
    .topic{
      margin-right:5px;

      .title-popover-topic{
        margin: 0px;
      }

      .circle_users{
        font-size: 9px;
      }

      .status{
        margin-right: 30px
      }

      hr.line{
        margin:5px 0px;
        border-top: 1px solid #e5e5e5;
      }

      .middle-line{
        margin: 0px 8px;
      }

      .user-avatar{
        width: 20px;
        height: 20px;
        margin:0px 5px;
      }


      .popover-content{
        margin-top: 0px;
        .close-label{
          position: absolute;
          right: 5px;
          top: 5px;
          width: 12px;
          height: 11px;
          font-size: 1px;
          background: url("/assets/chosen-sprite.png") right top no-repeat;
        }
      }
    }

    .topic-comments{
      /*max-height: 300px;
      overflow: auto;*/
      margin-top: 15px;

      .more_comment, .hide_more_comment{
        float:right;
        padding-right: 20px;
      }

      .hide_more_comment{
        display: none;
      }



      .comment_panel{
        display: none;
        margin-top: 20px;
        .user_login{
          padding-left: 0px;
        }
      }

      .comments_panel{
        margin-top: 10px;
        .topic_comment{
          .content_panel{
            .user_login{
              margin-left: 10px;
              a{
                color: #262626;
                font-weight: bold;
              }
            }
          }
        }
      }

      .comment_panel, .comments_panel{
        .comment_form{
          margin-bottom: 0px;
        }

        .user_login{
          overflow: hidden;
        }

        .notice{
          text-align: center;
        }

        .topic_comment{
          margin-top: 0px;

          .comment_nav{
            font-size: 10px;

            .timeago{
              margin-right: 15px;
            }

            .remove{
              float: right;
            }

            .nav_tag{
              display: none;
            }
          }

          .content{
            clear: both;
            word-break: break-all;
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }

        .edit_panel{
          display: none;
        }

        .comment:first-child{
          margin-top: 0px;
        };


        textarea{
          width: 96%;
          margin-left: 10px;
          height: 75px;
        }

        .user_avatar{
          text-align: center;
          img{
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
}

.topic-panel{
  .well-msg{
    margin-left: 20px !important;
    background-color: white;
    p{
      color: #404040;
      font-size: 13px;
      line-height: 1.4;
    }
  }
}

.row-fluid{
  .send_user{
    margin-left: 10px;
    color: #262626;
    font-weight: bold;
  }
  .topic_date{
    margin-left: 10px;
    color: #999;
  }
}

.show_comment{
  margin-top: 20px;
}

.user-info{
  img{
    max-width: 130%;
  }
}


.yellow_page{
  .row-fluid [class*="span"]:first-child {
    margin-left: 20px;
  }

  .new_user, .buyer_user, .seller_user{  
    @include transparent(rgb(51,51,51),0.4);
    margin-bottom: 20px; 
    margin-left: 20px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 2px 0 rgba(0,0,0,.05);
    box-shadow: 1px 2px 0 rgba(0,0,0,.05);
    width: 30%;
    background-color: "";
  }
  .newer{ margin-left: 15px!important;}
  .base_info{
    .alert{ 
      margin-right: 20px; 
      margin-left: 20px; 
    }
    .user_info{
      position: relative;
      .user_icon { 
        float:left; 
        margin-right:5px; 
        width: 70px; 
        height: 70px; 
        cursor: pointer;
      }
    }
  }

  .wrapper{
    .title { 
      float:left;
      padding-top:15px; 
    }

    .tel { 
      color: #9bd0f6; 
      font-size: 13px; 
    }

    .name {  
      color: #404040;
      font-size: 13px;
      font-weight: bold;
    }
  }

  .yellow_base_info {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    text-align: center;
    display: none;
    top:70px;
    left:0px;
    width: 240px;
    height: 300;
    z-index:1;

    .userinfo {
      margin-top: 110px;
      .contact {
        line-height: 30px;
        padding-top: 20px;
        background-color: rgba(231, 192, 192, 0.09);
        .icon-leaf {
          color: green;
        } 
      }
    }

    .login, .shop_name {
      -webkit-transition: color .218s;
      transition: color .218s;
      color: #427fed;
      font-weight: bold;
      margin-bottom: -40px;
    }

    .industry_type {
      color: #737373;
      font-size: 13px;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 40px;
    }

    .entry, .add_friend {
      text-align: center;
    }

    .bg_nature {
      opacity: .80;
      background-color: #000;
      height: 135px;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      padding-top: 0px;
      width: 240px;
      height: 150px;
    }

    div {
      padding-top: 6px;
    }

    .circle_avatar {
      position: relative;
      img{
        height: 50px;
        width: 50px;
      }
    }
  }
  .address-panel{
    .address_from_post{
      padding-top: 10px;
      .error{
        border: 1px solid red;
      }
      .search_user{ 
        margin-left: 20px;
      }
      .controls {
        .hidden{ 
          position: absolute;
        }
      }
      .control-group:first-child div{
        margin-left: 5px;
      }
    }
  }

  .hot_city{
    padding-left: 20px;
    a{ 
      color: white; 
      font-size: 15px;
    }
  }
}
