/*.community-content, .followers-content{

  .topics-panel{

    .topic-form{
      margin-bottom: 0px;

      .topic_upload{
        margin-bottom: 10px;
      }
    }

    .topics{
      margin-top: 20px;
    }

    margin-right: -5px;
    padding-right: 5px;

    .errors{
      margin: 5px 0px;
    }

    textarea.comment{
      width:400px;
      height:90px;
      resize:none;
      margin-top:10px;
    }

    .chose-friend{
      width: 320px;
      margin-bottom: 10px;
    }
  }

  .topic-right{
    .title{
      border-bottom: 1px solid #DDD;
      margin-bottom: 5px;
      margin-top: 30px;
    }

    .title-first{
      margin-top: 0px;
    }

    .content{
      margin: 10px 0;
      .friend-list{
        list-style: none;

        .friend{
          margin: 5px 0px
        }
      }
    }
  }

  .topic-panel{
    color: black;
    .topic{
      margin-right:5px;

      .title-popover-topic{
        margin: 0px;
      }

      .circle_users{
        font-size: 9px;
      }

      .status{
        margin-right: 30px
      }

      hr.line{
        margin:5px 0px;
        border-top: 1px solid #e5e5e5;
      }

      .middle-line{
        margin: 0px 8px;
      }

      .user-avatar{
        width: 20px;
        height: 20px;
        margin:0px 5px;
      }

      .user-info{
        .avatar{
          max-width: none;
          width: 40px;
          height: 40px;
        }
      }


      .popover-content{
        margin-top: 0px;
        .close-label{
          position: absolute;
          right: 5px;
          top: 5px;
          width: 12px;
          height: 11px;
          font-size: 1px;
          background: url("/assets/chosen-sprite.png") right top no-repeat;
        }
      }
    }

    .topic-comments{
      margin-top: 15px;

      .more_comment, .hide_more_comment{
        float:right;
        padding-right: 20px;
      }

      .hide_more_comment{
        display: none;
      }



      .comment_panel{
        display: none;
        margin-top: 20px;
        .user_login{
          padding-left: 0px;
        }
      }

      .comments_panel{
        margin-top: 10px;
        .topic_comment{
          .content_panel{
            .user_login{
              margin-left: 10px;
              a{
                color: #262626;
                font-weight: bold;
              }
            }
          }
        }
      }

      .comment_panel, .comments_panel{
        .comment_form{
          margin-bottom: 0px;
        }

        .user_login{
          overflow: hidden;
        }

        .notice{
          text-align: center;
        }

        .topic_comment{
          margin-top: 0px;

          .comment_nav{
            font-size: 10px;

            .timeago{
              margin-right: 15px;
            }

            .remove{
              float: right;
            }

            .nav_tag{
              display: none;
            }
          }

          .content{
            clear: both;
            word-break: break-all;
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }

        .edit_panel{
          display: none;
        }

        .comment:first-child{
          margin-top: 0px;
        };


        textarea{
          width: 96%;
          margin-left: 10px;
          height: 75px;
        }

        .user_avatar{
          text-align: center;
          img{
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
}

.topic-panel{
  .well-msg{
    margin-left: 20px !important;
    background-color: white;
    p{
      color: #404040;
      font-size: 13px;
      line-height: 1.4;
    }
  }
}

.row-fluid{
  .send_user{
    margin-left: 10px;
    color: #262626;
    font-weight: bold;
  }
  .topic_date{
    margin-left: 10px;
    color: #999;
  }
}

.show_comment{
  margin-top: 20px;
}

.user-info{
  img{
    max-width: 130%;
  }
}
*/
