@import "core";
@import "widget";
@import "lib/transparent";

body.communities{
  >.wrap{
    margin-left: 210px;
  }
}

#community-sidebar{
  width: 190px;
  padding-top: 2px;

  .title{
    margin-top: 0px;
    margin-left: 10px;
  }

  .head-avatar{
    text-align: center;
    margin: 10px;

    img{
      width: 160px;
    }
  }

  .create_category{
    text-align: center;

    .add_category{
      margin-right: 10px;
    }
  }

  hr{
    border: 1px solid rgba(0, 122, 255, 0.34);
    margin: 0px 0px 10px 0px;
  }

  .friends{

    .all_member{
      float: right;
      margin-right: 5px;
    }

    .top_member{
      padding: 0px 3px;

      .member{
        list-style: none;

        li:first-child{
          margin-left: 0px;
        }

        li{
          margin-left: 5px;
          margin-bottom: 5px;
          float: left;
          position: relative;
          height: 30px;
          width: 30px;

          img.photo{
            width: 30px;
            height: 30px;
          }

          .tag{
            position: absolute;
            bottom: 0;
            right: 0;
            line-height: 0px;
            height: 10px;
            width: 10px;

            img{
              height: 10px;
              width: 10px;
            }
          }
        }
      }
    }
  }
  .community_category{
    .new_category{
      margin-left: 20px;
      width: 140px;
    }
  }

  .address{
    margin-top: 10px;
    margin-left: 5px;

    i{
      margin-right: 3px;
    }
  }
}

.community{
  /*#SelectCircle{
    left: 40%;
    width: 780px;
  }*/
  .following{
    margin-bottom: 10px;
  }
  /*.circles{
    margin:10px 10px 0px 15px;
    .selected{
      background-color: #427fed!important;
    }
    .circle:hover{ cursor: pointer};
    .circle{
      margin-bottom: 10px;
      margin-right: 10px;
      width: 230px;
      display: inline-block;
      @include transparent(rgb(235, 235, 235), 0.97);
      box-shadow: 1px 1px 1px 1px #888888;

      .photo{
        display: inline-block;
        width: 80px;

        img{
          height: 80px;
          width: 80px;
        }
      }

      .info{
        display: inline-block;
        vertical-align: middle;
        padding-left: 10px;
      }

      a{
        color: white;
        text-decoration: none;
        display: inline-block;
        width: 100%;
      }

    }
  }*/

  .right{

    .setting{
      float: right;
      margin-right: 20px;
    }

    .owner{
      margin-bottom: 20px;

      .user{
        img{
          width: 40px;
          height: 40px;
        }
      }

      .following{
        float: right;
      }
    }

    .bottom_bar{
      .invite{
        margin-right: 20px;
      }

      .dialog-invite{
        .modal-body{
          overflow: visible;

          ul.typeahead{
            margin-top: 0px;
            width: 220px;

            li{
              .photo{
                width: 30px;
                height: 30px;
              }
            }
          }

          .title{
            text-align: center;
          }

          textarea.body{
            height: 90px;
          }
        }
      }
    }
  }

  .left{
    position: relative;

    .toolbar{
      textarea{
        min-height: 100px;
      }

      .title{
        line-height: 30px;
      }
    }

    .bgtoolbar{
      width: 100%;
      height: 161px;
      position: absolute;
      top: 0px;
      left: 0px;
      @include transparent(rgb(88, 88, 88), 0.5);
    }


  }

  .left, .right{

    .widget{
      margin-bottom: 15px;
    }

    .topic-panel{

      .topic{
        .info{
          margin-bottom: 5px;
        }

        .attachments-avatar{
          img{
            max-width: 200px;
            max-height: 200px;
          }
        }

        .user-info{
          width: 40px;
          height: 40px;
          float: left;
          margin-right: 12px;
        }

        .content{
          word-wrap: break-word;
          .normal-price{
            text-decoration: line-through;
          }
          .red-price{
            color: red;
            font-size: 16px;
          }
        }

        .line{
          margin: 10px 0;
        }

        .topic-comments{

          .comment_panel{
            display: none;
            .user_login{
              overflow:hidden;
              white-space: nowrap;
              text-overflow:ellipsis;
            }
          }

          .send_comment{
            background-color: white;
            color: #B8B8B8;
            font-size: 13px;
            line-height: 30px;
            padding-left: 10px;
          }

          .comment_bar{

            .display-comment{
              font-size: 13px;
              display: none;
            }

            .hide_comment, .more_comment{
              display: block;
            }

            .participates{

              .participate{
                display: inline-block;
                margin-left: 5px;

                img{
                  height: 20px;
                  width: 20px;
                }
              }
            }

          }

          .comments_panel{
            padding-left: 10px;

            .comment{
              display: none;
            }

            .user_info{
              width: 40px;
              height: 40px;
              float: left;
              margin-right: 10px
            }

            .content{
              margin-left: 48px;
              word-wrap: break-word;
            }
          }
        }
      }

    }
  }
}

.members{
  width: 80%;

  .member_count{
    margin-left: 15px;
  }

  .head_content{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .member{
    @include transparent(rgb(51,51,51), 0.55);
    .follow, .unfollow{
      cursor: pointer
    }

    margin-bottom: 10px;
    width: 23%;

    .member_header{
      height: 70px;
      width: 70px;
    }

    .member_login{
      /*margin-top: 15px;*/
    }

    .photo{
      position: relative;

      .tag{
        position: absolute;
        left: 55px;
        bottom: 0px;
        line-height: 0px;

        img{
          height: 15px;
          width: 15px;
        }
      }
    }
  }
}

.circle_setting{
  .m_r{
    margin-right: 20px;
  }
  .introduce{
    width: 370px;
    margin-top: 10px;
  }
  .circle_category_input{
    display: none;
  }
  .manage_category{
    font-size: 15px;
  }
  i{
    cursor: pointer;
  }
  ul > li:first-child{
    margin-left: 8px!important;
  }
  .foot{
    margin-top: 20px;
  }
  .circle_icon{
    margin-right: 12px;
    width: 100%;
  }
}
.access_denied{

}

.notification, .invite-user{
  .agree{
    margin-left: 5px;
    margin-right: 15px;
  }
}