@import "another_bootstrap";
@import "compass/css3";
@import "caret";
@import "lib/transparent";
@import "lib/chosen";
@import "my_cart";
@import "contact_friend";
@import "font-awesome";
@import "lib/stroll";
@import "attachments";

body, html {
	// $bgcolor1: #69D2E7;
	// $bgcolor2: #A7DBD8;
	// $bgcolor3: #E0E4CC;

	// $bgcolor1: #3FB8AF;
	// $bgcolor2: #7FC7AF;
	// $bgcolor3: #DAD8A7;

	color: #fff;
	// $bgcolor1: #3B3659;
	// $bgcolor2: #7972A6;
	// $bgcolor3: #A64949;

	// $bgcolor1: #A0A608;
	// $bgcolor2: #EDF249;
	// $bgcolor3: #F2D8C2;


	font: 14px/1.5 "Microsoft Yahei",tahoma,arial!important;
	/*padding-bottom: 100px;*/
	@include transparent($bgcolor1, 0.91);
	@include filter-gradient($bgcolor1, $bgcolor3, horizontal); // IE6-9 fallback on horizontal gradient
	@include background(linear-gradient(150deg, rgba($bgcolor1, 0.91), rgba(lighten($bgcolor2, 10%), 0.91), rgba($bgcolor3, 0.91)), url('bgnoise_lg_dark.png'));
	@include background(radial-gradient(farthest-side ellipse at 10% 0,
										rgba($bgcolor1,0.91),
										rgba($bgcolor2,0.91),
										rgba($bgcolor3,0.91)),  url('bgnoise_lg_dark.png'));

	// background: url('4fceb23c1312d.jpg') no-repeat;
    background-attachment: fixed;

	// background-color: #1e5799; // Old browsers
	// @include filter-gradient(#1e5799, #7db9e8, horizontal); // IE6-9 fallback on horizontal gradient
	// @include background-image(radial-gradient(farthest-side ellipse at 10% 0, #1e5799 0%,#207cca 27%,#2989d8 50%,#207cca 68%,#7db9e8 100%), url('bgnoise_lg_dark.png'))

}

.footer {
	text-align: center;
	padding: 30px 0px;
}

ul, ol {
	list-style: none;
}

ul {
	margin: 0px;
}

#active_dialog {
  width: 800px;
  margin-left: -400px;
  top: 50px!important;
}


.btn {
	color: #fff;
	@include text-shadow(none);
	&:hover {
		color: #fff
	}

}

.noScroll {
	overflow: hidden;
}

.page-title {
	color: #fff;
	font-weight: bold;
	line-height: 1;
	margin: 11px 0 15px;
}

// logo

.logo {
	position: absolute;
	margin-left: 30px;
	margin-top: 10px;
	width: 180px;

	a {
		color: white;
	}

	&.affix {
		top: 0px;
		margin-top: 0px;
		position: fixed!important;
		z-index: 1031;
		display: block;
	}

	&.sidebar-icons {
		left: 1.6%;
		margin-left: 0px;
		padding-left: 5px;
		width: 40px;
		&.affix {
			top: 0px;
			h4 {
				margin: 0;
				font-size: 0.75em;

				strong {
					display: block;
				}
			}
		}

		.title{
			display: none;
		}
		// top: 13px;
	}
}

.page-header {
	margin: 15px 0 0px;
	border: none;

	.navbar{
		.navbar-inner {
			background: transparent;
			@include transparent(rgb(0,0,0),0.0);
			@include box-shadow(none);
			border: none;
			.nav>li>a {
				font-size: 18px;
			}

			.nav>li .count {
				position: absolute;
				bottom: 2px;
				right: 2px;
				font-size: 9.1px;
				font-weight: normal;
				// background: rgba(51,51,51,0.55);
				@include transparent(rgb(51,51,51),0.55);
				color: rgba(255,255,255,0.9);
				line-height: 1em;
				padding: 2px 4px;
				@include border-radius(10px);
			}
		}
	}

	.navbar-back{
		height: 50px;
	}

	.navbar-back.affix, .navbar.affix {
		top: 0px;
		position: fixed;
		left: 0px;
		right: 0px;
		z-index: 1030;

		.nav>li>a {
			color: white;
		}
	}

	.navbar-back.affix{
		@include transparent(rgb(0,0,0),0.55);
		background: black;
		opacity: 0.55;
		filter: alpha(opacity=55);
		z-index: 1029;
	}

	.navbar-back.affix-top, .navbar.affix-top {
		position: fixed;
		top: 15px;
		right:0px;
		z-index: 1030;

	}

	.search-query {
		border: none;
		color: #f8f8f8;
		background: url(search-white.png) 5px 5px no-repeat rgba(51,51,51,0.4);
		@include transparent(rgb(51,51,51),0.4);

		padding-left: 26px;
		width: 150px;
		line-height: 20px;
		@include transition(width 0.2s);
		@include border-radius(1px);

		&:focus {
			width: 250px;
		}
	}

	.navbar.affix .search-query {
		background: url(search-white.png) 5px 5px no-repeat rgba(51,51,51,0.9);
		background: $white;
		color: #333;
	}

	.nav>li.divider {
		display: block;
		height: 38px;
		width: 1px;
		margin: 0 20px;
		// background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
		@include background(linear-gradient(rgba(51,51,51,0),rgba(51,51,51,0.5),rgba(230,230,230,0)));
	}

	.nav li a {
		@include transition(color 0.2s);
	}
}


.wrap {
	margin-left: 185px;
	padding-top: 30px;

	&.sidebar-icons {
		margin-left: 62px;
	}
}

.open_right_side .wrap {
	margin-right:  200px;
}

.right-mini .wrap {
	margin-right:  60px;
}

// sidebar

.sidebar {
	// background: rgba(51,51,51,0.4);
	@include transparent(rgb(51,51,51), 0.4);
	position: absolute;
	width: 160px;
	padding: 10px 0;
	top: 0;
	color: #fff;
	z-index: 1;
	margin: 80px 0 0 25px;
	@include border-radius(1px);

	&.affix {
		top: 0px;
		position: fixed!important;
		z-index: 1030;
	}

	&.affix-top {
		top: 0px;
		position: fixed;
	}

	&.sidebar-icons {
		width: auto;
		margin: 80px 0 0 1.6%;

		.settings {
			.btn-auto {
				display: block;
			}

			.btn-icons {
				display: none;
			}
		}
	}
}

.side-nav {
	margin: 0;

}

.side-nav li {
	list-style: none;
}

.side-nav.sidebar-icons li {
	.name {
		display: none;
	}

	a {
		padding: 8px 16px;
		text-align: center;
	}

	a i[class*=icon] {
		margin-right: 0;
		float: none;
	}
}

.sidebar-on-right .side-nav.sidebar-icons>li.active>a {
	border-left: none;
	border-right: none;
	padding-left: 16px;
}

/*:not(.collapsed) ie 8 bug*/

.side-nav li a.accordion-toggle+.accordion-body li.active a {
	@include transparent(rgb(13,13,13),0.25);
}

.side-nav>li.active>a {
	border-left: 4px solid #fff;
	padding-left: 16px;
	// background: rgba(51,51,51,0.25);
	@include transparent(rgb(51,51,51),0.25);
}

.side-nav li a {
	color: inherit;
	text-decoration: none;
	display: block;
	padding: 8px 20px;
}

.side-nav li i[class*=icon] {
	line-height: 20px;
	float: right;
}

.side-nav .accordion-group {
	margin: 0;
	border: none;
	@include border-radius(0);
}

.side-nav .accordion-body li a {
	padding: 4px 10px;
	padding-left: 40px;
}

/*.side-nav li a:hover, .side-nav li a:focus ie8 bug*/
.side-nav li:hover, .side-nav li:focus {
	>a{
		@include transparent(rgb(51,51,51),0.25);
	}
}

/*.side-nav li a.accordion-toggle:not(.collapsed)+.accordion-body li a:hover {
	@include transparent(rgb(13,13,13), 0.25);
}*/

.sidebar .accordion-group {
	background: none;
}

.sidebar .settings {
	margin-top: 10px;
	text-align: center;
	.btn-auto {
		display: none;
	}
}

.sidebar.sidebar-icons .accordion-body li a {
	width: 1px;
	padding-left: 10px;
	@include transition(width 0.3s);
}


.sidebar.sidebar-icons .accordion-body.in li a {
	width: 80px;
}

.navbar .nav > li > .dropdown-menu:after {
	border-bottom-color: #555;
	border-bottom-color: rgba(51,51,51,0.85);
}

.dropdown-menu {
	@include transparent(rgb(51,51,51),0.85);
	box-shadow: none;
	@include box-shadow(none);
	@include border-radius(0);
	border: none;
	color: #fff;

	&>li>a {
		color: #fff;
		padding: 8px 10px;
	}

	.text {
		font-size: 11.05px;
		color: #ddd;
	}
}

.page-header .navbar .nav li.dropdown.open>.dropdown-toggle, .page-header .navbar .nav li.dropdown.active>.dropdown-toggle, .page-header .navbar .nav li.dropdown.open.active>.dropdown-toggle {
	background-color: transparent;
	color: rgba(51,51,51,0.5);
}

.page-header .navbar .nav>li>a:focus, .page-header .navbar .nav>li>a:hover, .page-header .navbar .nav>.active>a, .page-header .navbar .nav>.active>a:hover, .page-header .navbar .nav>.active>a:focus {
	color: #fff;
}

// messages
.messages {
	// background: rgba(51,51,51,0.85);
	@include transparent(rgb(51,51,51),0.25);
	box-shadow: none;
	@include box-shadow(none);
	@include border-radius(0);
	border: none;
	color: #fff;

	&>li>a {
		color: #fff;
		padding: 8px 10px;
	}

	.text {
		font-size: 11.05px;
		color: #ddd;
	}
}

.navbar .nav>li>.messages:after {
	// border-bottom-color: rgba(51,51,51,0.85);
}

// shoppingcart
.shoppingcart {
	#shop_count {
		padding-left: 4px;
		padding-right: 4px;
	}
	&>ul {
		right:25px !important;
	}
}

// account
.account {
	// background: rgba(51,51,51,0.85);
	@include transparent(rgb(51,51,51),0.85);
	box-shadow: none;
	@include box-shadow(none);
	@include border-radius(0);
	border: none;
	color: #fff;

	&>li>a {
		color: #fff;
		padding: 8px 10px;
	}

	.text {
		font-size: 11.05px;
		color: #ddd;
	}
}

.navbar .nav>li>.account:after {
	// border-bottom-color: rgba(51,51,51,0.85);
}

// publish

.publish {
	// background: rgba(51,51,51,0.85);
	@include transparent(rgb(51,51,51),0.85);
	box-shadow: none;
	@include box-shadow(none);
	@include border-radius(0);
	border: none;
	color: #fff;

	&>li>a {
		color: #fff;
		padding: 8px 10px;
	}

	.text {
		font-size: 11.05px;
		color: #ddd;
	}
}

.navbar .nav>li>.publish:after {
	// border-bottom-color: rgba(51,51,51,0.85);
}

// content
.content {
	padding: 25px 2.5641%;
}

.account .user_icon {
	width: 50px;
	height: 50px;
	margin: 0px 5px;
}

// widget
.widget {
	@include border-radius(1px);
	padding: 10px 12px;
	color: #f8f8f8;
	@include transparent(rgb(51,51,51),0.4);
	margin-bottom: 30px;
	position: relative;
}

.widget-tabs {
	@include box-shadow(none);
	padding: 0;
}

.widget-tabs .body {
	@include transparent(rgb(51,51,51),0.4);
	margin-top: 0;
	padding: 10px 12px;
	@include border-radius(0 0 1px 1px);
}

.widget-tabs .nav>li>a {
	padding-top: 7px;
	padding-bottom: 6px;
	color: #f8f8f8;
}
// tabs
.nav-tabs {
	border-bottom: none;
	&>li {
		margin-bottom: -1px;
	}
}

.nav-tabs>li>a {
	@include border-radius(1px 1px 0 0);
	color: #f8f8f8;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	border-color: transparent;
}

/*.nav>li>a:hover, .nav>li>a:focus ie 8 bug*/
.nav>li:hover>a, .nav>li:focus>a {
	@include transparent(rgb(51,51,51),0.25);
}

.nav-tabs>.active>a,
.nav-tabs>.active>a:hover,
.nav-tabs>.active>a:focus {
	color: #f8f8f8;
	@include transparent(rgb(51,51,51),0.25);
	border-color: transparent;
}


// header navigration

.open_right_side {

	.navbar-back.affix, .navbar.affix {
		right: 200px;
	}

	.navbar-back.affix-top, .navbar.affix-top {
		right: 200px;
	}

	&.right-mini {
		.navbar-back.affix, .navbar.affix {
			right: 80px;
		}

		.navbar-back.affix-top, .navbar.affix-top {
			right: 80px;
		}
	}
}

.right-mini .right-sidebar {
	width: auto;

	&>header>.nav {
		display: none;
	}

	.user-info {
		display: none;
	}

	li:hover {
		.user-info {
			display: block;
		}
	}

	.settings {
		.btn-icons {
			display: none;
		}

		.btn-auto {
			display: block;
		}
	}

	.tab-header {
		text-indent: 1000px;
		display: none;
	}
}

.open_right_side .right-sidebar {
	display: block;
}

.right-mini .right-sidebar {
	width: 80px;

	.notices-list{
		li .transaction-info{
			display: none;
		}
	}
}

.right-sidebar {
	display: none;
	width: 200px;
	margin-bottom: 0px;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0px;

	header {
		.nav {
			float: left;
		}
	}

	.settings {
		padding: 5px;
		.btn-auto {
			display: none;
		}
		display: inline-block;
	}

	header ul {
		margin: 0px;
	}

	.tab-content {
		overflow: visible;
	}

	.notices-list {
		margin: 0px;
		list-style: none;

		.name, .time, .position {
			line-height: 16px;
		}

		li img {
			width: 50px;
			margin-right: 5px;
		}

		li {
			// border-top: 1px solid rgba(51,51,51,0.25);
			padding: 5px 0px;
			min-width: 60px;
			margin: 0;
			cursor: pointer;
			height: 50px;
			overflow: hidden;
			@include transition(width 0.0s, margin 0.3s);
		}

		li.active {
			background-color: #E5603B;
			margin-top: 1px;
		}

		li:hover {
			@include transparent(rgb(51,51,51),0.25);
			&.active {
				background-color: #E5603B;
			}
			width: 300px;
			// margin-left: -120px;

			.transaction-info{
				display: block;
			}
		}

		.user-info {
			margin-left: 62px;
		}

		.right-mini .users-list li:hover {
			width: 300px;
			margin-left: -240px;

			.user-info {
				display: block;
			}
		}
	}
}

.chzn-container-single .chzn-single {
	height: 28px;
	@include border-radius(1px);
	@include background(linear-gradient(#ffffff 0%, #ffffff 100%))
}

.chzn-container-single .chzn-drop {
	color: #333;
	@include border-radius(1px);
}

// table-images
.table-images td img {
	width: 60px;
	height: 60px;
}

.table th, .table td {
	border: none;
	vertical-align: middle;
	text-align: center;
}

.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
	@include transparent(rgb(51,51,51), 0.25);
}

.table-hover tbody tr:hover{
	>td, >th{
		@include transparent(rgb(51,51,51), 0.6);
	}
}

.table-bordered th, .table-bordered td {
	border-left: 1px solid #ddd;
}

.avatar {
	width: 50px;
}


.controls  {
	img.private {
		width: 100px;
	}
}

.modal {
	color: #555;
	@include border-radius(1px);
}

.modal-body {
	.nav-tabs {
		li {
			a {
				color: #555;
			}
		}

		border-bottom: 1px solid #dddddd;
	}

	.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
		color: #555;
	}

	.nav > li > a:hover, .nav > li > a:focus {
		// background: $white;
		zoom: 1;
	}

	.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
		// border: 1px solid #dddddd;
		// border-color: transparent;
	}

	.nav-tabs > .active > a {
		background-color: white;
		border: 1px solid #dddddd;
		border-bottom-color: transparent;
	}


}

body>.model-popup-backdrop{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: black;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

#popup-layout {
	.container{
		width: 100%;
	}
	.dialog-panel {
		color: #555;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1045;
		overflow-y: scroll;
		padding: 60px 0;

		.modal {
			position: relative;
			opacity: 1;
		}

		.picture {
			img {
				margin: 0 auto;
				display: block
			}
		}

		.dialog {
			z-index: 1050;
			background-color: white;
			border: 1px solid #999999;
			// border: 1px solid rgba(0, 0, 0, 0.3);
			@include border-radius(1px);
			@include box-shadow (0 3px 7px rgba(0, 0, 0, 0.3));
			@include background-clip(padding-box);
			outline: none;
			margin-bottom: 20px;

			.modal-body {
				.author_image {
					width: 50px;
				}
			}

			.main-show{
				height: auto;
				max-height: 525px;
			}

			.big_comments_and_reply {
				text-align: left;
				.comments {
					.comment {
						padding: 0px 20px 10px 60px;
						min-height: 60px;
						.people-image {
							margin-left: -60px;
							float: left;
							width: 50px;
							height: 50px;
						}

						.author-name {
							font-size: 16px;
							font-weight: bold;
						}
					}
				}

				.reply_form {
					padding: 0px 20px 10px 60px;
					.user-info {
						margin-left: -60px;
						float: left;
						width: 50px;
						height: 50px;
					}

					.message {
						textarea {
							width: 100%;
						}
					}
				}
			}
		}

		.dialog#purchase-forms{
			.modal-body{
				height: 140px;
			}
		}
	}
}

input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {
	@include border-radius(1px);
}

h2 small {
	color: white;
}

@mixin panel-background {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(51, 51, 51, 0.4);
}

#active_dialog{
	.modal-body{
		max-height: none;
		height: 515px;

		.form_activity_auction{
		  .shop_product_wrap{
		    .controls{
		      width: 400px;
		    }
		  }
		}
	}
}