@import "jquery-ui-1.8.16.custom";
@import "another_bootstrap";
@import "compass/css3";
@import "caret";
@import "lib/notify/pnotify";
@import "lib/transparent";
@import "lib/mixin";
@import "lib/jquery.fancybox";
@import "lib/chosen";
@import "my_cart";
@import "font-awesome";
@import "lib/stroll";
@import "attachments";

body, html {
  // $bgcolor1: #69D2E7;
  // $bgcolor2: #A7DBD8;
  // $bgcolor3: #E0E4CC;

  // $bgcolor1: #3FB8AF;
  // $bgcolor2: #7FC7AF;
  // $bgcolor3: #DAD8A7;

  color: #fff;
  // $bgcolor1: #3B3659;
  // $bgcolor2: #7972A6;
  // $bgcolor3: #A64949;

  // $bgcolor1: #A0A608;
  // $bgcolor2: #EDF249;
  // $bgcolor3: #F2D8C2;


  font: 14px/1.5 "Microsoft Yahei",tahoma,arial!important;
  /*padding-bottom: 100px;*/
  @include transparent($bgcolor1, 0.91);
  @include filter-gradient($bgcolor1, $bgcolor3, horizontal); // IE6-9 fallback on horizontal gradient
  @include background(linear-gradient(150deg, rgba($bgcolor1, 0.91), rgba(lighten($bgcolor2, 10%), 0.91), rgba($bgcolor3, 0.91)), url('bgnoise_lg_dark.png'));
  @include background(radial-gradient(farthest-side ellipse at 10% 0,
                    rgba($bgcolor1,0.91),
                    rgba($bgcolor2,0.91),
                    rgba($bgcolor3,0.91)),  url('bgnoise_lg_dark.png'));

  // background: url('4fceb23c1312d.jpg') no-repeat;
    background-attachment: fixed;

  // background-color: #1e5799; // Old browsers
  // @include filter-gradient(#1e5799, #7db9e8, horizontal); // IE6-9 fallback on horizontal gradient
  // @include background-image(radial-gradient(farthest-side ellipse at 10% 0, #1e5799 0%,#207cca 27%,#2989d8 50%,#207cca 68%,#7db9e8 100%), url('bgnoise_lg_dark.png'))

}

.shop_product_dialog{
  .modal{
    margin-left: -370px;
  }
}

.footer {
  text-align: center;
  padding: 30px 0px;

  .container{
    width: 100%;
  }
}

a{
  color: #9bd0f6;
}

form {
  margin: 0px;
}

ul, ol {
  list-style: none;
}

ul {
  margin: 0px;
}

#active_dialog {
  width: 800px;
  margin-left: -400px;
  top: 50px!important;

  .modal-body {
    // height: 80%;
    // max-height: 400px;

    .form_activity_auction {
      .shop_product_wrap {
        .controls {
          width: 400px;
        }
      }
    }
  }
}

.btn {
  color: #fff;
  @include text-shadow(none);
  &:hover {
    color: #fff
  }
}

.noScroll {
  overflow: hidden;
}

.page-title {
  color: #fff;
  font-weight: bold;
  line-height: 1;
  margin: 11px 0 15px;
}

.set_location {
  position: absolute;
  margin-left: 150px;
  margin-top: 20px;
  .controls {
    margin-left: 280px;
  }
  .control-label {
    width: 270px;
    margin-left: 0px;
  }
}

.logo {
  position: absolute;
  margin-left: 30px;
  margin-top: 10px;
  width: 180px;

  a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }

  &.affix {
    top: 0px;
    margin-top: 0px;
    position: fixed!important;
    z-index: 1031;
    display: block;
  }

  &.sidebar-icons {
    left: 1.6%;
    margin-left: 0px;
    padding-left: 5px;
    width: 40px;
    &.affix {
      top: 0px;
      h4 {
        margin: 0;
        font-size: 0.75em;

        strong {
          display: block;
        }
      }
    }

    .title{
      display: none;
    }
    // top: 13px;
  }
}

.affix {
  &.logo {
    h4 {
      margin: 8px 0px;
    }
  }
  #topbar {
    .navbar-search {
      margin-top: 10px;
      .search-query {
        border: 1px solid $white;
      }
    }
  }

  #account {
    padding-top: 10px;
  }
}

#topbar {
  .notification-menu {
    #notification-list {
      width: 350px;
      >li {
        margin: 0px 5px;
        position: relative;
        width: 340px;

        .check_all{
          width: 330px;
          text-align: center;
          margin-left: 2px;
        }

        .href_url {
          padding: 2px;
          display: inline;
        }

        .mark_read{
          position: absolute;
          margin: 0px;
          padding: 0px;
          top: 5px;
        }

        a{
          display: inline-block !important;
          padding-top: 4px !important;
          text-overflow: ellipsis;
          overflow-x: hidden;
          width: 310px;
          margin-left: 20px;
        }
      }
    }
  }
}

.page-header{
  margin: 15px 0 0px;
  border: none;

  .navbar{
    .navbar-inner{
      background: transparent;
      @include transparent(rgb(0,0,0), 0.0);
      @include box-shadow(none);
      border: none;
      .nav>li>a {
        font-size: 18px;
      }

      .nav>li .count{
        position: absolute;
        bottom: 2px;
        /*right: 2px;*/
        font-size: 9.1px;
        font-weight: normal;
        // background: rgba(51,51,51,0.55);
        @include transparent(rgb(51,51,51),0.55);
        color: rgba(255,255,255,0.9);
        line-height: 1em;
        padding: 2px 4px;
        @include border-radius(10px);
      }
    }
  }

  .navbar-back{
    height: 50px;
  }

  .navbar-back.affix, .navbar.affix {
    top: 0px;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 1030;

    .nav>li>a {
      color: white;
    }
  }

  .navbar-back.affix {
    @include transparent(rgb(0,0,0),0.55);
    background: black;
    opacity: 0.55;
    filter: alpha(opacity=55);
    z-index: 1029;
  }

  .navbar-back.affix-top, .navbar.affix-top {
    position: fixed;
    top: 15px;
    right:0px;
    z-index: 1030;

  }

  .search-btn{  
    margin-left: -38px;
    z-index: 5;    
    color: rgb(219, 194, 194);
    border: none;
    text-shadow: none;
    cursor: pointer;
    line-height: 20px;
    @include border-radius(1px);
    @include transparent(rgb(51,51,51),0.4);
  }

  .input-prepend.input-append{
    .typeahead.dropdown-menu{
      width: 100%;
      margin-top: 1px;

      .user, .shop, .circle{
        .icon{
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  .search-query {
    width: 150px;
    border: none;
    color: #f8f8f8;
    padding-left: 59px;
    padding-right: 38px;
    line-height: 20px;
    @include border-radius(1px);
    @include transition(width 0.2s);
    @include transparent(rgb(51,51,51),0.4);
    /*background: url(search-white.png) 5px 5px no-repeat rgba(51,51,51,0.4);*/

    &:focus {
      width: 250px;
    }
  }

  // .navbar.affix .search-query {
  //  color: #333;
  //  background: $white;
  //  background: url(search-white.png) 5px 5px no-repeat rgba(51,51,51,0.9);
  // }

  .nav>li.divider {
    display: block;
    height: 38px;
    width: 1px;
    // margin: 0 20px;
    // background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    @include background(linear-gradient(rgba(51,51,51,0),rgba(51,51,51,0.5),rgba(230,230,230,0)));
  }

  .nav li a {
    @include transition(color 0.2s);
  }

}

.wrap {
  margin-left: 180px;
  padding-top: 30px;

  &.sidebar-icons {
    margin-left: 74px;
  }
}

.open_right_side .wrap {
  margin-right:  200px;
}

.open_right_side.right-mini .wrap {
  margin-right:  60px;
}

// IE下sidebar与zoomContainer重叠
.zoomContainer {
  display: none;
}

// sidebar
.sidebar {
  @include transparent(rgb(51,51,51), 0.4);
  position: absolute;
  width: 160px;
  padding: 10px 0;
  top: 0;
  color: #fff;
  z-index: 1;
  margin: 80px 0 0 20px;
  @include border-radius(1px);

  &.affix {
    top: 0px;
    position: fixed!important;
    // z-index: 1030;
  }

  &.affix-top {
    top: 0px;
    position: fixed;
  }

  &.sidebar-icons {
    width: auto;
    margin: 80px 0 0 1.6%;

    .settings {
      button {
        margin: auto;
      }

      .btn-auto {
        display: block;
      }

      .btn-icons {
        display: none;
      }
    }

    &.category-expanded {
      .settings {
        .btn-auto {
          display: none;
        }

        .btn-icons {
          display: inline;
        }
      }
    }
  }
}

.side-nav {
  margin: 0;
}

.side-nav li {
  list-style: none;
}

.side-nav.sidebar-icons li {
  .name {
    display: none;
  }

  a {
    padding: 8px 16px;
    text-align: center;
  }

  a i[class*=icon] {
    margin-right: 0;
    float: none;
  }
}

.sidebar-on-right .side-nav.sidebar-icons>li.active>a {
  border-left: none;
  border-right: none;
  padding-left: 16px;
}

/*:not(.collapsed) ie 8 bug*/
.side-nav li a.accordion-toggle+.accordion-body li.active a {
  @include transparent(rgb(13,13,13),0.25);
}

.side-nav>li.active>a {
  border-left: 4px solid #fff;
  padding-left: 16px;
  // background: rgba(51,51,51,0.25);
  @include transparent(rgb(51,51,51),0.25);
}

.side-nav li a {
  color: inherit;
  text-decoration: none;
  outline: none;
  display: block;
  padding: 8px 20px;
  background: url('/assets/blank.png') no-repeat;
}

.side-nav li i[class*=icon] {
  line-height: 20px;
  float: right;
}

.side-nav .accordion-group {
  margin: 0;
  border: none;
  @include border-radius(0);
}

.side-nav .accordion-body li a {
  padding: 4px 10px;
  padding-left: 40px;
}

/*.side-nav li a:hover, .side-nav li a:focus ie8 bug*/
.side-nav li>a:hover{
  @include transparent(rgb(51,51,51),0.25);
}

/*.side-nav li a.accordion-toggle:not(.collapsed)+.accordion-body li a:hover {
  @include transparent(rgb(13,13,13), 0.25);
}*/

.sidebar .accordion-group {
  background: none;
}

.sidebar .settings {
  margin-top: 10px;
  text-align: center;
  .btn-auto {
    display: none;
  }
}

.sidebar.sidebar-icons .accordion-body li a {
  width: 1px;
  padding-left: 10px;
  @include transition(width 0.3s);
}


.sidebar.sidebar-icons .accordion-body.in li a {
  width: 80px;
}

.navbar .nav > li > .dropdown-menu:after {
  border-bottom-color: #555;
  border-bottom-color: rgba(51,51,51,0.85);
}

.dropdown-menu {
  @include transparent(rgb(51,51,51),0.85);
  box-shadow: none;
  @include box-shadow(none);
  @include border-radius(0);
  border: none;
  color: #fff;

  &>li>a {
    color: #fff;
    padding: 8px 10px;
  }

  .text {
    font-size: 11.05px;
    color: #ddd;
  }
}

.page-header .navbar .nav li.dropdown.open>.dropdown-toggle, .page-header .navbar .nav li.dropdown.active>.dropdown-toggle, .page-header .navbar .nav li.dropdown.open.active>.dropdown-toggle {
  background-color: transparent;
  color: rgba(51,51,51,0.5);
}

.page-header .navbar .nav>li>a:focus, .page-header .navbar .nav>li>a:hover, .page-header .navbar .nav>.active>a, .page-header .navbar .nav>.active>a:hover, .page-header .navbar .nav>.active>a:focus {
  color: #fff;
}

// messages
.messages {
  // background: rgba(51,51,51,0.85);
  @include transparent(rgb(51,51,51),0.25);
  box-shadow: none;
  @include box-shadow(none);
  @include border-radius(0);
  border: none;
  color: #fff;

  &>li>a {
    color: #fff;
    padding: 8px 10px;
  }

  .text {
    font-size: 11.05px;
    color: #ddd;
  }
}

.navbar .nav>li>.messages:after {
  // border-bottom-color: rgba(51,51,51,0.85);
}

// shoppingcart
.shoppingcart {
  #shop_count {
    padding-left: 4px;
    padding-right: 4px;
  }
}

// account
.account {
  // background: rgba(51,51,51,0.85);
  @include transparent(rgb(51,51,51),0.85);
  box-shadow: none;
  @include box-shadow(none);
  @include border-radius(0);
  border: none;
  color: #fff;

  &>li>a {
    color: #fff;
    padding: 8px 10px;
  }

  .text {
    font-size: 11.05px;
    color: #ddd;
  }
}

.avatar{
  &.avatar-icon {
    width: 45px;
  }

  &.avatar-mini {
    width: 20px;
  }

}

.navbar .nav>li>.account:after {
  // border-bottom-color: rgba(51,51,51,0.85);
}

// publish

.publish {
  // background: rgba(51,51,51,0.85);
  @include transparent(rgb(51,51,51),0.85);
  box-shadow: none;
  @include box-shadow(none);
  @include border-radius(0);
  border: none;
  color: #fff;

  &>li>a {
    color: #fff;
    padding: 8px 10px;
  }

  .text {
    font-size: 11.05px;
    color: #ddd;
  }
}

.navbar .nav>li>.publish:after {
  // border-bottom-color: rgba(51,51,51,0.85);
}

.wrap{
  // content
  >.content {
    padding: 25px 2.5641%;
  }
  >.widget{
    margin-left: 0px;
  }
}

#account {
  padding-top: 5px;

  .user_icon {
    width: 30px;
    height: 30px;
    margin: 0px 5px;
  }
  font-size: 20px;
}

// widget
.widget {
  @include border-radius(1px);
  padding: 10px 12px;
  color: #f8f8f8;
  @include transparent(rgb(51,51,51),0.4);
  margin-bottom: 30px;
  position: relative;
}

.widget-tabs {
  @include box-shadow(none);
  padding: 0;
}

.widget-tabs .body {
  @include transparent(rgb(51,51,51),0.4);
  margin-top: 0;
  padding-left: 5px;
  padding-right: 5px;
  @include border-radius(0 0 1px 1px);
}

.widget-tabs .nav>li>a {
  padding-top: 7px;
  padding-bottom: 6px;
  color: #f8f8f8;
}
// tabs
.nav-tabs {
  border-bottom: none;
  &>li {
    margin-bottom: -1px;
  }
}

.nav-tabs>li>a {
  @include border-radius(1px 1px 0 0);
  color: #f8f8f8;
  background: url('/assets/blank.png') no-repeat;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
  border-color: transparent;
}

/*.nav>li>a:hover, .nav>li>a:focus ie 8 bug*/
.nav>li>a:hover {
  @include transparent(rgb(51,51,51),0.25);
  outline: none;
}

.nav-tabs>.active>a,
.nav-tabs>.active>a:hover,
.nav-tabs>.active>a:focus {
  color: #f8f8f8;
  @include transparent(rgb(51,51,51),0.25);
  border-color: transparent;
}

// header navigration
.open_right_side {

  .navbar-back.affix, .navbar.affix {
    right: 200px;
  }

  .navbar-back.affix-top, .navbar.affix-top {
    right: 200px;
  }

  &.right-mini {
    .navbar-back.affix, .navbar.affix {
      right: 60px;
    }

    .navbar-back.affix-top, .navbar.affix-top {
      right: 60px;
    }
  }
}

.right-mini .right-sidebar {
  width: 60px;

  &>header>.nav {
    display: none;
  }

  .user-info {
    display: none;
  }

  .settings {
    .btn-icons {
      display: none;
    }

    .btn-auto {
      display: block;
    }
  }

  .tab-header {
    text-indent: 1000px;
    display: none;
  }
}

.open_right_side .right-sidebar {
  display: block;
}

.right-sidebar {
  top: 0;
  right: 0;
  bottom: 0px;
  width: 100px;
  display: none;
  position: fixed;
  margin-bottom: 0px;
  @include transparent(rgb(51,51,51), 0);

  .tab-content {
    overflow: visible;

    .message_count {
      position: absolute;
    }

    .filter_key {
      margin: 0px;
      border: none;
      color: #f8f8f8;
      line-height: 20px;
      @include border-radius(1px);
      @include transition(width 0.2s);
      @include transparent(rgb(51,51,51),0.4);
      background: url(search-white.png) 18px 5px no-repeat rgba(51,51,51,0.4);
    }

    ul.users-list {
      margin: 0px;
      list-style: none;

      &:first-child  {
        margin-top: 0px;
      }

      .name, .time, .position {
        line-height: 16px;
      }

      li img {
        width: 50px;
        height: 50px;
        /*margin-right: 5px;*/
      }

      li {
        // border-top: 1px solid rgba(51,51,51,0.25);
        padding: 2px 0px;
        /*min-width: 60px;*/
        margin: 0;
        width: 50px;
        height: 50px;
        cursor: pointer;
        overflow: hidden;
        // @include transition(width 0.0s, margin 0.3s);
      }

      li.active {
        background-color: #E5603B;
        margin-top: 1px;
      }

      li:hover {
        @include transparent(rgb(51,51,51),0.25);
        &.active {
          background-color: #E5603B;
        }
      }
    }
  }
}

.chzn-container-single .chzn-single {
  height: 28px;
  @include border-radius(1px);
  @include background(linear-gradient(#ffffff 0%, #ffffff 100%))
}

.chzn-container-single .chzn-drop {
  color: #333;
  @include border-radius(1px);
}

.table-images td img {
  width: 40px;
  height: 40px;
}

.table th, .table td {
  border: none;
  vertical-align: middle;
  /*text-align: center;*/
}

.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
  @include transparent(rgb(51,51,51), 0.25);
}

.table-hover tbody tr:hover{
  >td, >th{
    @include transparent(rgb(51,51,51), 0.6);
  }
}

.table-bordered th, .table-bordered td {
  border-left: 1px solid #ddd;
}

.controls  {
  img.private {
    width: 100px;
  }
}

.modal {
  color: #555;
  @include border-radius(1px);
}

.modal-body, .nav-tabls-wrapper {
  .nav-tabs {
    li {
      a {
        color: #555;
      }
    }

    border-bottom: 1px solid #dddddd;
  }

  .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #555;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    // background: $white;
    zoom: 1;
  }

  .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    // border: 1px solid #dddddd;
    // border-color: transparent;
  }

  .nav-tabs > .active > a {
    background-color: white;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
  }
}

body>.model-popup-backdrop{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: black;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

body>.model-popup-backdrop.in{
  display: block;
}

body>.model-popup-backdrop.out{
  display: none;
}

#popup-layout {
  .container{
    width: 100%;
  }
  .dialog-panel{
    color: #555;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1045;
    overflow-y: scroll;
    padding: 60px 0;

    >.activity-focus, .activity-auction, .ask_buy{
      .modal {
        position: relative;
        opacity: 1;
      }

      .picture {
        img {
          margin: 0 auto;
          display: block
        }
      }

      .dialog {
        z-index: 1050;
        background-color: white;
        border: 1px solid #999999;
        // border: 1px solid rgba(0, 0, 0, 0.3);
        @include border-radius(1px);
        @include box-shadow (0 3px 7px rgba(0, 0, 0, 0.3));
        @include background-clip(padding-box);
        outline: none;
        margin-bottom: 20px;
        .old_price{
          margin: 5px 0px 0px 0px;
          text-decoration: line-through;
        }
        .activity_price{
          margin: 5px 0px 0px 0px;
          color:red;
          font-size: 18px;
        }
        .report{
          width: 100%;
          .report_line{
            .product_item{
              width:40%;
              text-align: left;
            }
            background-color: bisque;
            border: 2px solid #EEEBEB;
            >td {text-align: right;}
          }
        }

        .modal-body {
          .author_image {
            width: 50px;
          }
        }

        .main-show {
          height: auto;
          max-height: 525px;

          .focus_progress {
            width: 80%;
            margin-top: 23px;
          }
        }

        .big_comments_and_reply {
          text-align: left;
          .comments {
            .comment {
              padding: 0px 20px 10px 60px;
              min-height: 60px;

              .message {
                word-break: break-all;
              }

              .people-image {
                margin-left: -60px;
                float: left;
                width: 50px;
                height: 50px;
              }

              .author-name {
                font-size: 16px;
                font-weight: bold;
              }
            }
          }

          .reply_form {
            padding: 0px 20px 10px 60px;
            .user-info {
              margin-left: -60px;
              float: left;
              width: 50px;
              height: 50px;
            }

            .message {
              textarea {
                width: 100%;
              }
            }
          }
        }
      }

      .dialog#purchase-forms{
        .control-label{
          width: 60px;
        }
        .controls{
          margin-left: 80px;
        }
      }
    }
  }
}

input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {
  @include border-radius(1px);
}

h2 small {
  color: white;
}

@mixin panel-background {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(51, 51, 51, 0.4);
}

.form_activity_focus{
  .shop_product_wrap{
    .controls{
      width: 400px;
    }
  }
}

#ask_buy_dialog{
  .modal-body{
    max-height: 470px;
  }
}

.big-avatar {
  margin: 0px 10px 5px;
  width: 130px;
}

.breadcrumb {
  margin: 0px;
  /*@include transparent(rgb(0, 0, 0), 0);*/
  @include transparent(rgb(51, 51, 51), 0);
}

.breadcrumb{
  li.icon{
    margin-right: 10px
  }

  li{
    a{
      color: white;
    }
  }

  li.active{
    color: #C7C4C;
    text-shadow: none;
  }
}

.scroll-load-msg{
  text-align: center;
  display: none;
  .end_tip{
    img{
      width: auto;
      height: auto;
    }
  }
  img{
    margin-top: 10px;
    width:70px;
    height:70px;
  }
}

.sidebar-icons {
  #category-sidebar {
    >ul#forms-collapse {
      padding-left: 0px;
    }
  }
}

#category-sidebar.affix-top {
  z-index: 1;
  position: absolute;
}

#category-sidebar {
  top: 0px;
  width: auto;
  z-index: 1;

  >ul#forms-collapse {
    padding-left: 12px;
  }

  .lv2_categories {
    top: 0;
    left: 164px;
    height: auto;
    display: none;
    min-width: 752px;
    z-index: 8888;
    position: absolute;
    padding-right: 20px;
    padding-bottom: 20px;
    background: url('/assets/blank.png') no-repeat;
    @include transparent(rgb(62, 112, 108), 0.91);

    .lv2_category_tree {
      width: 240px;
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
      padding: 10px 0;
      border-bottom: 1px dashed;

      & > a {
        border-bottom: 1px solid white;
        text-align: left;
        font-size: 18px;
        display: block;
        padding: 4px 10px 4px 0;
      }

      li.lv3_category_node {
        display: inline-block;
        padding: 4px 10px 4px 0;
        a {
          padding-left: 4px;
        }
      }
    }
  }
}

.inline {
  display: inline-block;
}

.depend_select {
  width: 90px;
}

.dialog-panel{
  .activity-auction, .activity-focus{

    .modal-body{
      .describe{
        word-wrap:break-word;
        margin-left:10px;
      }
    }

    .modal-footer{
      .reply_form{
        .message{
          textarea{
            max-width:710px;
          }
        }
      }
    }
  }
}

.dropdown .count {
  top: 22px;
  left: 30px;
  position: absolute;
  text-align: center;
  @include transparent(rgb(51,51,51), 0.5);
}

.notification{
  .badge{
    padding-left: 4px;
    padding-right: 4px;
  }
}

.navbar .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right {
  left: auto;
  right: 7px;
}

.sidebar-activity{

  background: none;
  filter: none;

  .sidebar-bg{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    @include transparent(rgb(51,51,51), 0.4);
    z-index: -1;
  }
}

.error .chzn-container-single .chzn-single{
  border: 1px solid #b94a48;
}

.error{
  // border: 1px solid #b94a48!important;
  
  input[type=text], textarea{
    border: 1px solid #b94a48;
  }
  input[type=number]{
    border: 1px solid #b94a48;
  }
}
input.error {
  border: 1px solid #b94a48;
}

.disconnect {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(/assets/grayscale.svg#greyscale); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}

.disconnect_message{
  text-align: center;
  background: #C99C0D;
  color: black;
}

.payments-plat{
  list-style: none;

  .payment{
    float: left;
    display: inline-block;
    background: white;
    padding: 8px;
    position: relative;

    a{
      display: inline-block;

      input[type=radio]{
        position: absolute;
        top: 8px;
      }

      img{
        margin-left: 20px;
      }
    }
  }
}

.hidden-phone{
  .realtime_state{
    a{
      color: #777777;
    }
  }
  .login_progress{
    height: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
  }
  .popover{
    color: black;
    top: 40px!important;
    width: 140px;
  }
}

@mixin base-chat(){
  background: white;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  // @include box-shadow(1px 1px 3px $grayDarker);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  .head{
    border-bottom: 1px solid #DDD;
    padding: 3px 0px;
    position: relative;

    .state{
      height: 15px;
      width: 15px;
      position: absolute;
      top: 5px;
      left: 8px;
    }

    .name{
      margin-left: 25px;
    }

    .offline{
      background: no-repeat url("/assets/chat_sprites.png") 0 -327px;
    }

    .online{
      background: no-repeat url("/assets/chat_sprites.png");
    }

    .notice{
      background: no-repeat url("/assets/chat_sprites.png") 0 -253px;
    }

    .close_label{
      position: absolute;
      top: 5px;
      right: 5px;
      width: 12px;
      height: 11px;
      font-size: 1px;
      display: block;
      background: url('/assets/chosen-sprite.png') right top no-repeat;
    }
  }

  .body{
    height: 258px;
    overflow-y: scroll;

    a {
      color: rgb(71, 142, 187);
      text-decoration: none;
    }

    .msg_content{
      overflow-y: auto;
      list-style: none;
      margin: 0px;

      .icon {
        width: 30px;
        height: 30px;
      }

      li{
        clear: both;
        padding: 2px 0px 5px 5px;

        .sender{
          line-height: 20px;
          margin-left: 3px;
          color: green;

          .icon {
            position: relative;
            z-index: 1;
            text-align: center;
            width: 50px;
            height: 50px;
            line-height: 50px;
            vertical-align: middle;
            @include border-radius(50px);

          }

          .login{
            margin-left: 5px
          }

          .date{
            float: right;
          }
        }

        .message-body .arrow {
          display: block;
          position: absolute;
          top: 21px;
          left: -7px;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 5px solid rgb(162, 217, 243);
        }

        .message-body {
          margin-left: 35px;
          padding: 2px 2px;
          // @include transparent(rgb(162, 217, 243), 0.25);
          @include border-radius(1px);
          position: relative;
          // border-left: 2px solid rgb(162, 217, 243);

          .message{
            line-height: 20px;
            padding: 2px 5px;
            min-width: 90%;
            display: inline-block;
            word-break: break-all;

            .emoji {
              width: 25px;
              height: 25px;
            }
          }

          &.on-left{
            margin-left: 0;
            margin-right: 55px;
            border-left: none;
            border-right: 2px solid #A2B1B0;
            text-align: right;
            background-color: rgba(203, 211, 210, 0.55);
          }
        }

        .message-body.on-left .arrow {
          left: auto;
          right: -7px;
          border-right: none;
          border-left: 5px solid #A2B1B0;

        }
        .message-body.on-left .message {
          text-align: right;
        }
      }
      .showMoreFlag {
        text-align: center;
        color: #478ebb;
      }
    }
  }

  .foot{
    .upload-panel {
      max-height: 25px;
      display: inline-block;

      .qq-upload-drop-area {
        top: 30px;
        width: auto;
        position: absolute;
      }
    }

    .send_content{
      height: 60px;
      padding: 0px 5px;

      textarea{
        resize: none;
        width: 100%;
        padding: 0px;
        margin: 0px;
        height: 100%;
        word-break: break-all;
      }
    }

    .foot_nav{
      padding: 5px 5px;
      display: inline-block;

      .send_button {
        // float: right;
      }

      .face-panel {
        .popover-content {
          margin: 0px;
          padding: 0px;
        }

        ul {
          width: 250px;
          min-height: 150px;
          margin: 0px;
          padding: 0px;
          display: inline-block;

          li {
            width: 25px;
            height: 25px;
            display: inline-block;

            img {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
  }
}

.global_chat{
  @include base-chat();
  top: 55px;
  // right: 60px;
  width: 330px;
  height: 380px;
  z-index: 9999;
  position: fixed;
}

.order_chat{
  @include base-chat();
  width: 100%;
  height: 100%;
  background: white;
}


body>.global_chat {
  border: 1px solid #ccc;
  @include box-shadow(1px 1px 3px);
}

// @-webkit-keyframes bounce_circle{
//  0%{opacity:0.3;}
//  50%{opacity:1;background-color:#111}
//  100%{opacity:0.3;}
// }

// .circle {
//  background-color: #CCC;
//  float: left;
//  height: 10px;
//  margin-left: 8px;
//  width: 10px;
//  -webkit-animation-name: bounce_circle;
//  -webkit-border-radius: 10px;
//  -webkit-animation-duration: 1.5s;
//  -webkit-animation-iteration-count: infinite;
//  -webkit-animation-direction: linear;
//  opacity: 0.3;
// }

// .circle.active {
//  -webkit-animation-delay: .3s;
// }
#SelectCircle, #PickCircle{
  left: 40%;
  width: 780px;
}
.circles{
  margin:10px 10px 0px 15px;
  .selected{
    background-color: rgba(216, 216, 123, 0.63) !important;
  }
  .circle:hover{ cursor: pointer};
  .circle{
    margin-bottom: 10px;
    margin-right: 10px;
    width: 230px;
    display: inline-block;
    @include transparent(rgb(235, 235, 235), 0.97);
    /*background-color: rgba(235, 235, 235, 0.97);*/
    box-shadow: 1px 1px 1px 1px #888888;

    .photo{
      display: inline-block;
      width: 80px;
      img{
        height: 80px;
        width: 80px;
      }
    }

    .info{
      display: inline-block;
      vertical-align: middle;
      padding-left: 10px;
    }

    a{
      color: white;
      text-decoration: none;
      display: inline-block;
      width: 100%;
    }
  }
}
.bumbble_notice{
  .popover-title{
    background-color: gba(255, 248, 220);
    font-size: 16px;
  }
  .popover{
    left: -100px;
    width: 200px;
    background-color: gba(255, 248, 220);
  }
}

.min-line{
  border-top:none
}

.breadcrumb{
  .active{
    color: #D1CDCD;
  }

  li.condition{
    margin-left: 10px;
  }

  .close-label{
    width: 12px;
    height: 11px;
    font-size: 1px;
    background: url("/assets/chosen-sprite.png") right top no-repeat;
    display: inline-block;
  }

  .close-label:hover{
    background-position: right -11px;
  }
}

.noty_message {
  p {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .btn{
    line-height: 16px;
    padding: 2px 6px;
    margin: 5px;
  }
}

.btn-group > .btn + .dropdown-toggle {
  @include box-shadow(none);
}

.people_actions{
  text-align: right;

  .withdraw, .recharge{
    margin-right: 10px
  }
}

.controls{
  .help-block{
    color: rgb(156, 155, 155);
    margin-top: 5px;
  }
}

.page-header{
  .navbar-search{
    .chose_condition{
      margin-right: 0px;      
      border: none;
      position: absolute;
      z-index: 5;

      li.dropdown{
        a.dropdown-toggle{
          padding: 4px;
          font-size: 12px;
          text-shadow: none;
          color: #dbc2c2;
        }

        ul.dropdown-menu{
          li.circles{
            margin: 0px;
          }
        }
      }
    }
  }
}

.href_name {
  @include href_ellipsis();
}

