@import "lib/helper";

.direct_transactions{
  .direct{
    padding: 8px;

    .direct-info{
      /*padding: 10px 0px;*/

      .create_time{
        clear: both;
        float: right;
      }

      .close{
        margin-left: 10px;
      }

      .avatar{
        img{
          width:70px;
          height:70px;
          vertical-align: top;
          float: left;
        }

        .header-title{
          margin-left: 85px;
        }

        .owner_name{
          display: inline-block;
          margin: 0px
        }
      }

      .products{
        tfoot{
          td{
            text-align:right;
            font-size:20px;
          }
        }

        tbody{
          tr{
            line-height: 66px;
          }
        }
      }
    }

    .direct-message{
      background: white;
      padding: 5px;
      @include box_sizing(border-box);

      .toolbar{
      }

      .messages{
        background: white;

        iframe{
          width: 100%;
          border: none;
          height: 100%;
        }
      }
    }

  }
}