
.direct_transactions{
  .direct{
    padding:0px;

    .direct-info{
      padding: 10px 0px;

      .create_time{
        clear: both;
        float: right;
      }

      .close{
        margin-left: 10px;
      }

      .avatar{
        img{
          width:70px;
          height:70px;
          vertical-align: top;
        }

        .seller_name{
          display: inline-block;
          margin: 0px
        }
      }

      .products{
        tfoot{
          td{
            text-align:right;
            font-size:20px;
          }
        }
      }
    }

    .direct-message{
      background: white;
      padding: 5px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;

      .toolbar{
        height: 10%;
      }

      .messages{
        background: white;
        height: 90%;

        iframe{
          width: 100%;
          border: none;
          height: 100%;
        }
      }
    }

  }
}