@import "another_bootstrap";
@import "_variables";
@import "compass/css3";
@import "lib/transparent";

body {
  // background: transparent;
  color: #333;
}

.transaction_dialog_panel, .direct_transaction_dialog_panel{
  // @include transparent(rgb(51,51,51), 0.4);

  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  .message_panel{
    // height: 300px;
    overflow-y: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 80px;
    padding: 5px;

    .messages {
      position: relative;

      .row-msg {
        clear: both;
        padding-bottom: 20px;

        .people {
          margin: 10px 20px;
        }
        .self {
          float: right;
          margin: 5px 20px;
        }

        .wrapper {
          display: inline-block;
          padding: 5px 15px;
          .people-name {
            opacity: 0.5
          }
          @include border-radius(5px);
          @include box-shadow(2px 2px 5px $gray);
          background: #FAFAFA;
          border: 1px solid $tableBorder;
        }

        p {
          margin-bottom: 0px;
        }
      }

    }

    .foot-line{
      height: 10px;
      clear: both;
    }
  }

  .foot{
    bottom: 0px;
    position: absolute;

    form{
      margin: 0px;

      .me {
        left: 5px;
        position: absolute;

        p {
          margin:0px;
        }
      }

      textarea{
        resize: vertical;
        max-height: 120px;
      }

      .message_send{
        top: 5px;
        right: 5px;
        position: absolute;
      }
    }
  }
}
a {
  color: rgb(71, 142, 187);
  text-decoration: none;
}


.chat-message .icon {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 53px;
  height: 53px;
  line-height: 53px;
  vertical-align: middle;
  @include border-radius(53px);

}

.chat-message .time {
  font-size: 11.05px;
  line-height: 1.5em;
  text-align: center;
  color: #d7d7d7;
}

.chat-message+.chat-message {
  margin-top: 10px;
}

.chat-message-body .arrow {
  display: block;
  position: absolute;
  top: 21px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgb(162, 217, 243);
}

.chat-message-body {
  margin-left: 63px;
  padding: 8px 10px;
  @include transparent(rgb(162, 217, 243), 0.25);
  @include border-radius(1px);
  position: relative;
  border-left: 2px solid rgb(162, 217, 243);

  .text{
    word-break:break-all;
  }

  &.on-left{
    margin-left: 0;
    margin-right: 63px;
    border-left: none;
    border-right: 2px solid #A2B1B0;
    text-align: right;
    background-color: rgba(162, 177, 176, 0.55);
  }
}

.chat-message-body.on-left .arrow {
  left: auto;
  right: -7px;
  border-right: none;
  border-left: 5px solid #A2B1B0;

}
.chat-message-body.on-left .text {
  text-align: right;
}
