/*.model-popup-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	// background-color: rgba(255,255,255, 0.9);
	@include transparent(rgb(51,51,51), 0.6);
	overflow-y: scroll;

	padding: 20px 0;

	.modal {
		position: relative;
		opacity: 1;
	}

	.picture {

		img {
			margin: 0 auto;
			display: block
		}
	}

}*/