@import "compass/typography/text/ellipsis";
#my_cart{
    @include border-radius(5px);
}
#support-menu{
    border-radius: 6px;
}
#shop_count{
    position: relative;
    top: -20px;
    left: 23px;
    @include transparent(rgb(51,51,51), 0.5)
}

#cart_box {
    position: relative;
    width: 280px;
    height: auto;
    /*max-height: 400px;*/
    /*background: $white;*/
    bottom: 55px;
    right: 25px;
    overflow: auto;
    overflow-x: hidden;
    @include border-radius(5px);
   /* @include box-shadow(1px 1px 3px $grayDarker);*/
    z-index: 1200;
    .tool {
        margin-top: 20px;
        text-align: center;
        line-height: 36px;
        width: 260px;
        margin-left: 3px;
        /*background-color: white;*/

        .clear_list{
            margin: 5 0 0 0;
            display: inline-block;
        }
    }

    hr {
        margin-top: 3px;
    }

    .cart_top {
        width: 260px;
        line-height: 40px;
        /*background-color: white;*/
        position: relative;
    }

    .cart_main {
        width: 260px;
        /*margin: 10px;*/
        margin-left: 2px;
        line-height: 30px;

        text-align: center;
        td{
            .title {
                display: block;
                width: 50px;
                @include ellipsis();
            }
            img{
                width: 50px;
                height: 50px;
            }
        }
        position: relative;
    }

    .cart_bottom {
       width: 255px;
        height: 30px;
        margin-bottom: 20px;
        position:relative;
        margin-left: 7px;
        /*background-color: white;*/
    }

}


