@import "lib/transparent";
@import "compass/typography/text/ellipsis";

#shop_count{
	top: 6px;
	left: -12px;
	position: relative;
	@include transparent(rgb(51,51,51), 0.5);
}

#cart_box {
	width: 300px;
	height: auto;
	z-index: 1200;
	margin-left: 3px;
	overflow-y: hidden;
	line-height: 36px;
	text-align: center;
	position: relative;

	.clear_list{
		margin: 5 0 0 0;
		display: inline-block;
	}

	.like_list, .cart_table {
		width: 280px;
		line-height: 40px;
	}

	.cart_main {
		line-height: 30px;

		tr:hover { 
			background-color:#0088cc;
		}

		td{
			.title {
				display: block;
				width: 50px;
				@include ellipsis();
			}
			
			img{
				width: 50px;
				height: 50px;
			}
		}
	}

	.cart_bottom {
		height: 30px;
		text-align: right;
		/*margin-bottom: 20px;*/
		padding-right: 30px;
	}

	.like_list{
		margin-left: 8px;
		.header{ 
			line-height: 25px;
		}
		a{
			color: white;
		}
		.like_title{ 
			text-align: left; 
			font-size: 14px; 
		}
		.like_main{
			.preview{ cursor: pointer}
			.activity_icon{ 
				width: 40px; 
				height: 40px;
			}
			font-size: 11px;
			.title_td{ width: 120px;}
			.title {
				display: block;
				word-wrap: break-word; 
				word-break: normal; 
				line-height: 20px;
			}
			.shop{
				line-height: 20px;
			}
		}
	}
}