@import "compass/typography/text/ellipsis";
@import "lib/transparent";
#shop_count{
    position: relative;
    top: 6px;
    left: -12px;
    @include transparent(rgb(51,51,51), 0.5);
}

#cart_box {
    /*width: 100%;*/
    width: 280px;
    height: auto;
    overflow: auto;
    overflow-x: hidden;
    z-index: 1200;
    .tool {
        text-align: center;
        line-height: 36px;
        width: 260px;
        margin-left: 3px;
        .clear_list{
            margin: 5 0 0 0;
            display: inline-block;
        }
    }

    hr {
        margin-top: 3px;
    }

    .cart_top {
        /*width: 100%;*/
        width: 260px;
        line-height: 40px;
        position: relative;
    }

    .cart_main {
        /*width: 100%;*/
        width: 260px;
        margin-left: 2px;
        line-height: 30px;

        text-align: center;
        tr:hover
        { 
            background-color:#0088cc;
        }
        td{
            .title {
                display: block;
                width: 50px;
                @include ellipsis();
            }
            img{
                width: 50px;
                height: 50px;
            }
        }
        position: relative;
    }

    .cart_bottom {
        /*width: 100%;*/
        width: 255px;
        height: 30px;
        margin-bottom: 20px;
        position:relative;
        margin-left: 7px;
    }

}


