.notification_panel {
	.batch-btns {
		text-align: right;
	}

	ul {
		list-style: none;

		li {
			margin-top: 10px;
			margin-bottom: 10px;
			@include panel-background;

			.people-info {
				padding: 10px;
				text-align: center;
/*				display: inline-block;
				margin-right: 15px;*/
			}

			.body {
				position: relative;
				padding: 10px 10px 5px 10px;
/*				display: inline-block;
				position: absolute;
				padding: 10px;*/
				.content {
					font-size: 1.1em;
				}

				.tag {
					span {
						top: 0px;
						right: 0px;
						font-size: 0.9em;
						position: absolute;
					}
				}
			}

			.foot {
				text-align: right;
				margin: 0px 5px 5px 5px;
			}
		}
	}
}