
#notification-category {

	.activity {
		i {
			color: rgb(49, 81, 133);
		}
	}
}

.notification_panel{

	ul{
		list-style: none;

		li.notification_one{
			ul.notification-actions {
				float: right;
				list-style: none;
				margin: 10px;
				li {
					float: right;
					margin-left: 10px;
					font-size: 16px;
					line-height: 20px;
				}

				.avatar {
					width: 20px;
				}
			}
			margin-top: 10px;
			margin-bottom: 10px;

			.people-info{
				padding: 10px;
				text-align: center;
/*				display: inline-block;
				margin-right: 15px;*/
			}

			.content{
				@include panel-background;
				position: relative;
/*				display: inline-block;
				position: absolute;
				padding: 10px;*/

				.pull-right {
					margin-right: 60px;
				}
			}
		}
	}
}