#notification-category {

	.activity {
		i {
			color: rgb(49, 81, 133);
		}
	}
}

.notification_panel{

	ul{
		list-style: none;

		li.notification_one{
			ul.notification-actions {
				float: right;
				list-style: none;
				margin: 10px;
				li {
					float: right;
					margin-left: 10px;
					font-size: 16px;
					line-height: 20px;
				}

				.avatar {
					width: 20px;
				}
			}

			margin-top: 10px;
			margin-bottom: 10px;
			@include panel-background;

			.people-info {
				padding: 10px;
				text-align: center;
/*				display: inline-block;
				margin-right: 15px;*/
			}

			.body {
				position: relative;
				padding: 10px 10px 5px 10px;
/*				display: inline-block;
				position: absolute;
				padding: 10px;*/

				.pull-right {
					margin-right: 60px;
				}
			}
		}
	}
}
.notification_panel{
	.circlefriends{
		background-color: #f89406;
		padding: 2px 6px 3px;
	}
	.following{
		background-color: blue;
		padding: 2px 6px 3px;
	}
	.circle{
		background-color: green;
		padding: 2px 6px 3px;
	}
	.activity{
		background-color: #3a87ad;
		padding: 2px 6px 3px;
	}
	.ordertransaction, .directtransaction{
		background-color: #b94a48;
		padding: 2px 6px 3px;
	}
	.activitieslike{
		background-color: red;
		padding: 0.2em 0.6em 0.3em;
	}
	.persistentchannel{
		background-color: #2DC3BD;
		padding: 0.2em 0.6em 0.3em;
	}
	.answeraskbuy{
		background-color: #8E14DF;
		padding: 0.2em 0.6em 0.3em;
	}
}