// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "core";
@import "banks";
@import "progress";
@import "widget";
@import "people/comment";
@import "transaction";
@import "notification";
@import "footer_nav";
@import "jquery.atwho";
@import "product_comment";
@import "people/following";
@import "communities";
@import "lib/chose-friend";
@import "people/community_people";
@import "attachment_uploader";
@import "jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.8.16.custom";
@import "lib/notify/pnotify";
@import "lib/transparent";
@import "order_refund";
@import "bootstrap-datetimepicker.min";
@import "lib/typeahead";
@import "direct_transaction";


#people-sidebar.affix-top {
  position: fixed;
}

#people-sidebar {
  width: 160px;
  top: 0px;

  .avatar {
    margin: 10px;

    img {
      /*width: 60px;*/
    }

  }
  .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
  }

  .nav-list > .active > a,
  .nav-list > .active > a:hover {
    margin-left: -35px;
    padding-left: 35px;
    margin-right: -35px;
    padding-right: 35px;
  }

  .nav > li > a:hover {
    margin-left: -35px;
    padding-left: 35px;
    margin-right: -35px;
    padding-right: 35px;
  }
}

#main-body {
  margin-left: 210px;
/*  margin-top: -40px;*/
}

.sidebar_panel {
  position: relative;
}

.main-sidebar {
}

// .right-sidebar {
//   width: 300px;
//   position: absolute;
//   right: 0px;
// }

.product-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid $tableBorder;

  h1 {
    font-size: 18px;
    line-height: 18px;
  }

  &:hover {
    border-color: $blue;
    @include box-shadow(0 1px 4px rgba(0, 105, 214, 0.25));
  }
}

.cart-container {
  table {
    tr {
      td {
        input {
          margin-top: 15px;
        }
        .img-seller {
          width: 30px;
          height: 30px;
        }
        h5 {
          display: inline;
        }
        .spinner {
          a {
            width: 2px;
            padding-left: 3px;
          }
          i {
            font-size: 9px!important;
          }
        }
      }
    }
  }

  .cart-total {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid $tableBorder;
    text-align: right;
    div {
      display: inline-block;
    }
  }

  .form-actions {
    margin-bottom: 0px;
    padding-bottom: 0px;
    @include transparent(rgb(51,51,51), 0.25);
    border-top: none;
    form {
      float: right;
    }
  }
}

.controls {
  .inline {
    display: inline;
  }
}

.depend_select {

  width: 90px;
}

.lf {
  cursor: pointer;
}

.transaction-body{

  .label_zip_code{
    width: 76px !important;
  }

  .row-fluid{
    line-height: 30px;
    /*padding-left: 20px;*/

    .title{
      text-align: right;
      padding-right: 10px;
    }
  }

  .address-form{
    .controls, .controls-row{
      margin-left: 90px;
    }
    .control-label{
      width: 80px;
    }
  }

  .paymanner{

    .paymanner_panel{
      line-height:30px;

      .mdify_show{
        margin-left: 20px;
      }
    }

    .chose_paymanner_panel{
      display: none;

      ul{
        list-style: none;
        margin: 0px;
        margin-bottom: 10px;

        li{
          line-height: 30px;

          .title{
            cursor: pointer;

            input[type=radio]{
              margin-top: 0;
              margin-right: 10px;
            };
          }

          .code{
            display: none;
          }

          .describe{
            color: white;
            margin-left: 25px;
          }

          .guide{
            display: none;


            .bank-wrapper{
              margin-top: 10px;
              margin-left: 18px;

              .ta_number{
                font-size: 18px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }

  .delivery_manner{
    margin-top: 10px;

    .delivery_manner_panel{
      line-height: 30px;

      .mdify_show{
        margin-left: 20px;
      }
    }

    .chose_delivery_manner_panel{
      display: none;

      ul{
        list-style:none;
        margin: 0px;
        margin-bottom: 10px;

        li{

          .title{
            cursor: pointer;
            input[type=radio]{
              margin-top:0px;
              margin-right: 10px;
            }
          }
          line-height: 30px;

          .code{
            display: none;
          }
        }
      }
    }
  }

  .delivery-select{
    margin-top: 10px;
    /*display: none;*/
  }

  .transfer_sheet{
    margin-bottom: 0px;

    .row-fluid{
      line-height: 30px;

      .title{
        text-align: right;
        padding-right: 10px;
      }

      .error{
        input[type="text"]{
          border: 1px solid red;
        }
      }
    }
  }

  .product-imgs {
    @include panel-background;
    .product-count {
      vertical-align: bottom;
    }
  }
}

.addresses-panel{
  .addresses-button{
    padding-bottom: 10px;
  }

  .address-list{
    .address {
      @include panel-background;

      .in-box {
        position: relative;
        overflow: hidden;
      }
    }
  }
}

.comment-list {
  .product-comment{
    @include panel-background;
  }
}

.pinner-icon{
    margin-top: -2px;
    display: block !important;
}


/* $margin-top: 20px;
.main_panle2,.main_panle3,.main_panle1{

  .cell{
    margin-top: $margin-top;
  }

  .my_img{
    width: 5*$margin-top;
    height: 6*$margin-top;
  }

  .qq-upload-button{
    margin-left: 85px;
  }
}
.locate{
  margin-top:50px;
}

.locate1{
   margin-top:30px;
}
.cell{margin-left:15*$margin-top} */

.user_info {
  $margin-top: 20px;

  .form-horizontal .controls {
    margin-left: 100px !important;
  }

  .section {
    margin-bottom: 20px;

    legend {
      margin-bottom: 0px;
    }

    .reset_avatar {
      min-width: 150px;
      max-height: 200px;
      text-align: center;

      .popover{
        color:black;
      }

      .cell{
        margin-top: $margin-top;
      }

      .normal_picture{
        width: 5*$margin-top;
        height: 5*$margin-top;
      }
    }

    .input_locate {
      margin-top: 50px;
      margin-left: -10px;

      input {
        width: 100%;
        min-width: 90px;
      }

      .control-label {
        width: 80px !important;
      }
    }
  }
}