// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";
@import "variables";
@import "banks";
@import "progress";
@import "caret";

#wrapper {
	padding-top :10px;

}

#people-sidebar {
	width: 250px;
	position: absolute;

	.icon-chevron-right {
		float: right;
		margin-top: 2px;
		margin-right: -6px;
		opacity: .25;
	}

	.nav-list > .active > a, 
	.nav-list > .active > a:hover {
		margin-left: -35px;
		padding-left: 35px;
		margin-right: -35px;
		padding-right: 35px;			
	}

	.nav > li > a:hover {
		margin-left: -35px;
		padding-left: 35px;
		margin-right: -35px;
		padding-right: 35px;
	}	
}

#main-body {
	margin-left: 270px;
}

.product-item {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid $tableBorder;

	h1 {
		font-size: 18px;
		line-height: 18px;
	}

	&:hover {
		border-color: $blue;
		@include box-shadow(0 1px 4px rgba(0, 105, 214, 0.25));
	}
}

.controls {
	.inline {
		display: inline;		
	}
}

.depend_select {

	width: 100px;
}

.transaction {
	padding-top: 40px;


	.transaction-header {
		.avatar {
			margin-left: 40px;
			margin-top: - 40px;
			position: absolute;
			width: 100px;
		}

		.info-header {
			margin-left: 150px;
			.page-header {
				border-bottom:none;
				margin-bottom: 20px;

				.controls {
					display: inline-block;
					margin-right: 20px;
					form{
						display: inline-block;
						margin-bottom: 0px;	
					}					
				}
				.progress {
					margin-top: 25px;
					margin-bottom: 0px;
				}
			}

		}

		border: 1px solid $tableBorder;
		border-bottom: none;
	}

	table {
		border-top:  1px solid $tableBorder;
		border-bottom: 1px solid $tableBorder;
		// background-image: url(http://wbpreview.com/previews/WB0TFD2S0/img/bg-body-bar.jpg);
		.ellipsis {
			opacity: 0.5
		}

		thead {
			// @include background-image(linear-gradient($btnBackground, $btnBackgroundHighlight));

			th:first-child {
				height: 45px;
			};
			
			strong{
				font-size:25px;
				line-height: 40px;
			}

			img {
				margin-bottom: 5px;
				width: 30px;
			}
		}

		thead form  {
			margin: 0px;
		}

		.left-frame {
			// @include background-image(linear-gradient($btnBackground, $btnBackgroundHighlight));
			position: absolute;
			top: -1px;
			left: -25px;
			border: 1px solid $tableBorder;
			border-right: none;
			width: 25px;
			height: 61px;
			background: $white;
		}

		.right-frame {
			// @include background-image(linear-gradient($btnBackground, $btnBackgroundHighlight));
			position: absolute;
			top: -1px;
			right: -25px;
			border: 1px solid $tableBorder;
			border-left: none;
			width: 25px;
			height: 61px;
			background: $white;
		}
	}

	.transaction-body {
		border-left: 1px solid $tableBorder;
		border-right: 1px solid $tableBorder;
		border-bottom: 1px solid $tableBorder;
		padding: 0 20px 20px 20px;
	}

	.transaction-footer {
		margin-left: 5px;
		margin-right: 5px;
		padding: 5px;
		border-left: 1px solid $tableBorder;
		border-right: 1px solid $tableBorder;
		border-bottom: 1px solid $tableBorder;

		.messages {
			position: relative;
			max-height: 300px;
			overflow-y: auto;

			.row-msg {

				margin-bottom: 5px;
				min-height: 30px;
				padding: 5px;

				.people {

				}

				.self {
					float: right;
				}

				.wrapper {
					display: inline-block;
					padding: 5px 15px;
					.people-name {
						opacity: 0.5
					}
					@include border-radius(5px);
					@include box-shadow(2px 2px 5px $gray);
					background: #FAFAFA;
					border: 1px solid $tableBorder;		
				}				

				p {
					margin-bottom: 0px;
				}
			}

		}

		.me {
			position: absolute;

			p {
				margin-top: 5px;
			}
		}

		.input-msg {
			margin-left: 50px;
		}
	}
}

.info {
	.control-label {
		text-align: right;
		font-weight: bold;
	}
}

.bank-wrapper {

	.bank_card {
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;

		.cart {

			// width: 180px;
			// height: 110px;
			width: 100px;
			height: 62px;
			@include box-shadow(0 1px 2px $gray);
		}

		opacity: 0.5;
		&:hover{
			opacity: 1;
		}
	}
}

#creditcard {
	margin-top: 20px;
	.form-horizontal .control-group {
		.control-label {
			width: 80px;
		}

		.controls {
			margin-left: 100px;
		}


 
	}
		.actions {
			margin-top: 130px;
		}
}

.creditcard-preview {
	// height: 180px;
}
