// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";
@import "variables";

#wrapper {
	padding-top :10px;

}

#people-sidebar {
	width: 250px;
	position: absolute;

	.icon-chevron-right {
		float: right;
		margin-top: 2px;
		margin-right: -6px;
		opacity: .25;
	}

	.nav-list > .active > a, 
	.nav-list > .active > a:hover {
		margin-left: -35px;
		padding-left: 35px;
		margin-right: -35px;
		padding-right: 35px;			
	}

	.nav > li > a:hover {
		margin-left: -35px;
		padding-left: 35px;
		margin-right: -35px;
		padding-right: 35px;
	}	
}

#main-body {
	margin-left: 270px;
}

.product-item {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid $grayLighter;

	h1 {
		font-size: 18px;
		line-height: 18px;
	}

	&:hover {
		border-color: $blue;
		@include box-shadow(0 1px 4px rgba(0, 105, 214, 0.25));
	}
}