.product-comment{
  padding: 5px;
  display: table;
  width: 100%;

  .seller{
    font-size: 22px;
    font-weight: bold;

    a{
      color: white;
    }
  }

  .product_name{

    a{
      color: white;
    }
  }

  textarea{
    resize: none;
  }
}
