// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "core";

.wrap {
    margin-left: 0px;
}


#comments_sidebar {
    float:right;
    width:300px;
    background: #eeeeee;
    min-height: 400px;
}

.preview {
    position: absolute;
    padding: 10px 0px 10px 5px;
    width: 360px;
    float:left;
    img {
        border: 1px solid #ccc;
    }
}

.product_comments{
    float: right;
    width: 340px;

    .title{
        display: inline-block;
    }

    .my-comment{
        margin-top: 10px;
    }

    .context{
        margin-top: 10px;
        .user-inof{

            text-align: center;
            .avatar{
                width: 30px;
            }
        }
    }
}

.property {
    margin-left: 380px;
    margin-right: 340px;
    padding-left: 0px;
    zoom: 1;

    hr {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    dl.dl-horizontal dt {
        clear: none;
    }

    .property_label {
        width: 120px;
    }

    td {
        line-height: 35px;
        padding-left: 20px;
        vertical-align: middle;

        p {
            vertical-align: middle;

        }
    }

    .form-horizontal {
        .control-group {
            .control-label {
                width: 80px;
                text-align: left;
            }

            .controls {
                margin-left: 80px;
            }
        }
    }

}

.text-surprised  {
    color: red;
    font-size: 21px;
    line-height: 30px;
}

// p.style-group {
//     font-size: 15px;
// }

a.style-items {
    display: inline-block;
    background-color: white;
    white-space: nowrap;
    width: auto!important;
    min-width: 10px;
    width: 10px;
    padding: 0 6px;
    text-align: center;
    border: 1px solid #E2E1E3;
    color: black;
    text-decoration: none;
    margin-right: 6px;
}
a.active.style-items {
    border: 1px solid red;
}

.control-group.radio_buttons {
    .radio {
        display: inline-block;
        padding-left: 0px;
        padding-right: 5px;
        padding-top: 5px;
        margin-bottom: 0;
        vertical-align: middle;
        input[type="radio"] {
            margin-left: 0px;
            margin-right: 5px;
        }
    }
}

.pinner-icon{
    margin-top: -2px;
    display: block !important;
}