// Place all the styles related to the shop_products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shop_product_dialog{
  .toolbar{
    ul.dropdown-menu {
      li{
        text-align: left;
      }
    }

    .buy_manner {
      input[type='radio']{
        margin-top: 0px;
        margin-left: 10px;
      }

      margin-right: 10px;
    }
  }

  .dialog{
    width: 700px;

    .main-show{
      overflow: visibility;
      max-height: none;
      padding-top: 5px;

      .href_name {
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis;
      }
    }
  }

  form.product{
    .control-group{
      .control-label{
        width: 60px;
      }

      .controls{
        margin-left: 80px;

        .text, .star{
          padding-top: 5px;
          margin-bottom: 5px;

          input.amount{
            width: 50px;
          }
        }
      }
    }
  }
}

.dialog_product{
  .product_tree_panel{
    .nav-tabs{
      position:relative;
      .avtive{
        position: relative;
      }
    }
    .brand_panel{
      .nav .pick_brand{
        width: 70px;
      }
      position:absolute;
      text-align: left; 
      left:55px; 
      top:8px;
      .brand_list{
        .check_tips{
          margin: 10px 0px 0 10px;
        }
        border: 5px solid rgba(219, 224, 193, 0.81);
        display:none; 
        position:absolute; 
        background-color:white; 
        color:black;
        z-index:9999;
      }
      .brand_content{
        img{
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  .product_list_wrap{
    .panel{
      margin-right:13px;

      .category_product_list{

        .loader{
          display: none;
          text-align: center;
          img{
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }

  .my_products{
    .wrap_my_product{
      .editable-popup{
        position: fixed;
      }
    }
  }
}