// Place all the styles related to the shop_products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shop_product_dialog{
  .toolbar{
    ul.dropdown-menu {
      li{
        text-align: left;
      }
    }

    .buy_manner {
      input[type='radio']{
        margin-top: 0px;
        margin-left: 10px;
      }

      margin-right: 10px;
    }
  }

  .dialog{
    width: 700px;

    .main-show{
      overflow: visibility;
      max-height: none;
      padding-top: 5px;
    }
  }

  form.product{
    .control-group{
      .control-label{
        width: 60px;
      }

      .controls{
        margin-left: 80px;

        .text, .star{
          padding-top: 5px;
          margin-bottom: 5px;

          input.amount{
            width: 50px;
          }
        }
      }
    }
  }
}

.dialog_product{
  .product_list_wrap{
    
    .panel{
      margin-right:13px;

      .category_product_list{

        .loader{
          display: none;
          text-align: center;
          
          img{
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }

  .my_products{

    .wrap_my_product{
      .editable-popup{
        position: fixed;
      }
    }
  }
}