@import "variables";
@import "compass/css3";
@import "lib/transparent";

.transaction:first-child{
	padding-top: 0px;
}

.transaction {
	/*padding-top: 20px;*/
	border-image: url(envelope.png) 5 repeat;
	border-width: 5px;
	border-style: solid;
	margin-bottom: 20px;

	.container-fluid {
		padding-left: 20px;
		padding-right: 20px;
	}

	.wrapper-box {
		// @include box-shadow(rgba(0, 0, 0, 0.3) 0 0 1px);
		@include transparent(rgb(51, 51, 51), 0.4);
	}

	hr {
		margin: 20px 20px;
	}

	.paid_bank{
		.bank-wrapper {

			.bank_card{
				float: left;
				margin-right: 0px;
				margin-bottom: 20px;
				position: relative;

				.cart {
					width: 100px;
					// height: 62px;
					@include box-shadow(0 1px 2px $gray);
				}

				input[type='radio']{
					position: absolute;
					top: 8px;
					left: 5px;
				}

				label {
					display: inline-block;
					line-height: 36px;
					margin-bottom: 0px;
					margin-left: 25px;
				}

			}
		}
	}

	.transaction-header {
		small{
			color: $white;
			font-size: 20px;
			float: right;
			// line-height: 40px;
		}

		h3, h4 {
			margin: 10px 20px;
		}

		em {
			font-size: 14px;
			color: $white;
			font-style: normal;
			// float: right;
		}

		.avatar {
			margin-left: 20px;
			margin-top: 20px;
			// margin-top: -40px;
			position: absolute;
			width: 65px;
			z-index: 1030
		}

		.info-header {
			margin-left: 90px;
			position: relative;

			.page-header {
				border-bottom:none;
				margin-bottom: 20px;


				.close{
					margin-left: 15px;
				}

				.transaction-number{
					line-height: 30px;
				}

				.state-display{
					font-size:20px;
					font-weight:none;
					/*margin-right: 20px;*/
				}
				.progress {
					margin-top: 15px;
					margin-bottom: 0px;
				}

				.state-progress {
					position: relative;
					margin-right: 10px;
				}

				.state-position {
					position: absolute;
					top: -5px;

					.state-title {
						position: absolute;
						bottom: -15px;
						left: -12px;
						color: $gray;
					}
				}
			}
		}

		// border: 1px solid $tableBorder;
		// border-bottom: none;
	}

	$headerHeight: 100px;

	.products {
		/*padding: 10px 20px 10px 20px;*/
	}

	.total {
		text-align: right;
		font-size: 30px;
		padding:0 20px;
	}

	.transaction-body {
		// @include box-shadow(rgba(0, 0, 0, 0.3) 0 0 1px);

		// border-left: 1px solid $tableBorder;
		// border-right: 1px solid $tableBorder;
		// border-bottom: 1px solid $tableBorder;
		// padding: 0 20px 20px 20px;
		.print_display{
			height: 0px;
			width: 0px;
			overflow: hidden;
		}

		td {
			vertical-align: middle;
		}

		td.stotal{
			text-align: right;
			font-size: 18px;
		}

		.returned_panel{
			display: none;
		}

		.refuse-panel{
			display: none;
		}

		.control-group.error {
			.control-label  {
				color: black;
			}
		}

		.clock{
			// text-align:right;
			// color:red;
			// font-size: 20px;
			font-style: normal;
			font-weight: bold
		}

		.control-label {
			// width: 100px;
			text-align: left;
		}

		.controls {
			// margin-left: 120px;

		}

		.address_input {
			padding-right: 60px;
			position: relative;
		}

		.address-add {
			position: absolute;
			top: 0px;
			right: 0px;
		}

		.address-panel {
			display: none;
		}

		input[type='text'].delivery_code{
			margin-bottom:0px;
		}

		.already-refund {
			color: #a2d9f3;
		}

		.form-actions {
			margin-left: 20px;
			@include transparent(rgb(51,51,51), 0.25);
			border-top: none;
		}
	}

	.transaction-footer {
		margin-left: 5px;
		margin-right: 5px;
		padding: 5px;
		background: $white;
		// background: $grayLighter;
		/*display: none;*/
		// @include transparent(rgb(51, 51, 51), 0.4);
		// border-left: 1px solid $tableBorder;
		// border-right: 1px solid $tableBorder;
		// border-bottom: 1px solid $tableBorder;

		iframe{
			border: none;
			width: 100%;
			height: 390px;
			overflow: hidden;
			display: none;
		}
	}
}

.slide-box {
	// border: 1px solid red;
	overflow: hidden;
	position: relative;
}

.info {
	.control-label {
		text-align: right;
		font-weight: bold;
	}
}

#creditcard {
	margin-top: 20px;
	.form-horizontal .control-group {
		.control-label {
			width: 80px;
		}

		.controls {
			margin-left: 100px;
		}



	}
		.actions {
			margin-top: 130px;
		}
}

.creditcard-preview {
	// height: 180px;
}

.connect {
	font-size:16px;
	display:none;
	margin-left:200px;
}
