@import "variables";
@import "compass/css3";
@import "lib/transparent";

.transaction:first-child{
	padding-top: 0px;
};

.transaction {
	// padding-top: 40px;
	margin-bottom: 20px;

	.container-fluid {
		padding-left: 20px;
		padding-right: 20px;
	}

	.wrapper-box {
		// @include box-shadow(rgba(0, 0, 0, 0.3) 0 0 1px);
		@include transparent(rgb(51, 51, 51), 0.4);
	}

	hr {
		margin: 20px 20px;
	}

	.transaction-header {

		.avatar {
			margin-left: 20px;
			margin-top: 20px;
			// margin-top: -40px;
			position: absolute;
			width: 65px;
			z-index: 1030
		}

		.info-header {
			margin-left: 90px;
			position: relative;

			.page-header {
				border-bottom:none;
				margin-bottom: 20px;

				small{
					font-size: 20px;
				}

				.controls {
					display: inline-block;
					margin-right: 20px;
					form{
						display: inline-block;
						margin-bottom: 0px;
					}
				}
				.progress {
					margin-top: 25px;
					margin-bottom: 0px;
				}

				.state-progress {
					position: relative;
					margin-top: 30px;
					margin-bottom: 10px;
				}

				.state-position {
					position: absolute;
					top: -5px;

					.state-title {
						position: absolute;
						bottom: -15px;
						left: -12px;
						color: $gray;
					}
				}

				.state_text{
					margin-right:10px;
					font-size:22px
				}
			}
		}

		// border: 1px solid $tableBorder;
		// border-bottom: none;
	}

	$headerHeight: 100px;

	.products {
		padding: 20px;
	}

	.total {
		text-align: right;
		font-size: 30px;
		padding:0 20px;
	}

	.transaction-body {
		// @include box-shadow(rgba(0, 0, 0, 0.3) 0 0 1px);

		// border-left: 1px solid $tableBorder;
		// border-right: 1px solid $tableBorder;
		// border-bottom: 1px solid $tableBorder;
		// padding: 0 20px 20px 20px;

		.returned_panel{
			display: none;
		}

		.refuse-panel{
			display: none;
		}

		.control-group.error {
			.control-label  {
				color: black;
			}
		}

		.clock{
			text-align:right;
			color:red;
			font-size: 20px;
		}

		.control-label {
			// width: 100px;
			text-align: left;
		}

		.controls {
			// margin-left: 120px;

		}

		.address_input {
			padding-right: 60px;
			position: relative;
		}

		.address-add {
			position: absolute;
			top: 0px;
			right: 0px;
		}

		.address-panel {
			display: none;
		}

	}

	.transaction-footer {
		margin-left: 5px;
		margin-right: 5px;
		padding: 5px;
		// background: $grayLighter;
		/*display: none;*/
		@include transparent(rgb(51, 51, 51), 0.4);
		// border-left: 1px solid $tableBorder;
		// border-right: 1px solid $tableBorder;
		// border-bottom: 1px solid $tableBorder;

		iframe{
			border: none;
			width: 100%;
			height: 390px;
			overflow: hidden;
			display: none;
		}
	}
}

.slide-box {
	// border: 1px solid red;
	overflow: hidden;
	position: relative;
}

.info {
	.control-label {
		text-align: right;
		font-weight: bold;
	}
}

.bank-wrapper {

	td {
		vertical-align: middle;
	}

	.bank_card {
		float: left;
		margin-right: 0px;
		margin-bottom: 0px;

		.cart {
			width: 100px;
			// height: 62px;
			@include box-shadow(0 1px 2px $gray);
		}

		label {
			display: inline-block;
			line-height: 36px;
		}

		.banks {
			background: url('/assets/banks.png');
			width: 126px;
			height: 36px;
			display: block;
			text-indent: -300px;
			overflow: hidden;
			border: 1px solid $tableBorder;


			&.bank-boc {
				background-position: 0 -36px;
			}

			&.bank-icbc {
				background-position: 0 -432px;
			}

			&.bank-cbc {
				background-position: 0 -72px;
			}

			&.bank-abc {
				background-position: 0 0;
			}

			&.bank-cmb {
				background-position: 0 -216px;
			}

			&.bank-cmbc {
				background-position: 0 -252px;
			}

			&.bank-comm {
				background-position: 0 -288px;
			}

			&.bank-cgb {
				background-position: 0 -324px;
			}

			&.bank-cib {
				background-position: 0 -144px;
			}


			&.bank-ecitic {
				background-position: 0 -180px;
			}
		}

		// opacity: 0.5;
		// &:hover{
		// 	opacity: 1;
		// }
	}
}

#creditcard {
	margin-top: 20px;
	.form-horizontal .control-group {
		.control-label {
			width: 80px;
		}

		.controls {
			margin-left: 100px;
		}



	}
		.actions {
			margin-top: 130px;
		}
}

.creditcard-preview {
	// height: 180px;
}
