@import "variables";
@import "compass/css3";
@import "lib/transparent";
@import "lib/helper";

.wrapper-box {
  // @include box-shadow(rgba(0, 0, 0, 0.3) 0 0 1px);
  padding: 10px;
  @include transparent(rgb(51, 51, 51), 0.4);
  
  .ui-resizable-handle {
    position: relative;
  }
}

.transaction {
  /*margin-bottom: 30px;*/

  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  hr {
    margin: 20px 20px;
  }

  .transaction-header {
    height: 75px;
    margin-bottom: 10px;
    padding-left: 90px;

    .avatar {
      margin-left: -90px;
      float: left;
      width: 80px;

      img{
        width: 65px;
        height: 65px;
      }
    }

    .info-header {

      .page-header {
        border-bottom:none;
        padding: 0px;
        margin: 0px;

        small{
          font-size: 20px;
          color: #999999;
          float: right;
        }

        .name{
          font-size: 25px;
          width: 200px;
          display: inline;
        }

        .close{
          margin-left: 15px;
        }

        .transaction-number{
          line-height: 30px;
        }


        .progress {
          margin-top: 15px;
          margin-bottom: 0px;
        }

        .state-progress {
          position: relative;
          margin-right: 10px;
        }

        .state-position {
          position: absolute;
          top: -5px;

          .state-title {
            position: absolute;
            bottom: -15px;
            left: -12px;
            color: $gray;
          }
        }
      }
    }

    // border: 1px solid $tableBorder;
    // border-bottom: none;
  }

  .transaction-actions{
    .state-display{
      font-size: 18px;
      font-weight:none;
      /*margin-right: 20px;*/
    }

    .state-description{
      margin-right: 10px;
      color: rgb(201, 201, 201);
      vertical-align: bottom;
    }
  }

  $headerHeight: 100px;

  .products {
    /*padding: 10px 20px 10px 20px;*/
    .avatar.avatar-icon {
      width: 30px;
    }
  }

  .total {
    text-align: right;
    font-size: 30px;
    padding:0 20px;
  }

  .transaction-body {
    // @include box-shadow(rgba(0, 0, 0, 0.3) 0 0 1px);

    // border-left: 1px solid $tableBorder;
    // border-right: 1px solid $tableBorder;
    // border-bottom: 1px solid $tableBorder;
    // padding: 0 20px 20px 20px;
    .print_display{
      height: 0px;
      width: 0px;
      overflow: hidden;
    }

    td {
      vertical-align: middle;
    }

    .product_tfoot{
      text-align: right;

      .stotal{      
        font-size: 18px;
      }
    }   

    .returned_panel{
      display: none;
    }

    .refuse-panel{
      display: none;
    }

    .control-group.error {
      .control-label  {
        color: black;
      }
    }

    .clock{
      text-align:right;
      color:red;
      font-size: 20px;
    }

    .control-label {
      // width: 100px;
      text-align: left;
    }

    .controls {
      // margin-left: 120px;

    }

    .address_input {
      padding-right: 60px;
      position: relative;

      .control-group{
        margin-bottom: 10px;
      }
    }

    .address-add {
      position: absolute;
      top: 0px;
      right: 0px;
    }

    .address-panel {
      display: none;
    }

    input[type='text'].delivery_code{
      margin-bottom:0px;
    }

    .already-refund {
      color: #a2d9f3;
    }

  }

  .transaction-footer {
    margin-left: 5px;
    padding: 5px;
    height: 100%;
    @include box_sizing(border-box);

    background: $white;

    iframe{
      border: none;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
}

.slide-box {
  // border: 1px solid red;
  overflow: hidden;
  position: relative;
}

.info {
  .control-label {
    text-align: right;
    font-weight: bold;
  }
}

#creditcard {
  margin-top: 20px;
  .form-horizontal .control-group {
    .control-label {
      width: 80px;
    }

    .controls {
      margin-left: 100px;
    }



  }
    .actions {
      margin-top: 130px;
    }
}

.creditcard-preview {
  // height: 180px;
}

.connect {
  font-size:16px;
  display:none;
  margin-left:200px;
}

.transaction{
  .nav-tabls-wrapper{
    
    .tab-content{
      margin-bottom: 10px;
    }
  }
}

.transaction-list, .direct_transactions{

  .item{
    margin: 0px -12px 5px;
    padding: 10px 12px;

    .summarize{
      cursor: pointer;

      .products{
        .delivery_price{
          color: rgb(155, 152, 152);
        }

        .product{
          margin-bottom: 5px;

          .preview{
            width: 50px;
            height: 50px;
            float: left;
          }

          .title{
            margin-left: 55px;
          }
        }
      }
    }

    .summarize.mini{
      .products{
        display: none;
      }
    }

    .detail{
      display: none;

      .direct{
        background-color: transparent;
        margin-bottom: 0px;
        padding: 0px;

        .avatar{
          .number{
            display: none;
          }
        }
      }

      .wrapper-box{
        background-color: transparent;
        padding: 0px;
      }

      .page-header{


        .trasaction-title{
          .btn_delete{
            display: none;
          }

        }

        .transaction-number{
          .number{
            display: none;
          }
        }
      }

    }
  }

  .item:hover{
    @include transparent(rgb(51, 51, 51), 0.25);
  }

  .item.active{
    @include transparent(rgb(51, 51, 51), 0.25);
  }
}