@import "core";
@import "lib/transparent";
@import "lib/tree_slide";
@import "bootstrap-editable";
@import "shop_products";

body {
  color: $grayDark;
}

.logo {
  top: 0px;
}

h2 small {
  color: $gray;
}

.dialog {
  background-color: $white;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  @include border-radius(1px);
  @include box-shadow(0 3px 7px rgba(0, 0, 0, 0.3));
  @include background-clip(padding-box);
  outline: none;
  padding: 10px;
  #new_shop_auth{
    .file-box{
      margin-left: auto;
    }
  }
  #new_user_auth{
    .file-box{
      margin-left: auto;
    }
  }
}


.wrap {
  margin-left: 0px;
  margin-top: 30px;
  min-height: 500px;
}


.panel {
  &.diffrent{
    margin-left:3px;
  }
  border:1px #ccc solid;
  color: #cccc;
  padding-top: 10px;
  h4 {
    margin: 0 10px 10px 10px;
  }

  .position {
    position: relative;
    bottom: 310px;
    left: 37px;
  }
  .info {
    margin: 10px;
  }

  .search-header {
    padding-left: 20px;
  }
}


.my_product_list{
  .product_item{
    &:hover {
      @include transparent(rgb(51,51,51), 0.25);
      border-left: 3px solid $blue;
    }
  }
  .checked_product {
    background-color: rgba(51, 51, 51, 0.5);
    border-left: 3px solid $blue;
  }
}

.product_item {
  padding: 10px 10px 10px 70px;
  border-top: 1px solid #222;
  border-top: 1px solid rgba(51,51,51,0.25);
  border-left: 3px solid transparent;

  .product_img {
    width: 50px;
    float: left;
    margin-left: -60px;
  }

  input {
    width: 50px;
    display: inline-block;
  }

  section {
    display: inline-block;
    .label:hover {
      background: $grayLighter;
      color: $black;
    }
  }

  &:hover {
    @include transparent(rgb(51,51,51), 0.6);
    border-left: 3px solid $red;
  }
}

.checked_product{
  @include transparent(rgb(51,51,51), 0.6);
  // background-color: rgb(51, 51, 51, 0.6);
  border-left: 3px solid $red;
}

.dialog_product .nav-tabs {
  border-bottom: none;
  margin-bottom: 2px;
  li a {
    color: black;
  }
}

.tab-content{
  border: 1px solid #ccc;
  .search-header {
    margin: 10px 10px 0px 10px;
    padding-left: 20px;
    
    .tree-nav {
      color: black;
      padding: 10px 0;
      background-color: white;
      zoom: 1;
    }
  }
}
.page-title{
  color: black;
}

$margin-top: 20px;

.form-horizontal {
  margin: 10px;

  .reset_avatar {
    min-width: 150px;
    max-height: 200px;
    text-align: center;

    .normal_picture {
      width: 5*$margin-top;
      height: 5*$margin-top;
    }
  }

  .input_locate {
    margin-top: 30px;
    margin-left: -10px;

    input {
      width: 100%;
      min-width: 90px;
      max-width: 240px;
    }

    .control-label {
      width: 85px !important;
    }

    .controls {
      margin-left: 100px !important;
    }
  }
}
.shop_info{
  hr{
    margin: 0px;
    border-top: 1px solid #cccccc;
    /*border-bottom: 1px solid #cccccc;*/
    margin-bottom: 40px;
  }
}
.notice_tip{
  text-align: right;
}