// Place all the styles related to the yellow_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'card_info';

.yellow_page{

  .circles{
    margin: 0px;        
  }

  .newer_panel{
    .alert{
      // margin-right: 20px;
      // margin-left: 20px;
    }

  }

  .address-panel{
    .address_from_post{
      padding-top: 10px;
      .error{
        border: 1px solid red;
      }
      .search_user{
        margin-left: 20px;
      }
      .controls {
        .hidden{
          position: absolute;
        }
      }
      .control-group:first-child div{
        margin-left: 5px;
      }
    }
  }

  .hot_region{
    padding-left: 20px;
    margin-bottom: 20px;
    a{
      color: white;
      font-size: 15px;
    }
  }

  .top_10{
    h4{
      margin-top: 0px;
      padding-top: 20px;
      padding-left: 10px;
    }
    @include transparent(rgb(51,51,51),0.4);
    .shops-list{
      li{
        border-top: 1px solid rgba(51,51,51,0.25);
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0px;
      }
      li:hover {
        @include transparent(rgb(51,51,51), 0.25);
      }
      .top_image{
        padding-top: 8px;
        padding-left: 20px;
      }
      .follow, .unfollow{
        cursor: pointer;
      }
    }
  }
  .find_circles_panel{
    margin-bottom: 20px;
  }
  .find_people_panel{
    margin-bottom: 10px;
  }
  .find_people_panel, .find_circles_panel{
    margin-left: 0px;
    margin-top: 10px;
    .people_input_info, .circle_input_info{
      margin-bottom: 0px!important;
    }
  }
}

.communities{
  .detail_city_choice{
    border-radius: 5px;
    border: 5px solid #00BFFF;
  }
  .area_list{
    a{ color: #0000CC;}
    .city_name{
      margin-left: 6px;
    }
  }
}

