// Place all the styles related to the yellow_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.yellow_page{
	hr {
		margin: 10px 0;
		border: 0;
		border-top: 1px solid #eeeeee;
		border-bottom: 1px solid white;
	}
	
	.businiess_communites{
		@include transparent(rgb(51,51,51),0.4);
		.head_img{ 
			a{
				position: relative;
				.label-important{
					background-color: #db4a37;
				}
			}
		}
		.circle_count{
			position: absolute;
		    right: 5px;
			top: 50px;
		    padding-left: 5px;
		    padding-right: 5px;
		}
		.user_icon { 
			float:left; 
			margin-right:5px; 
			width: 70px; 
			height: 70px; 
			cursor: pointer;
		}
		.circle_detail{
			margin-left: 90px;
		}
	}

	.new_user{  
		@include transparent(rgb(51,51,51),0.4);
		margin-bottom: 20px; 
		margin-left: 20px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		-webkit-box-shadow: 1px 2px 0 rgba(0,0,0,.05);
		box-shadow: 1px 2px 0 rgba(0,0,0,.05);
		width: 30%;
		background-color: "";
	}
	/*.newer{ margin-left: -15px;}*/
	.base_info{
		.alert{ 
			margin-right: 20px; 
			margin-left: 20px; 
		}
		.user_info{
			position: relative;
			.user_icon { 
				float:left; 
				margin-right:5px; 
				width: 70px; 
				height: 70px; 
				cursor: pointer;
			}
		}
	}

	.wrapper{
		.user_info:first-child{
			margin-left: 20px;
		};
		.user_info{
			.title { 
				float:left;
				padding-top:15px; 
			}

			.tel { 
				color: #9bd0f6; 
				font-size: 13px; 
			}

			.name {  
				color: #404040;
				font-size: 13px;
				font-weight: bold;
			}
		}
	}

	.yellow_base_info {
		-webkit-border-radius: 3px;
		border-radius: 3px;
		background-color: #fff;
		overflow: hidden;
		position: absolute;
		text-align: center;
		display: none;
		top:70px;
		left:0px;
		width: 240px;
		height: 300;
		z-index:1;

		.userinfo {
			margin-top: 110px;
			.contact {
				line-height: 30px;
				padding-top: 20px;
				background-color: rgba(231, 192, 192, 0.09);
				.icon-leaf {
					color: green;
				}	
			}
		}

		.login, .shop_name {
			-webkit-transition: color .218s;
			transition: color .218s;
			color: #427fed;
			font-weight: bold;
			margin-bottom: -40px;
		}

		.industry_type {
			color: #737373;
			font-size: 13px;
			line-height: 20px;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-top: 40px;
		}

		.entry, .add_friend {
			text-align: center;
		}

		.bg_nature {
			opacity: .80;
			background-color: #000;
			height: 135px;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			padding-top: 0px;
			width: 240px;
			height: 150px;
		}

		div {
			padding-top: 6px;
		}

		.circle_avatar {
			position: relative;
			img{
				height: 50px;
				width: 50px;
			}
		}
	}
	.address-panel{
		.address_from_post{
			padding-top: 10px;
			.error{
				border: 1px solid red;
			}
			.search_user{ 
				margin-left: 20px;
			}
			.controls {
				.hidden{ 
					position: absolute;
				}
			}
			.control-group:first-child div{
				margin-left: 5px;
			}
		}
	}

	.hot_city{
		padding-left: 20px;
		a{ 
			color: white; 
			font-size: 15px;
		}
	}
	.shops-list{
		.top_image{
			padding-top: 8px;
		}
	}
}



