// Place all the styles related to the yellow_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.yellow_page{
	hr {
		margin: 10px 0;
		border: 0;
		border-top: 1px solid #eeeeee;
		border-bottom: 1px solid white;
	}

	.circles{

		.businiess_community{
			margin-left: 20px;
			margin-bottom: 20px;
			width: 30%;
			position: relative;

			.popover{
				top:-65px;
				color: black;
			}

			@include transparent(rgb(51,51,51),0.4);
			.head_img{
				a{
					position: relative;
					.label-important{
						background-color: #db4a37;
					}
				}
			}

			.user_icon {
				float:left;
				margin-right:5px;
				width: 70px;
				height: 70px;
				cursor: pointer;
			}
			.circle_detail{
				margin-left: 80px;
			}
		}
	}


	.new_user, .seller_user, .buyer_user, .businiess_community{
		@include transparent(rgb(51,51,51),0.4);
		margin-bottom: 20px;
		margin-left: 20px;
		-webkit-box-shadow: 1px 2px 0 rgba(0,0,0,.05);
		box-shadow: 1px 2px 0 rgba(0,0,0,.05);
		width: 30%;
		background-color: "";
	}
	/*.newer{ margin-left: -15px;}*/
	.base_info{
		.alert{
			margin-right: 20px;
			margin-left: 20px;
		}
		.user_info{
			position: relative;
			.user_icon {
				float:left;
				margin-right:5px;
				width: 70px;
				height: 70px;
				cursor: pointer;
			}
		}
	}

	.wrapper{
		.user_info:first-child{
			margin-left: 20px;
		}

		.user_info{
			.title {
				float:left;
				padding-top:15px;
			}

			.tel {
				color: #9bd0f6;
				font-size: 13px;
			}

			.name {
				color: #404040;
				font-size: 13px;
				font-weight: bold;
			}
		}
	}

	.yellow_base_info {
		-webkit-border-radius: 3px;
		border-radius: 3px;
		background-color: #fff;
		overflow: hidden;
		position: absolute;
		text-align: center;
		display: none;
		top:70px;
		left:0px;
		width: 240px;
		height: 300;
		z-index:1;

		.userinfo {
			margin-top: 110px;
			.contact {
				line-height: 30px;
				padding-top: 20px;
				background-color: rgba(231, 192, 192, 0.09);
				.icon-leaf {
					color: green;
				}
			}
		}

		.login, .shop_name {
			-webkit-transition: color .218s;
			transition: color .218s;
			color: #427fed;
			font-weight: bold;
			margin-bottom: -40px;
		}

		.industry_type {
			color: #737373;
			font-size: 13px;
			line-height: 20px;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-top: 40px;
		}

		.entry, .add_friend {
			text-align: center;
		}

		.bg_nature {
			opacity: .80;
			background-color: #000;
			height: 135px;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			padding-top: 0px;
			width: 240px;
			height: 150px;
		}

		div {
			padding-top: 6px;
		}

		.circle_avatar {
			position: relative;
			img{
				height: 50px;
				width: 50px;
			}
		}
	}

	.address-panel{
		.address_from_post{
			padding-top: 10px;
			.error{
				border: 1px solid red;
			}
			.search_user{
				margin-left: 20px;
			}
			.controls {
				.hidden{
					position: absolute;
				}
			}
			.control-group:first-child div{
				margin-left: 5px;
			}
		}
	}

	.hot_city{
		padding-left: 20px;
		a{
			color: white;
			font-size: 15px;
		}
	}

	.top_10{
		h4{
			margin-top: 0px;
			padding-top: 20px;
			padding-left: 10px;
		}
		@include transparent(rgb(51,51,51),0.4);
		.shops-list{
			li{
				border-top: 1px solid rgba(51,51,51,0.25);
				padding-top: 10px;
				padding-bottom: 10px;
				margin-left: 0px;
			}
			li:hover {
				@include transparent(rgb(51,51,51), 0.25);
			}
			.top_image{
				padding-top: 8px;
				padding-left: 20px;
			}
		}
	}
	.find_people_panel{
		margin-left: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		.tips{
			font-size:16px;
			margin-left:20px;
		}
		.input_info{
			margin-bottom: 0px!important;
		}
	}
}

.communities{
	.detail_city_choice{
		border-radius: 5px;
		border: 5px solid #00BFFF;
	}
	.area_list{
		a{ color: #0000CC;}
		.city_name{
			margin-left: 6px;
		}
	}
}

