<tr <%= indent_attributes(@indent) %> >

	<td>
		<%= category_name_field @category %>
	</td>
	<td></td>
	<td></td>
	<td>
		<%= category_util_field @category %>
	</td>
</tr>
<%= simple_form_for @category, :url => admins_categories(@category), :remote => true,:html => {:id => @category.id } do |f| %>
<% end %>
