<% admin_active_section :categories %>
<div id="page" >
	<div class="row-fluid">
		<%= link_to t(:create), '#', :class => 'btn add_category' %>
	</div>
	<div class="row-fluid">
		<table id="table" class="table table-bordered table-striped">
			<thead>
				<tr>
				<th>名称</th><th>更新于</th><th>创建于</th><th>工具</th><th class="hide"></th>
				</tr>
			</thead>

			<%= render :partial => "category", :collection => @shops_categories %>
		</table>
	</div>
</div>
<%= register_javascript :category_tools do %>
<script type="text/javascript">
		var $trs = $("#table tr:gt(0)");
		$trs.each(function(i, tr){
			var models = new ObjectFormModel($(tr).find("form"), "category");
			var model = new CategoryModel(models)
			new CategoryRow({el: tr, model: model});
		});


		$(".add_category").on("click", function(){
			// var model = new Category.Model(models)
			var tr = $("<tr />").appendTo("#table")
			$("#table")
			var row = new CategoryRow({el: tr});
			var data = row.render('new');
			tr.replaceWith(data);
		});
</script>
<% end %>
