<!-- <a href="#myModal" role="button" class="btn" data-toggle="modal">查看演示案例</a> -->
 
<!-- Modal -->
<div id="PickCircle" class="modal share_activity_to_circles hide fade" tabindex="-1" role="dialog" aria-labelledby="selectCircleLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="selectCircleLabel">选择圈子</h3>
  </div>
  <div class="modal-body">
  	<p>正在努力加载......</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary shared share_activity disabled">分享</button>
  </div>
</div>