<div id="activities" >
  <!-- 4列，按下标公式4n, 4n +1, 4n + 2, 4n + 3分类竖向排列 -->
  <% (0...@activities.size).group_by { |i| i % 4 }.each do |_, indexs| -%>
    <div class="column">
      <% indexs.each do |index| %>
        <%= render_activity @activities[index] %>
      <% end %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  require(['jquery','lib/mousemove', 'jquery.masonry', 'lib/image_natural_size','lib/chosen.ex', 'activity'], function($,Mousemove, _m, _n, _c, Activity){
    var $container = $('#activities');

    // $container.imagesLoaded( function(){
    //   $container.masonry({
    //     itemSelector : '.activity'
    //   });
    // });

    // new Mousemove.Drag
  });
</script>