<div id="activities" >
  <% @activities.each_slice(2) do |group| -%>
    <div class="column">
      <% group.each do |activity| %>
        <%= render_activity activity %>
      <% end %>
    </div><% end %>
</div>
<script type="text/javascript">
    var $container = $('#activities');

    // $container.imagesLoaded( function(){
    //   $container.masonry({
    //     itemSelector : '.activity'
    //   });
    // });
</script>