<div id="activities" >
  <% @activities.each_slice(2) do |group| -%>
    <div class="column">
      <% group.each do |activity| %>
        <%= render_activity activity %>
      <% end %>
    </div><% end %>
</div>
<script type="text/javascript">
  require(['jquery','lib/mousemove', 'jquery.masonry', 'lib/image_natural_size','lib/chosen.ex', 'activity'], function($,Mousemove, _m, _n, _c, Activity){
    var $container = $('#activities');

    // $container.imagesLoaded( function(){
    //   $container.masonry({
    //     itemSelector : '.activity'
    //   });
    // });

    // new Mousemove.Drag
  });
</script>