<ul class="nav nav-tabs activity_select">
  <li class='active'><a href="#auction" data-toggle="tab" >竞价</a></li>
  <li><a href="#focus" data-toggle="tab">聚焦</a></li>
  <!-- <li><a href="#score" data-toggle="tab">积分</a></li>
  <li><a href="#package" data-toggle="tab">捆绑</a></li> 
  <li><a href="#courage" data-toggle="tab">吞货</a></li> -->
</ul>
<div class="tab-content activity_forms">
  <div class="tab-pane active" id="auction">
    <script type="text/javascript">
        $("#auction").load('/activities/auction/new');
   </script>
  </div>

  <!-- <div class="tab-pane" id="score">
    <script type="text/javascript">
        $("#score").load('/activities/score/new');
   </script>
  </div>

  <div class="tab-pane" id="package">
    <script type="text/javascript">
        $("#package").load('/activities/package/new');
   </script>
  </div> 
  <div class="tab-pane" id="courage">
    <script type="text/javascript">
        $("#courage").load('/activities/courage/new');
   </script>
  </div> -->

  <div class="tab-pane" id="focus">
    <script type="text/javascript">
        $("#focus").load('/activities/focus/new');
   </script>
  </div>

</div>


