<div id="main" class="content">
  <div class='not_dialog'>
    <%= render "activities/#{@activity.activity_type}/show", activity: @activity, product_item: @product_item %>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    new ActivityBind({
      model: (new ActivityModel({ id: "<%=@activity.id %>", shop_id: "<%= @activity.shop_id %>" })),
      el: $(".activity-auction")
    })
  })
</script>
