<% side_nav_for 'tomorrow' %>

<div id="main" class="content">
  <section class="widget">
    明日预告
  </section>

  <div class='activities_panel'>
    <div id="activities" class='forecast'>
    </div>
    <div class='scroll-load-msg'></div>
  </div>
</div>

<script type="text/template" id="auction-preview-template">
  <%= render "activities/auction/preview_template" %>
</script>

<script type="text/template" id="focus-preview-template">
  <%= render "activities/focus/preview_template" %>
</script>

<script type="text/javascript">
  $(function(){
    var load_view = new LoadActivities({
      el: $('.activities_panel'),
      params: {
        fetch_url: "/search/tomorrow"
      }
    })
    load_view.fetch();

    new ActivityLayoutView({
      el: '#activities'
    })

    new ActivityPreview({
      el: $('#activities'),
      login: '<%= current_user.login %>'
    })

    $("#category-sidebar .lv2_categories a").on("click", function(){
      $(this).parents(".lv2_categories").hide()
      category_id = $(this).attr("data-category_id")
      load_view.reset_fetch({ category_id: category_id })
    })
  })
</script>
