<% side_nav_for 'tomorrow' %>
<div id="main" class="content">
  <section class="widget">
    明日预告
  </section>
  <div class='forecast'>
    <% (0...@activities.size).group_by { |i| i % 5 }.each do |_, indexs| -%>
      <div class="column">
      <% indexs.each do |index| %>
        <%= render_activity @activities[index] %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  new ActivitiesView({el: '#main .forecast'})
</script>