<div class="row-fluid">
  <div class='span2'>
    运费
  </div>
  <div class='span4'>
    <%=transaction.delivery_price %>
  </div>
  <div class='span2'>
    快递单号
  </div>
  <div class='span4'>
    <%=transaction.delivery_code %>
  </div>
</div>