<div class='row-fluid wrapper-box' data-group="<%= 'OrderTransaction_' + refund.order.try(:number) %>">
  <div class='left span7'>
    <%=render :partial => "card", locals: {refund: refund} %>
  </div>

  <div class='span5 chat_wrapper'>
    <div class="transaction-footer">
      <div class='message_wrap'>
      </div>
    </div>
  </div>
</div>