<span class='rdp_panel' data-value="<%=refund.delivery_price %>">
  <%= number_to_currency(refund.delivery_price) %>
</span>
<span class='edit_rdp_panel'>
  <input type='text' value="<%=refund.delivery_price %>" name='edit_rdprice' class='span5' />
</span>
<a href='javascript:void(0)' class='edit_rdprice'>
  <i class='icon-edit'></i>
</a>