<% active_section :refunds %>

<div class='row-fluid order_refund_list'>
  <div class='span8'>
    <div class='left'>
      <div class='people-groups'>
      </div>

      <div class='threeD-viewport'>
         <div class='refunds'>
          <%= render :partial => "order_refunds/mini_row", :collection => @refunds, :as => :row %>
        </div>
      </div>

      <div class='boxes'>
        <div class='upbox'></div>
        <div class='currentbox'></div>
        <div class='downbox'></div>
      </div>
      <%= paginate @refunds %>
    </div>
    <div class='refund-detail'></div>
  </div>
</div>

<script type='text/javascript'>
  $(function(){
    new OrderRefundList({
      el: $(".order_refund_list"),
      remote_url: "<%= person_order_refunds_path(@people) %>"
    })
  })
</script>