<% active_section :refunds %>
<div class='row-fluid'>
  <div class='span8'>
    <% @refunds.each do |refund| %>
      <%= render "context", :refund => refund %>
    <% end %>
  </div>
</div>
<script type='text/javascript'>
  $(".transaction").each(function(i, elem){
    new OrderRefundCard({
      el: elem,
      realtime: {
        url: '<%= faye_server_uri %>',
        token: '<%= token %>'
      }
    })
  })
</script>