<% active_section :refunds %>
<div class='row-fluid'>
  <div class='span7'>
    <div class='card_item'>
      <%=render "order_refunds/header", :row => @refund %>
    </div>
    <%= render "context", :refund => @refund %>
  </div>
</div>
<script type='text/javascript' >
  $(function(){
    new OrderRefundCard({
      el: $(".transaction"),
      realtime: {
        url: '<%= realtime_uri %>',
        token: '<%= token %>'
      }
    })
  })
</script>