<footer id="footer" class="footer">
  <div class="container">
    <p class="copyright">
      Panama, Copyright &copy; 2013-2014, 湘ICP备13005289号-1
    </p>
  </div>
</footer>

<div id="login-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class='context'></h3>
  </div>
  <div class="modal-body">
    <iframe name='account_login_client' style='width:100%; frameborder: 0;'></iframe>
  </div>
</div>