<div class="page-header">
  <!-- ie 8下面的背景 -->
  <div class='navbar-back affix-top' data-spy="affix" data-offset-top="20"></div>
  <div class="navbar affix-top" data-spy="affix" data-offset-top="20">
    <div class="navbar-inner">
      <%= render "topbar" %>
    </div>
  </div>
</div>

<div id="active_dialog" class="active_dialog modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addActivityLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="addActivityLabel">发布您的活动</h3>
  </div>
  <div class="modal-body">
    <p>正在加载...</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary save_activity">确认</button>
  </div>
</div>

<div id="ask_buy_dialog" class="ask_buy_dialog modal hide fade" tabindex="-1" role="dialog" aria-labelledby="askBuyLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="askBuyLabel">发布求购信息</h3>
  </div>
  <div class="modal-body">
    <p>正在加载...</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary save_ask_buy">确认</button>
  </div>
</div>

<!-- <div id="choseCircle" class="modal circle_invite_list hide fade" tabindex="-1" role="dialog" aria-labelledby="selectCircleLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="selectCircleLabel">选择圈子</h3>
  </div>
  <div class="modal-body">
    <p>正在努力为你加载...</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary invite_user shared disabled">分享</button>
  </div>
</div> -->
