<div id="header" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid relative">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= render "logo" %>

      <form id="top_search" class="form-search pull-right">
        <div class="input-append">
        <%= text_field_tag :query, nil, :class=>"span5 search-query" %>
        <%= submit_tag l(:search, '搜  索'), :class=> "btn"%>
        </div>
      </form>
    <div id="topbar" class="nav-collapse collapse pull-right">
      <%= render "topbar" %>
      </div>
    </div>
  </div>
</div>