<div class="information-panel" >
  <div class="section">
    <span class='item-name'><%= icon 'th-list' %> 分类 </span>
    <a href="#">食品保健</a>
    <a href="#">尿裤湿巾</a>
    <a href="#">洗浴用品</a>
    <a href="#">护肤用品</a>
    <a href="#">出行车类</a>
    <a href="#">出行安全</a>
    <a href="#">玩具礼物</a>
    <a href="#">哺喂用品 </a>
    <a href="#">健康安全</a>
    <a href="#">妈妈专区</a>
  </div>
  <div class="section">
    <span class='item-name'><%= icon 'gift' %> 活动 </span>
    <a href="#">竞价</a>
    <a href="#">积分</a>
    <a href="#">梱绑</a>
    <a href="#">聚焦</a>
    <a href="#">吞货</a>
  </div>
  <div class="section">
    <span class='item-name'><%= icon 'map-marker' %> 区域 </span>
    <ul class="unstyled inline">
      <li class="item current"><a href="#" >全部</a></li>
      <li class="item"><a href="#" >石鼓区<span>271</span></a></li>
      <li class="item"><a href="#" >蒸湘区<span>334</span></a></li>
      <li class="item"><a href="#" >雁峰区<span>197</span></a></li>
      <li class="item"><a href="#" >珠晖区<span>91</span></a></li>
      <li class="item"><a href="#" >南岳区<span>4</span></a></li>
      <li class="item"><a href="#" >衡阳县<span>9</span></a></li>
      <li class="item"><a href="#" >衡东县<span>1</span></a></li>
      <li class="item"><a href="#" >衡南县<span>3</span></a></li>
      <li class="item"><a href="#" >耒阳市<span>34</span></a></li>
    </ul>
  </div>
</div>