<div class="logo" data-spy="affix" data-offset-top="20">
	<h4>
		<a href="/">
			<img alt="万流市场" src="/assets/logo-large.png" style="height:40px;width:60px;">
			<span class='title'>万流市场</span>
		</a>
	</h4>
</div>