  <div id="main-nav">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">

            <ul class="nav">
              <li id="category" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">所有分类 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
              <li class="divider-vertical"></li>
              <li class="active"><a href="#">首页</a></li>
              <li><a href="#">品牌街</a></li>
              <li><a href="#">品牌特卖</a></li>
              <li><a href="#">天猫原创</a></li>
              <li><a href="#">天猫预售</a></li>
              <li><a href="#">电器城</a></li>
              <li><a href="#">医药馆</a></li>
              <li><a href="#">百事淘宝</a></li>
              <li class="pull-right"><a href="#"><i class="icon-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
