<div class="navbar" id="main-nav" data-spy="affix" data-offset-top="100">
  <div class="navbar-inner">
    <div class="container-fluid">
      <ul class="nav">
        <li id="category" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= icon(:home) %> 所有分类 <b class="caret"></b></a>
          <%= render "main_category" %>
        </li>
        <li class="divider-vertical"></li>
        <li class="active"><a href="#">首页</a></li>
        <li><a href="/products">商城</a></li>
       </ul>
      <ul class="nav pull-right publish_button">
        <li class="divider-vertical"></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-plus"></i>&nbsp;发布</a>
          <ul class="dropdown-menu">
            <li><a href="/activities/new.dialog" class="create_active" data-toggle="modal" data-target="#active_dialog">优惠活动</a></li>
            <li><a href="#" class="create_buy">求购信息</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>
<div id="active_dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addActivityLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="addActivityLabel">发布您的活动</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary save_activity">确认</button>
  </div>
</div>

<script type="text/javascript">
  $(".save_activity").on('click', function(type){
    var $a = $(".activity_select>.active");
    var content_id = $a.find(">a").attr('href')
    var $form = $(".activity_forms>" + content_id + " form");

    $.ajax({
      type: 'post',
      dataType: 'json',
      data: $form.serialize(),
      url: $form.attr('action'),
      success: function(data, status, xhr) {
        $form[0].reset();
        $("#active_dialog").modal('hide');
        pnotify({ text: '活动发布成功，请耐心等待审核……' });
      },
      error: function(xhr, status, error) {
        pnotify({ type: 'error', title: '活动发布失败', text: JSON.parse(xhr.responseText).join('\n') })
      }
    });
  });

</script>
