<section class="right-sidebar widget widget-tabs">
</section>

<!-- js模板 -->
<div id="right-sidebar-templates" style='display: none;'>
	<div class="main">
		<header>
			<ul class="nav nav-tabs">
			</ul>
			<div id="sidebar-settings" class="settings">
				<button type="button" data-value="icons" class="btn-icons btn btn-transparent btn-small">Icons</button>
				<button type="button" data-value="auto" class="btn-auto btn btn-transparent btn-small">Auto</button>
			</div>
		</header>
		<div class="body tab-content">
		</div>
	</div>

	<div class="container">
			<ul class="notices-list users-list">
			</ul>

			<ul class="notices-list activities-list">
			</ul>
	</div>

	<div class='sign-item'>
		<%#= image_tag current_user.icon, :class => "pull-left img-circle" %>
		<div class="user-info">
			<div class="name"><a href="#">Finees Lund</a></div>
			<div class="position">Product Designer</div>
			<div class="time">Last logged-in: Mar 20, 18:46</div>
		</div>
	</div>

	<div class='activity-item'>
	</div>
</div>

<script type="text/javascript">
	RealTimeContainerView.bind_runtime({
		realtime_url: '<%= faye_server_uri %>',
		token: '<%= current_user.im_token %>',
		current_user_login: '<%= current_user.login %>'
	});

	window.right_sidebar ||
	(window.right_sidebar = new RightSideBar({el: ".right-sidebar"}));

	right_sidebar.register(ActivitiesContainerView,
						   TransactionView,
						   FriendsContainerView);
</script>
