<section class="right-sidebar widget widget-tabs">
    <header>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#stats" data-toggle="tab"><%=icon :'eye-open'%></a>
            </li>
            <li class="">
                <a href="#report" data-toggle="tab"><%=icon :user %></a>
            </li>
             
        </ul>
        <div id="sidebar-settings" class="settings">
            <button type="button" data-value="icons" class="btn-icons btn btn-transparent btn-small">Icons</button>
            <button type="button" data-value="auto" class="btn-auto btn btn-transparent btn-small">Auto</button>
        </div>  
    </header>
    <div class="body tab-content">
        <div id="stats" class="tab-pane clearfix active">
            <h5 class="tab-header"><i class="icon-group"></i> Last logged-in users</h5>
            <ul class="users-list">
                <li>
                    <img src="http://demo.okendoken.com/img/1.jpg" alt="" class="pull-left img-circle">
                    <div class="user-info">
                        <div class="name"><a href="#">Finees Lund</a></div>
                        <div class="position">Product Designer</div>
                        <div class="time">Last logged-in: Mar 20, 18:46</div>
                    </div>
                </li>
                <li>
                    <img src="http://demo.okendoken.com/img/3.jpg" alt="" class="pull-left img-circle">
                    <div class="user-info">
                        <div class="name"><a href="#">Erebus Novak</a></div>
                        <div class="position">Software Engineer</div>
                        <div class="time">Last logged-in: Mar 23, 9:02</div>
                    </div>
                </li>
                <li>
                    <img src="http://demo.okendoken.com/img/2.jpg" alt="" class="pull-left img-circle">
                    <div class="user-info">
                        <div class="name"><a href="#">Leopoldo Reier</a></div>
                        <div class="position">Chief Officer</div>
                        <div class="time">Last logged-in: Jun 6, 15:34</div>
                    </div>
                </li>
                <li>
                    <img src="http://demo.okendoken.com/img/13.jpg" alt="" class="pull-left img-circle">
                    <div class="user-info">
                        <div class="name"><a href="#">Frans Garey</a></div>
                        <div class="position">Financial Assistant</div>
                        <div class="time">Last logged-in: Jun 8, 17:20</div>
                    </div>
                </li>
                <li>
                    <img src="http://demo.okendoken.com/img/14.jpg" alt="" class="pull-left img-circle">
                    <div class="user-info">
                        <div class="name"><a href="#">Jessica Johnsson</a></div>
                        <div class="position">Sales Manager</div>
                        <div class="time">Last logged-in: Jun 8, 9:13</div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="report" class="tab-pane">
            <h5 class="tab-header"><i class="icon-star"></i> Popular contacts</h5>
            <ul class="users-list user-list-no-hover">
                <li>
                    <img src="http://demo.okendoken.com/img/14.jpg" alt="" class="pull-left img-circle">
                    <div class="user-info">
                        <div class="name"><a href="#">Jessica Johnsson</a></div>
                        <div class="options">
                            <button class="btn btn-mini btn-success">
                                <i class="icon-phone"></i>
                                Call
                            </button>
                            <button class="btn btn-mini btn-warning">
                                <i class="icon-envelope-alt"></i>
                                Message
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="http://demo.okendoken.com/img/13.jpg" alt="" class="pull-left img-circle">
                    <div class="user-info">
                        <div class="name"><a href="#">Frans Garey</a></div>
                        <div class="options">
                            <button class="btn btn-mini btn-success">
                                <i class="icon-phone"></i>
                                Call
                            </button>
                            <button class="btn btn-mini btn-warning">
                                <i class="icon-envelope-alt"></i>
                                Message
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="http://demo.okendoken.com/img/3.jpg" alt="" class="pull-left img-circle">
                    <div class="user-info">
                        <div class="name"><a href="#">Erebus Novak</a></div>
                        <div class="options">
                            <button class="btn btn-mini btn-success">
                                <i class="icon-phone"></i>
                                Call
                            </button>
                            <button class="btn btn-mini btn-warning">
                                <i class="icon-envelope-alt"></i>
                                Message
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="http://demo.okendoken.com/img/2.jpg" alt="" class="pull-left img-circle">
                    <div class="user-info">
                        <div class="name"><a href="#">Leopoldo Reier</a></div>
                        <div class="options">
                            <button class="btn btn-mini btn-success">
                                <i class="icon-phone"></i>
                                Call
                            </button>
                            <button class="btn btn-mini btn-warning">
                                <i class="icon-envelope-alt"></i>
                                Message
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="http://demo.okendoken.com/img/1.jpg" alt="" class="pull-left img-circle">
                    <div class="user-info">
                        <div class="name"><a href="#">Finees Lund</a></div>
                        <div class="options">
                            <button class="btn btn-mini btn-success">
                                <i class="icon-phone"></i>
                                Call
                            </button>
                            <button class="btn btn-mini btn-warning">
                                <i class="icon-envelope-alt"></i>
                                Message
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="dropdown1" class="tab-pane">
            <h5 class="tab-header"><i class="icon-comments"></i> Top Commenters</h5>
            <ul class="users-list">
                <li>
                    <img src="http://demo.okendoken.com/img/13.jpg" alt="" class="pull-left img-circle">
                    <div class="user-info">
                        <div class="name"><a href="#">Frans Garey</a></div>
                        <div class="comment">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                            sed quia
                        </div>
                    </div>
                </li>
                <li>
                    <img src="http://demo.okendoken.com/img/1.jpg" alt="" class="pull-left img-circle">
                    <div class="user-info">
                        <div class="name"><a href="#">Finees Lund</a></div>
                        <div class="comment">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat.
                        </div>
                    </div>
                </li>
                <li>
                    <img src="http://demo.okendoken.com/img/14.jpg" alt="" class="pull-left img-circle">
                    <div class="user-info">
                        <div class="name"><a href="#">Jessica Johnsson</a></div>
                        <div class="comment">
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            deserunt.
                        </div>
                    </div>
                </li>
                <li>
                    <img src="http://demo.okendoken.com/img/3.jpg" alt="" class="pull-left img-circle">
                    <div class="user-info">
                        <div class="name"><a href="#">Erebus Novak</a></div>
                        <div class="comment">
                            Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                            doloremque.
                        </div>
                    </div>
                </li>
                <li>
                    <img src="http://demo.okendoken.com/img/2.jpg" alt="" class="pull-left img-circle">
                    <div class="user-info">
                        <div class="name"><a href="#">Leopoldo Reier</a></div>
                        <div class="comment">
                            Laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis
                            et quasi.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>	

<script type="text/javascript">
    var right_sidebar = new RightSideBar({el: ".right-sidebar"})
</script>