<section class="right-sidebar widget widget-tabs">
  <div class="body tab-content"></div>
</section>

<script type="text/javascript">
  $("body").addClass('right-mini');
  ChatListView.getInstance({ el: $(".right-sidebar .body") });
</script>
