<div id="social_sidebar" data-spy="affix" data-offset-top="100" >
	<div class="streams">
<!-- 		<div class="header">
			<h3>活动</h3>
		</div> -->
		<ul class="unstyled">
			<li>
				<div class='stream'>
					<div class='avatar'><img src='default_img/t100100_file_blank.gif' ></div>
					<span class='author'>hysios</span>
					<p>Rails 4: escape_javascript 可以用 j 这个别名</p>
				</div>
			</li>
			<li>
				<div class='stream'>
					<div class='avatar'><img src='default_img/t100100_file_blank.gif' ></div>
					<span class='author'>hysios</span>
					<p>Rails 4: escape_javascript 可以用 j 这个别名</p>
				</div>
			</li>
			<li>
				<div class='stream'>
					<div class='avatar'><img src='default_img/t100100_file_blank.gif' ></div>
					<span class='author'>hysios</span>
					<p>Rails 4: escape_javascript 可以用 j 这个别名</p>
				</div>
			</li>
			<li>
				<div class='stream'>
					<div class='avatar'><img src='default_img/t100100_file_blank.gif' ></div>
					<span class='author'>hysios</span>
					<p>Rails 4: escape_javascript 可以用 j 这个别名</p>
				</div>
			</li>
			<li>
				<div class='stream'>
					<div class='avatar'><img src='default_img/t100100_file_blank.gif' ></div>
					<span class='author'>hysios</span>
					<p>Rails 4: escape_javascript 可以用 j 这个别名</p>
				</div>
			</li>
			<li>
				<div class='stream'>
					<div class='avatar'><img src='default_img/t100100_file_blank.gif' ></div>
					<span class='author'>hysios</span>
					<p>Rails 4: escape_javascript 可以用 j 这个别名</p>
				</div>
			</li>
			<li>
				<div class='stream'>
					<div class='avatar'><img src='default_img/t100100_file_blank.gif' ></div>
					<span class='author'>hysios</span>
					<p>Rails 4: escape_javascript 可以用 j 这个别名</p>
				</div>
			</li>
			<li>
				<div class='stream'>
					<div class='avatar'><img src='default_img/t100100_file_blank.gif' ></div>
					<span class='author'>hysios</span>
					<p>Rails 4: escape_javascript 可以用 j 这个别名</p>
				</div>
			</li>
			<li>
				<div class='stream'>
					<div class='avatar'><img src='default_img/t100100_file_blank.gif' ></div>
					<span class='author'>hysios</span>
					<p>Rails 4: escape_javascript 可以用 j 这个别名</p>
				</div>
			</li>
			<li>
				<div class='stream'>
					<div class='avatar'><img src='default_img/t100100_file_blank.gif' ></div>
					<span class='author'>hysios</span>
					<p>Rails 4: escape_javascript 可以用 j 这个别名</p>
				</div>
			</li>
			<li>
				<div class='stream'>
					<div class='avatar'><img src='default_img/t100100_file_blank.gif' ></div>
					<span class='author'>hysios</span>
					<p>Rails 4: escape_javascript 可以用 j 这个别名</p>
				</div>
			</li>
			<li>
				<div class='stream'>
					<div class='avatar'><img src='default_img/t100100_file_blank.gif' ></div>
					<span class='author'>hysios</span>
					<p>Rails 4: escape_javascript 可以用 j 这个别名</p>
				</div>
			</li>
			<li>
				<div class='stream'>
					<div class='avatar'><img src='default_img/t100100_file_blank.gif' ></div>
					<span class='author'>hysios</span>
					<p>Rails 4: escape_javascript 可以用 j 这个别名</p>
				</div>
			</li>
			<li>
				<div class='stream'>
					<div class='avatar'><img src='default_img/t100100_file_blank.gif' ></div>
					<span class='author'>hysios</span>
					<p>Rails 4: escape_javascript 可以用 j 这个别名</p>
				</div>
			</li>
			<li>
				<div class='stream'>
					<div class='avatar'><img src='default_img/t100100_file_blank.gif' ></div>
					<span class='author'>hysios</span>
					<p>Rails 4: escape_javascript 可以用 j 这个别名</p>
				</div>
			</li>
			<li>
				<div class='stream'>
					<div class='avatar'><img src='default_img/t100100_file_blank.gif' ></div>
					<span class='author'>hysios</span>
					<p>Rails 4: escape_javascript 可以用 j 这个别名</p>
				</div>
			</li>
			<li>
				<div class='stream'>
					<div class='avatar'><img src='default_img/t100100_file_blank.gif' ></div>
					<span class='author'>hysios</span>
					<p>Rails 4: escape_javascript 可以用 j 这个别名</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
require(['jquery', 'social_sidebar', 'jquery_nanoscroller'], function($, Social){
	var view = new Social.SideBar({el: $("#social_sidebar")});
	// $(".nano").nanoScroller();
})
</script>