<div class="find_people_panel pull-right">
	<span class="tips">请输入用户名、商店名、email <span>
	<input type="text" class="people_input_info"/>
	<button id="find_people" class="btn find_people">找人</button>
</div>
