<div class='newer_panel newer widget'>
  <div>
    <div class="title row-fluid">
      <span style="font-size:25px;font-weight:bold;">新入驻成员</span>
      <div class="find_people_panel pull-right">
          <input type="text" class="people_input_info" placeholder="请输入用户名、商店名或email"/>
          <button id="find_people" class="btn find_people">找用户</button>
      </div>
    </div>
    <div class="hot_region newer row-fluid">
      <strong>热门区域: </strong>
      <span></span>
    </div>
    <div class='alert hide find_people_tip'>没有找到符合要求的用户或商店</div>
  </div>
  <div class="info-wrapper wrapper">
  </div>
</div>
