<div id="myCarousel" class="carousel slide">
	<ol class="carousel-indicators">
		<!-- 	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li> -->
	</ol>
	<div class="carousel-inner">
		<% if @region.nil? || @region.attachments.length < 1 %>
			<div class="item" style="height:250px;">
				<img src="http://lorempixel.com/870/250/nature" style="width:100%"  alt="广告图">
				<div class="carousel-caption">
					<p>欢迎来到万流商务平台商圈板块,如果想投放广告,请联系胡义先生.联系电话:0734-4358808<br/></p>
				</div>
			</div>
		<% else %>
			<% @region.attachments.each do |picture| %>
				<div class="item" style="height:250px">
					<img src="<%=picture.file %>" style="width:100%" alt="广告图">
					<div class="carousel-caption">
						<% unless @region.advertisement.nil? %>
							<p><%= @region.advertisement %> </p>
						<% else %>
							<p>欢迎来到万流商务平台商圈板块,如果想投放广告,请联系胡义先生.联系电话:0734-4358808</p>
						<% end %>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>

<script type="text/javascript">
	$(function(){
		$(".item:first-child").addClass("active")
	})
</script>