<% if @followings.count > 0 %>
<table class="table following-list">
  <thead>
    <tr>
      <th>用户</th>
    </tr>
  </thead>
  <tbody>
    <% @followings.each do | following | %>
      <tr>
        <td>
          <img src="<%=following.user.icon %>" class='img-polaroid' />
          <%=following.user.login %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class='alert'>
    暂无关注用户
  </div>
<% end %>