<div class='followers widget span8'>
  <div class='follow-users span8'>
    <h4 class='title'>被关注</h4>
    <% if @followings.count > 0 %>
      <% @followings.each do |following| %>
        <div class='span2 alert alert-info follow'>
          <img src="<%= following.user.icon %>" class='img-polaroid' />
          <%=following.user.login %>
        </div>
      <% end %>
    <% else %>
      <div class='span2 alert alert-warning'>
        暂时没有被关注
      </div>
    <% end %>
  </div>
</div>