<div class="row">
	<div class="span2 offset3">
		<h4 class="text-right">请上传企业头像:</h4>
	</div>
	<div class="span3">
		<input type="button" class="btn"  value="点击上传">
	</div>
</div>
<div class="row">
	<div class="span2 offset3">
		<h4 class="text-right">请 选 择 行 业:</h4>
	</div>
	<select class="span2">
  	<option>
  		奶 粉
  	</option>
	</select>
</div>