<a href="<%=path %>/{{id}}/circles">
  <div class='photo'>
    <img src="{{header_url}}" />
  </div>
  <div class='info'>
    <div>
      {{name}}
    </div>
    <div>
      {{friend_count}} 个成员
    </div>
  </div>
</a>