<div class="circle">
  <a href="<%=path %>/{{id}}/circles">
    <div class='photo'>
      <img src="{{ photos.header }}" />
    </div>
    <div class='info'>
      <div>
        {{name}}
      </div>
      <div>
        {{friend_count}} 个成员
      </div>
    </div>
  </a>
</div>