<div class='circle_info'>
  <div class="head_img">
    <a href="/communities/{{id}}/circles">
      <img src="{{photos.avatar}}" class="circle_icon" alt="头像"/>
    </a>
  </div>
  <div  class="circle_detail">
    <div class ="circle_name">
      <a href="/communities/{{id}}/circles">
        {{name}}
      </a>
    </div>

    <div class="row-fluid">
      <div class="friends_count span7">
        <span class="circle_count">
          {{friend_count}} 个成员
        </span>
      </div>
      {{#if isSeller }}
        <div class="create_name span5">
          <span><i class="icon-home"></i></span>
          <a href="/shops/{{owner.name}}">
            {{owner.name}}
          </a>
        </div>
      {{else}}        
        <div class="create_name">
          <span><i class="icon-user"></i></span>
          <a href="/people/{{owner.name}}">
            {{owner.login}}
          </a>
        </div>
      {{/if}}
    </div>
    
    <div class="row-fluid">
      <div class="friends_icons span9">
        {{#each friends }}
          <img src="{{photos.icon}}" alt="头像"/>
        {{/each}}
      </div>
      <div class="join span3 pull-right">
        {{#if isOwner }}
          <span class="label label-warning">群主</span>
        {{else}}
          {{#if isJoin }}
            <span class="label label-warning">已加入</span>
          {{else}}
            <a href="javascript:void(0)" data-value-id="{{id}}" class="label label-warning add_circle">加入</a>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>