<div class="controls ">
    <div class="address_select1">
        <span class="m_r">地区</span>
        <select class="address_province_id span3">
            <option>--请选择省--</option>
        </select>
        <select class="address_city_id span3">
            <option>--请选择市--</option>
        </select>
        <select class="address_area_id span3" >
            <option>--请选择市--</option>
        </select>
    </div>
</div>

<script type="text/javascript">
  $(function(){
    new CircleAddressView({
      el: $(".address_select1"),
      province_call: function(){
        <% if circle.city.present? %>
          $(".address_province_id").val(<%=circle.city.parent.parent.id %>).change();
        <% end %>
      },
      city_call: function() {
        this.call_back = null
        <% if circle.city.present? %>
          $(".address_city_id").val(<%=circle.city.parent.id %>).change();
        <% end %>
      },
      area_call: function() {
        this.call_back = null
        <% if circle.city.present? %>
          $(".address_area_id").val(<%=circle.city_id %>);
        <% end %>
      }
    })
  })
</script>