<div class='ask_buy' ask-buy-id='{{id}}' id="ask_buy_{{id}}">
  <div class='out-box'>
    <span class="activity_tag"></span>
    <form>
      <div class='in-box'>
        {{#photos}}
          <img src='{{avatar}}', class="preview a-{{id}}" />
        {{/photos}}
      </div>
      <div class='summary'>
        <h5 class="title href_name">{{title}}</h5>
        <p class='describe'>
          单价 <span class='price'>￥{{price}}</span>
          <span class='amount'>求购 {{amount}}件</span>
        </p>
      </div>
      <div class='userinfo shopinfo'>
        {{#user.photos}}
        <a href="/people/{{user.login}}">
          <img src='{{icon}}', class="author " />
        </a>
        {{/user.photos}}
        <p>
          {{#user}}
          <a href="/people/{{login}}" class="href_name">
            {{login}}
          </a><br />
          {{/user}}
          <span class='notify'>
          </span>
          <!-- <i class='icon-bullhorn join-chat'>聊天</i> -->
        </p>
      </div>
      <div class="buttons">
      </div>
    </form>
  </div>
</div>